	/*
  	Flaticon icon font: Flaticon
  	Creation date: 01/10/2018 20:11
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-black-envelope:before { content: "\f100"; }
.flaticon-locked:before { content: "\f101"; }
.flaticon-user:before { content: "\f102"; }
.flaticon-money:before { content: "\f103"; }
.flaticon-wallet:before { content: "\f104"; }
.flaticon-money-1:before { content: "\f105"; }
.flaticon-payment:before { content: "\f106"; }
.flaticon-pay:before { content: "\f107"; }
.flaticon-money-2:before { content: "\f108"; }
.flaticon-downwards-arrow-key:before { content: "\f109"; }
.flaticon-up-arrow-key:before { content: "\f10a"; }
.flaticon-key:before { content: "\f10b"; }
.flaticon-key-1:before { content: "\f10c"; }