 <!-- File: ./resources/app/js/components/Update.vue -->
    <template>
      <div class="container">
        <form>
          <div :class="['form-group m-1 p-3', successful ? 'alert-success' : '']">
            <span v-if="successful" class="label label-sucess">Updated!</span>
          </div>

          <div :class="['form-group m-1 p-3', error ? 'alert-danger' : '']">
            <span v-if="errors.title" class="label label-danger">
              {{ errors.title[0] }}
            </span>
            <span v-if="errors.body" class="label label-danger">
              {{ errors.body[0] }}
            </span>
          </div>

          <div class="form-group">
            <input type="title" ref="name" class="form-control" id="name" placeholder="Enter title" required>
          </div>

          <div class="form-group">
            <textarea class="form-control" ref="description" id="description" placeholder="Enter a body" rows="8"></textarea>
          </div>

          <button type="submit" @click.prevent="update" class="btn btn-primary block option_button">
            {{submit}}
          </button>
        </form>
      </div>
    </template>

<script>
    export default {
      mounted() {
        this.submit= window.transs('Submit',localStorage.getItem('locale'));
        this.getPost();
      },
      props: {
        postId: {
          type: Number,
          required: true
        }
      },
      data() {
        return {
          error: false,
          successful: false,
          errors: [],
          submit:'',
        };
      },
      methods: {
        update() {
          let name = this.$refs.name.value;
          let description = this.$refs.description.value;

          axios
            .put(sectors/" + this.postId, { name, description })
            .then(response => {
              this.successful = true;
              this.error = false;
              this.errors = [];
            })
            .catch(error => {
              if (!_.isEmpty(error.response)) {
                if ((error.response.status = 422)) {
                  this.errors = error.response.data.errors;
                  this.successful = false;
                  this.error = true;
                }
              }
            });
        },
        getPost() {
          axios.get(sectors/" + this.postId).then(response => {
            this.$refs.name.value = response.data.data.name;
            this.$refs.description.value = response.data.data.description;
          });
        }
      }
    };
    </script>
