<template>
<div>

     <button :class="classes" @click="click(data)" title="Update">

            {{name}}
    </button>

</div>
</template>

<script>
export default {
    props: {
        data: {},
        name: {},
        click: {},
        classes: {},
    }
}

</script>

