<template>
    <div>
       <data-table
    url=user/un_activated"
    ref="datatable"
    :per-page="perPage"
    :columns="columns"
    >


</data-table>
    </div>
</template>

<script>
import CSButton from './ChangeStatusButton.vue';
    export default {

    data() {
        return {
            perPage: ['10', '25', '100'],

            columns: [
                // {
                //     label: 'ID',
                //     name: 'id',
                //     filterable: true,
                //     orderable:true,
                // },
                {
                    label:window.transs('Name',localStorage.getItem('locale')),
                    name: 'name',
                    filterable: true,
                },
                {
                    label:window.transs('Email',localStorage.getItem('locale')),
                    name: 'email',
                    filterable: true,
                },
                                {
                    label:window.transs('Type',localStorage.getItem('locale')),
                    name: 'type',
                    filterable: true,
                },
                                {
                    label:window.transs('Status',localStorage.getItem('locale')),
                    name: 'status',
                    filterable: true,
                },
               {
                label:window.transs('Activate/deactivate',localStorage.getItem('locale')),
                name :window.transs('Change',localStorage.getItem('locale')),
                filterable: false,
                component: CSButton,
                event: "click",
                handler: this.alertMe,
                classes: {
                    'btn': true,
                    'btn-primary': true,
                    'btn-sm': true,
                },
               },

            ]
        }
    },
    components: {
        CSButton,
    },
    methods: {
        alertMe(data) {

            axios.get(user/change_status/" + data.id).then();
            this.$refs.datatable.getData();

        }
    },
}

</script>
<style>
.table td, .table th{
    text-align: center !important;
}
</style>
