<template>
    <select
        class="form-control"
        v-model="tableData.length">
        <option
            :key="index"
            :value="records"
            v-for="(records, index) in perPage">
            {{ records }}
        </option>
    </select>
</template>

<script>
    export default {

    props: [
        "tableData", "perPage"
    ]
}

</script>
<style>
.table td, .table th{
    text-align: center !important;
}
</style>
