<template>
  <div class="small">
    <line-chart :chart-data="datacollection" :options="opt"></line-chart>

  </div>
</template>

<script>
  import LineChart from '../LineChart.js'

  export default {
    components: {
      LineChart
    },

    data () {
      return {
        datacollection: null,
           opt:{

responsive: true,
        maintainAspectRatio: true,
        title: {
          display: true,
          text: "My Data"
        }
    },
      }
    },
    mounted () {
      this.fillData()
    },
    methods: {
      fillData () {
        this.datacollection = {
          labels: [
          "January",
          "February",
          "March",
          "April",
          "May",
          "June",
          "July"
        ],
          datasets: [
             {
            label: "Data 1",
            data: [2, 10, 5, 9, 0, 6, 20],
            backgroundColor: "transparent",
            borderColor: "#1AD9C7",
            pointBackgroundColor: "#263238"
          }
          ]
        }
      },
      getRandomInt () {
        return Math.floor(Math.random() * (50 - 5 + 1)) + 5
      }
    }
  }
</script>

<style>
  .small {
    max-width: 600px;
    margin:  150px auto;
  }
</style>
