<template>

  <div class="container">
  <div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
        <h3 style="text-align:center; margin-top:3%;">{{title}}</h3>
      <pie-chart :chart-data="piecollection" :options="opt"></pie-chart>
    </div>
    <div class="col-sm-4">

    </div>
  </div>
  <form v-if="meta == 'evaluator' || meta == 'super_evaluator' ">
    <div class="row" v-if="meta == 'evaluator' || meta == 'super_evaluator'">

             <div class="col-sm-4" style="font-size:18px;">
                 <label> {{From}} </label>
                    <br>
                <input type="date" class="form-control" ref="from" />
    </div>
    <div class="col-sm-4" style="font-size:18px;">
            <label> {{to}} </label>
            <br>
                <input type="date" class="form-control" ref="to" />
    </div>
    <div class="col-sm-4" style="font-size:18px;">
        <label> {{status}} </label>
        <br>
          <select class="form-control" ref="status" @change="onChange($event)" >
                    <option value="" data-hidden="true">{{All}}</option>
                    <option value='new'>{{NEW}}</option>
                    <option value='processing'>{{processing}}</option>
                    <option value='processed'>{{processed}}</option>
                    <option value='refused'>{{refused}}</option>
                    <option value='returned'>{{returned}}</option>
                    <option value='initial_acceptance'>{{initial_acceptance}}</option>
                    <option value='accepted'>{{accepted}}</option>

                </select>
                <input type="hidden" ref="status_input" />

    </div>
  </div>
  <div class="row">

             <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
     <button  @click.prevent="search" class="btn btn-primary block option_button" style="    width: 50%;
    margin-left: 25%;
    margin-right: 25%;">
            {{Export}}
          </button>

    </div>
    <div class="col-sm-4">

    </div>
  </div>
  </form>
</div>
</template>

<script>

  import PieChart from '../PieChart.js'

  export default {
    components: {

      PieChart
    },

    data () {
      return {
        datacollection: null,
        barcollection:null,
        piecollection:null,
        processed:'',
        processing:'',
        new:'',
        refused:'',
        title:'',
        Export:'',
        counts:[],
          NEW:'',
                processing:'',
                processed:'',
                refused:'',
                returned:'',
                initial_acceptance:'',
                accepted:'',
                All:'',
                request_number:'',
                From:'',
                to:'',
                status:'',
                Status:'',
                meta:'',
     opt:{
        responsive: true,
        maintainAspectRatio: true,
        title: {
          display: false,
          text: 'this.title'
        }
    },
      }
    },
    mounted () {
        this.processed = window.transs('Processed',localStorage.getItem('locale'));
      this.processing = window.transs('Processing',localStorage.getItem('locale'));
      this.new = window.transs('New',localStorage.getItem('locale'));
      this.refused = window.transs('Refused',localStorage.getItem('locale'));
       this.title = window.transs('Requests Status',localStorage.getItem('locale'));
       this.Export = window.transs('Export',localStorage.getItem('locale'));
           this.processing= window.transs('Processing',localStorage.getItem('locale'));
            this.NEW= window.transs('New',localStorage.getItem('locale'));
            this.processed= window.transs('Processed',localStorage.getItem('locale'));
            this.refused= window.transs('Refused',localStorage.getItem('locale'));
            this.returned= window.transs('Returned',localStorage.getItem('locale'));
            this.initial_acceptance= window.transs('Initial Acceptance',localStorage.getItem('locale'));
            this.accepted= window.transs('Accepted',localStorage.getItem('locale'));
            this.All= window.transs('All',localStorage.getItem('locale'));
            this.request_number= window.transs('Request Number',localStorage.getItem('locale'));
            this.From= window.transs('From',localStorage.getItem('locale'));
            this.to= window.transs('To',localStorage.getItem('locale'));
            this.status= window.transs('Status',localStorage.getItem('locale'));

      this.fillData();
      this.getUser();

    },
    methods: {
      fillData () {

          axios.get("/ta2shera/public/api/user/my_requests_count").then(response => {


                this.piecollection = {
        labels: [this.processed,this.processing,this.new,this.refused],
         datasets: [
          {
            backgroundColor: ["#1AD9C7", "#263238", "#526d7a","#f00505"],
            data:response.data
          }
        ]
        }

             });


      },
       onChange(e) {

              this.$refs.status_input.value = e.target.value;
          },

      search(){
          const params = new URLSearchParams();
        params.append('from', this.$refs.from.value);
        params.append('to', this.$refs.to.value);
        params.append('status', this.$refs.status_input.value);

           var formData = new FormData();
            formData.append("from", this.$refs.from.value);
            formData.append("to", this.$refs.to.value);
            formData.append("status", this.$refs.status_input.value);


          axios.post("/ta2shera/public/api/exportStatistics/?from="+this.$refs.from.value+"&&to="+this.$refs.to.value+"&&status="+this.$refs.status_input.value)
            .then(response => {
                window.open("/ta2shera/public/api/exportStatistics/?from="+this.$refs.from.value+"&&to="+this.$refs.to.value+"&&status="+this.$refs.status_input.value);
            })
      },
       getUser(){
             axios.get("/ta2shera/public/api/user/get_type").then(response=>{
             this.meta=response.data;

                 });
        }

    }
  }
</script>

<style>
  .small {
    max-width: 600px;
    margin:  150px auto;
  }
</style>
