    <!-- File: ./resources/app/js/components/Create.vue -->
    <template>
      <div class="container">
        <form >

          <div :class="['form-group m-1 p-3', (successful ? 'alert-success' : '')]">
            <span v-if="successful" class="label label-sucess">Published!</span>
          </div>
          <div :class="['form-group m-1 p-3', error ? 'alert-danger' : '']">
            <!-- <span v-if="errors.name" class="label label-danger">
              {{ errors.name[0] }}
            </span> -->


          </div>

          <div class="form-group">
            <input type="title" ref="title" class="form-control" id="name" :placeholder="Title" required>
          </div>
            <div class="form-group">
            <textarea  ref="description" class="form-control" id="description" :placeholder="Description" required>
          </div>

           <div class="form-group">
            <input type="file" @change="selectFile">
          </div>



            <div class="form-group">
            <input type="hidden" ref="type" class="form-control" id="type" value="trader" >
            <input type="hidden" ref="status" class="form-control" id="status" value="active" >

          </div>





          <button type="submit" @click.prevent="create" class="btn btn-primary block option_button">
            {{Submit}}
          </button>
        </form>
      </div>
    </template>


    <script>
    export default {
      props: {

      },
      data() {
        return {
          sector: 0,
          sectors: [],
           sectors: [],
           sector: '',
          error: false,
          successful: false,
          errors: [],
          Name:'',
          Email:'',
          password:'',
          Select_Sector:'',
          Submit:'',
          photo:null,
        };
      },
      mounted() {
         this.loadsectors(),
          this.Title = window.transs('Title',localStorage.getItem('locale'));
          this.Description = window.transs('Description',localStorage.getItem('locale'));
          this.Submit = window.transs('Submit',localStorage.getItem('locale'));
          this.password = window.transs('password',localStorage.getItem('locale'));
          this.Select_Sector = window.transs('Select Sector',localStorage.getItem('locale'));
      },

      methods: {


        create() {
          const formData = new FormData();
          formData.append("name", this.$refs.name.value);
          formData.append("password", this.$refs.password.value);
          formData.append("type", this.$refs.type.value);
          formData.append("status", this.$refs.status.value);
          formData.append("sector", this.$refs.sector.value);


          axios
            .post("/ta2shera/public/api/users", formData)
            .then(response => {
              this.successful = true;
              this.error = false;
              this.errors = [];
            })
            .catch(error => {
              if (!_.isEmpty(error.response)) {
                if ((error.response.status = 422)) {
                  this.errors = error.response.data.errors;
                  this.successful = false;
                  this.error = true;
                }
              }
            });

           this.$refs.name.value;
           this.$refs.email.value;
           this.$refs.password.value;
           this.$refs.type.value;
           this.$refs.status.value;

        },


          selectFile(event) {
            // `files` is always an array because the file input may be in multiple mode
            this.photo = event.target.files[0];
        }

      }
    };
    </script>
