<!-- File: ./resources/app/js/components/Read.vue -->
    <template>

        <div id="users">
             <router-link :to="{ name: 'traderCreate'}">
                    <button type="button" v-if="meta == 'system_user'" class="btn btn-primary option_button" >
                    {{add_sector}}</button>
                    </router-link>
 <data-table


     url="/ta2shera/public/api/admin/list_traders"
    ref="datatable"
    :per-page="perPage"
    :columns="columns"

    >
</data-table>
        </div>
    </template>
<script>
    import CSButton from '../users/datatable/ChangeStatusButton.vue';
    import DeleteButton from '../users/datatable/DeleteButton.vue';
    import UpdateButton from '../users/datatable/UpdateButton.vue';
    export default {

    data() {
        return {
            meta:'',
            add_sector:'',
            perPage: ['10', '25', '100'],

           // url: "/ta2shera/public/api/admin/list_admins",
           // data:{},
         /*  tableProps: {
                search: '',
                length: 10,
                column: 'id',
                dir: 'asc'
            },*/
            columns: [
                // {
                //     label: 'ID',
                //     name: 'id',
                //     filterable: true,
                //     orderable:true,
                // },
                {
                    label:window.transs('Name',localStorage.getItem('locale')),
                    name: 'name',
                    filterable: true,
                },
                {
                    label:window.transs('Email',localStorage.getItem('locale')),
                    name: 'email',
                    filterable: true,
                },
                                {
                    label:window.transs('Type',localStorage.getItem('locale')),
                    name: 'type',
                    filterable: true,
                },
                                {
                    label:window.transs('Status',localStorage.getItem('locale')),
                    name: 'status',
                    filterable: true,
                },
               {
                label:window.transs('Activate/deactivate',localStorage.getItem('locale')),
                name :window.transs('Change',localStorage.getItem('locale')),
                filterable: false,
                component: CSButton,
                event: "click",
                handler: this.alertMe,
                classes: {
                    'btn': true,
                    'btn-primary': true,
                    'btn-sm': true,
                },
               },
               {
                label: '',
                name :window.transs('Update',localStorage.getItem('locale')),
                filterable: false,
                component: UpdateButton,
                event: "click",
                handler: this.update,
                classes: {
                    'btn': true,
                    'btn-primary': true,
                    'btn-sm': true,
                },

               },{
                label: '',
                name :window.transs('Delete',localStorage.getItem('locale')),
                filterable: false,
                component: DeleteButton,
                event: "click",
                handler: this.deleteUser,
                classes: {
                    'btn': true,
                    'btn-danger': true,
                    'btn-sm': true,
                },
               }

            ]
        }
    },
    mounted(){
                this.add_sector = window.transs('Add',localStorage.getItem('locale')),
                this.getUser();
    },
    components: {
        CSButton,
        DeleteButton,
    },
    methods: {
        getUser(){
             axios.get("/ta2shera/public/api/user/get_type").then(response=>{
             this.meta=response.data;
                 });
        },
       getData(url = this.url, options = this.tableProps) {
            axios.get(url, {
                params: options
            })
            .then(response => {
                this.data = response.data;
            })
            // eslint-disable-next-line
            .catch(errors => {
                //Handle Errors
            })
        },

        alertMe(data) {
            axios.get("/ta2shera/public/api/user/change_status/" + data.id).then();
            this.$refs.datatable.getData();

        },
        deleteUser(data){
            axios.delete("/ta2shera/public/api/admin/" + data.id).then();
            this.$refs.datatable.getData();

        },
        update(data){
           this.$router.push('/ta2shera/public/admin/admins/edit/'+ data.id) ;
        }
    },
    created: function(){
            this.getData(this.url);
        }
}

</script>
<style>
.table td, .table th{
    text-align: center !important;
}
</style>
