/* checkbox */
@font-face {
    font-family: Tajawal;
    src: url(../fonts/Tajawal-Medium.ttf);
  }
.checkbox input[type="checkbox"] + i:before, .radio input[type="radio"] + i:before {
    bottom: auto !important;
}
/* popover */
.popover.show {
    top: -8px !important;
    box-shadow: 0 .125rem .25rem rgba(51,65,74,.5)!important;
}
.popover {
    z-index: 999;
    border-color: #1AD9C7;
    background-color: #1AD9C7;
}
.bs-popover-auto[x-placement^=top] .arrow::after, .bs-popover-auto[x-placement^=top] .arrow::before, .bs-popover-top .arrow::after, .bs-popover-top .arrow::before {
    border-width: 1.25rem 1.25rem 0;
}
.bs-popover-auto[x-placement^=top] .arrow::after, .bs-popover-top .arrow::after {
    bottom: 1px;
    border-top-color: #1AD9C7;
}
.bs-popover-auto[x-placement^=top] .arrow, .bs-popover-top .arrow {
    bottom: calc((1.25rem + 1px) * -1);
}
.popover-header {
    padding: .7rem 3.75rem;
    font-size: 1.8rem;
}
.popover-body {
    font-size: 1.4rem;
    padding: .7rem 3.75rem;
    color: #fff !important;
}
.mfp-content,
.mfp-container,
.mfp-content * {
    text-align: center !important;
}
.bootstrap-datetimepicker-widget .picker-switch td span, .bootstrap-datetimepicker-widget .picker-switch td i {
    text-align: center;
}
.bootstrap-datetimepicker-widget {
    direction: ltr;
    font-size: 1.5rem;
}
.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #1AD9C7;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.form-control:disabled, .form-control[readonly] {
    background-color: #F2F2F2;
}
.form-control::-webkit-input-placeholder{
    color:#6c757d;
    opacity:.7;
}
.form-control::-moz-placeholder{
    color:#6c757d;
    opacity:.7;
}
.form-control:-ms-input-placeholder{
    color:#6c757d;
    opacity:.7;
}
.form-control::-ms-input-placeholder{
    color:#6c757d;
    opacity:.7;
}
.form-control::placeholder{
    color:#6c757d;
    opacity:.7;
}
textarea.form-control {
    height: auto !important;
}
.form-control.text_height_big {
    height: calc(16.25rem + 2px) !important;
    padding-right: 5.5rem !important;
    padding-left: 5.5rem !important;
}
input.parsley-error,
textarea.parsley-error,
select.parsley-error,
input.parsley-error
{
    color: #B94A48 !important;
    /*background-color: #F2DEDE !important;
    border: 1px solid #EED3D7 !important;*/
    border-color: rgba(215, 102, 102, 0.9) !important;
}
.bootstrap-select .dropdown-menu.inner {
    text-align: right;
}
.bootstrap-select>.dropdown-toggle {
    height: 100%;
}
.bootstrap-select>.dropdown-toggle.btn-light {
    background-color: #e9edf1;
    border-color: #1AD9C7;
}
.dropdown-toggle::after {
    font-size: 2.5rem;
    margin-top: .255em;
}
.bootstrap-select .dropdown-toggle .filter-option {
    font-size: 2rem;
}
.bootstrap-select .dropdown-menu {
    font-size: 1.8rem;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: #1AD9C7;
}
.bootstrap-select>.dropdown-toggle.btn.focus,
.bootstrap-select>.dropdown-toggle.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}
.checkbox_error .parsley-errors-list {
    right: .8rem;
    left: auto;
}
*[dir="ltr"] .checkbox_error .parsley-errors-list {
    right: auto;
    left: .8rem;
}
.checkbox_error .parsley-errors-list.filled::after {
    right: .2rem;
    left: auto;
}
*[dir="ltr"] .checkbox_error .parsley-errors-list.filled::after {
    left: .2rem;
    right: auto;
}
.parsley-errors-list {
    position: absolute;
    top: -3.3rem;
    left: .5rem;
}
*[dir="ltr"] .parsley-errors-list {
    right: .5rem;
    left: auto;
}
.parsley-errors-list.filled {
    list-style: none !important;
    padding: .3rem;
    font-size: 1.3rem;
    margin-bottom: 0 !important;
    background: rgba(215, 102, 102, 0.9);
    z-index: 2;
    color: #FFF;
    border-radius: 3px;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
.parsley-errors-list.filled::after {
    /* triangle */
    content: '';
    position: absolute;
    left: .2rem;
    bottom: -30%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid rgba(215, 102, 102, 0.9);
}
*[dir="ltr"] .parsley-errors-list.filled::after {
    right: .2rem;
    left: auto;
}
.checkbox input[type="checkbox"] {
    opacity: 0;
    display: none;
}
.checkbox_label {
    font-size: 1.7rem;
    cursor: pointer;
}
.checkbox_span:before {
    font-family: 'FontAwesome';
    content: "\f096";
    color: #888888;
    opacity: 1;
}
.checkbox input[type="checkbox"]:checked + .checkbox_label i:before {
    font-family: 'FontAwesome';
    content: "\f046";
    color: #1AD9C7;
}
.checkbox input[type="checkbox"]:checked + .checkbox_label .checkbox_span:after {
    opacity: 1;
    font-family: 'FontAwesome';
    content: "\f046";
    color: #1AD9C7;
    transition: opacity .2s;
}
.checkbox input[type="checkbox"]:checked + .checkbox_label .checkbox_span:before {
    opacity: 0;
    display: none;
}
/* general */
html {
    font-size: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}
html,body {
    font-family: 'Tajawal', sans-serif !important;
    padding: 0;
    margin: 0;
    height: 100%;
/*    -webkit-touch-callout: none; !* iOS Safari *!
    -webkit-user-select: none; !* Safari *!
    -khtml-user-select: none; !* Konqueror HTML *!
    -moz-user-select: none; !* Firefox *!
    -ms-user-select: none; !* Internet Explorer/Edge *!
    user-select: none; !* Non-prefixed version, currently supported by Chrome and Opera *!*/
    background-color: #F2F2F2;
}
*[dir="ltr"] *{
    text-align: left;
}
*[dir="rtl"] *{
    text-align: right;
}
*[dir="ltr"] .pull-right {
    float: left;
}
*[dir="ltr"] .pull-left {
    float: right;
}
@media (min-width: 1200px) {
    *[dir="ltr"] .offset-xl-6 {
        margin-left: 0 !important;
        margin-right: 50%;
    }
}

.selectric {
    height: calc(4.25rem + 2px) !important;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.selectric .label {
    line-height: unset !important;
    font-size: 1.5rem;
    height: calc(4.25rem + 2px) !important;
    padding: 1rem 1.5rem !important;
}
.selectric .button {
    height: 40px;
    width: 40px;
}
.selectric-items ul, .selectric-items li {
    font-size: 1.4rem;
}
.selectric-items li:after {
    content: "\f00c"!important;
    font-family: "FontAwesome";
    font-size: 2rem;
    color: #fff !important;
    background: none !important;
    margin: 4px;
}
.selectric-items li.highlighted,
.selectric-items li.selected {
    background-color: rgba(199,168,88,.7);
    color: #fff;
}
.selectric-items li.highlighted:hover {
    background-color: rgba(199,168,88,.7);
}
.selectric-items li:hover {
    background-color: rgba(199,168,88,.2);
}
.toggle_language_site {
    box-shadow: none !important;
    outline: none !important;
    padding: .7rem 1rem;
    font-size: 1.5rem;
    background-color: #2b2c7f;
    color: #fff !important;
}
.toggle_language_site_light {
    box-shadow: none !important;
    outline: none !important;
    padding: .7rem 1rem;
    font-size: 1.5rem;
    background-color: #dee2e6;
    color: #2b2c7f !important;
}
.toggle_language_site.btn-divider-right:before,
.toggle-menu-user.btn-divider-right:before {
    right: auto;
}
.equal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.equal > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
.center-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cd-section {
    /* vertically align its content*/
    display: table;
    width: 100%;
    height: 100vh;
}
.cd-section > div {
    /* vertically align <div> inside <section> */
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.btn-global:link,
.btn-global:visited,
.btn-global:active,
.btn-global:focus {
    text-decoration: none;
    padding: .7rem 2rem;
    font-size: 1.5rem;
    transition: all .3s ease-in-out;
}
.btn-border-green {
    border-radius: 3px !important;
    border: 1px solid #1AD9C7!important;
}
.btn-border-rounded-green {
    border-radius: 10rem !important;
    border: 1px solid #1AD9C7!important;
}
.btn-border-rounded-white {
    border-radius: 10rem !important;
    border: 1px solid #fff !important;
}
.btn-white-color {
    color: #fff;
}
.btn-green-color {
    color: #1AD9C7!important;
}
.bg-btn-green {
    background: #1AD9C7!important;
}
.bg-btn-white {
    background: #fff !important;
}
.btn-green-color:hover {
    color: #fff !important;
    background-color: #1AD9C7!important;
    border-color: #1AD9C7!important;
    opacity: .8 !important;
}
.btn-white-color:hover {
    color: #fff;
    background-color: #1AD9C7;
    border-color: #1AD9C7;
    opacity: .8;
}

.btn-divider-right:before {
    position: absolute;
    right: -1rem;
    display: inline-block;
    width: 1px;
    height: 3.7rem;
    top: 0;
    margin-right: -2rem;
    content: "";
    background-color: #ddd;
}
*[dir="ltr"] .btn-divider-right:before {
    margin-right: 0;
    right: auto;
    left:  -1rem;
}
.bg-padding-btn {
    padding: .7rem 4rem !important;
    font-size: 2.2rem !important;
}
/* end general */

/* pre-loader */
#pre-loader {
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
#status img {
    height: 10rem;
}
/* end pre-loader */

/* navbar */
.nav-item {
    font-size: 2rem;
}
.nav-item:not(:last-child){
    margin-left: 1.5rem;
}
*[dir="ltr"] .nav-item:not(:last-child){
    margin-right: 1.5rem;
    margin-left: 0;
}
.nav-item:last-child {
    margin-left: 1rem;
}
*[dir="ltr"] .nav-item:last-child {
    margin-left: 0;
    margin-right: 1rem;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.7);
    transition: all .4s ease-in-out;
}
.navbar-light .navbar-nav.active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #1AD9C7!important;
    border-radius: 1px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:active {
    color: #1AD9C7;
    border-radius: 1px;
}
.navbar-toggler {
    font-size: 2rem;
}
*[dir="ltr"] .navbar-nav.mr-auto {
    margin-left: auto!important;
    margin-right: 0 !important;
}
.product-logo {
    margin-right: 54rem !important;
}
*[dir="ltr"] .product-logo {
    margin-right: 0 !important;
    margin-left: 54rem !important;
}
header .dropdown-toggle {
    background: none;
    box-shadow: none;
    outline: none;
    font-size: 1.6rem;
}
header .btn.dropdown-toggle {
    background: none;
    box-shadow: none;
    outline: none;
}
header .dropdown-toggle::after {
    border: none;
}
header .dropdown-menu {
    font-size: 1.8rem !important;
    margin-left: 1rem;
    width: 20rem;
}
header button[aria-expanded='true'] i:before {
    content: "\f106";
    font-family: "FontAwesome";
}
.btn_home_header {
    margin-left: 1rem;
}
*[dir="ltr"] .btn_home_header{
    margin-right: 1rem;
    margin-left: 0;
}

.navbar-collapse.collapse.show > ul {
    margin: 2rem 0;
    padding: 0 !important;

}
.navbar-collapse.collapse.show > ul li {
    margin-right: 0 !important;
    margin-left: 0 !important;

}
.navbar-collapse.collapse.show > ul li a {
    text-align: center !important;

}
.navbar-collapse.collapse.show > ul li div > a {
    display: block !important;
}
.navbar-collapse.collapse.show > ul li div {
    padding-bottom: .7rem;
}
.navbar-collapse.collapse.show > ul li:nth-last-child(2) div {
    border-bottom: 1px solid #eee;
    padding-bottom: .7rem;
}
.navbar-collapse.collapse.show > ul li:last-child div {
    margin-top: .7rem;
}
.navbar-collapse.collapse.show > ul li a.btn-divider-right:before {
    display: none !important;
}
/* end navbar */

/* Home */
.circle-shape-image {
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    background-color: rgb(255,255,255);
}
#Home {
    padding: 5rem 0 0 0;
}
.card_home_cover_dark {
    background-color: rgba(255,255,255,0.8);
    padding: 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 5px;
    transition: all .3s ease-in-out;
}
.card_home_cover_dark .circle-shape-image {
    background-color: transparent !important;
    transition: all .4s ease-in-out;
}
.card_home_cover_dark .circle-shape-image {
    background-color: #fff !important;
}
.card_home_cover_dark {
    background-color: rgba(0,0,0,.5);
}
.card_home_cover_dark * {
    color: #fff !important;
}
.cover-home {
    position: relative;
    padding: 5rem 0;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url("../img/cover.png");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.inner-div {
    height: 100%;
    display: table;
    width: 100%;
}
.inside-inner-div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.title-home-section {
    font-weight: 700;
    font-size: 6rem;
    word-spacing: .8rem;
}
.btns-home-section {
    margin-top: 5rem;
}
/* end Home */

/* about product */
.wrapper-section {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.title-about-section h1 {
    font-size: 3.5rem;
}
.title-about-section h1:after {
    content: "";
    display: block;
    height: .5rem;
    width: 8.5rem;
    background-color: #1AD9C7;
    margin-top: 1rem;
}
.title-about-section p {
    line-height: 160%;
    font-size: 2rem;
}
/* end about product */

/* Footer */
#contactUs {
    background-color: #2b2c7f;
}
.wrapper-footer {
    height: 100%;
}
.logo-footer {
    padding-top: 2.5rem;
    height: 7rem;
    margin-bottom: 4.5rem;
}
.logo-footer > img {
    height: 7rem;
    padding: .5rem;
}
.text-footer-about {
    font-size: 2rem;
    line-height: 155%;
    color: rgba(255,255,255,.9);
}
.btn-circle-shape {
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
}
.twitter-btn {
    background-color: #1DA1F2;
}
.instagram-btn {
    background-color: #CD2E94;
}
.facebook-btn {
    background-color: #3B5998;
}
.icon-social {
    font-size: 3.5rem;
    color: #fff;
}
.social-link:link,
.social-link:visited,
.social-link:focus,
.social-link:active {
    text-decoration: none;
    transition: all .4s ease-in-out;
}
.social-link:hover .btn-circle-shape{
    opacity: .8;
}
.footer-bottom {
    margin-top: 5rem;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    color: rgba(255,255,255,.7);
}
/* end footer */

/* login page */
#body-home-login {
    height: auto !important;
}
#Home-Login.cd-section {
    margin-top: 10rem;
    height: auto !important;
}
.margin-section.cd-section {
    margin-top: 10rem;
    margin-bottom: 10rem;
    height: auto !important;
}
#Home-Login.cd-section > div {
    display: block !important;
}
.form-group.sm {
    margin-bottom: 1rem;
}
.form-group {
    width: 100%;
    position: relative;
    margin-bottom: 2.5rem;
}
.form-control.sm {
    height: calc(3.25rem + 2px) !important;
    font-size: 1.5rem;
    padding-right: 1.5rem;
}
*[dir="ltr"] .form-control.sm {
    padding-right: 0;
    padding-left: 1.5rem !important;
}
.form-control {
    height: calc(4.25rem + 2px) !important;
    font-size: 1.8rem;
    padding-right: 5.5rem;
}
*[dir="ltr"] .form-control {
    padding-right: 0;
    padding-left: 5.5rem;
}
.search_input {
    height: calc(3.5rem + 2px) !important;
    font-size: 1.5rem;
}
.btn_search.btn {
    outline: none !important;
}
.btn_search {
    border: 2px solid rgba(199,168,88,.9);
    border-radius: .25rem;
    height: calc(3.5rem + 2px) !important;
    box-shadow: 0 .250rem .5rem rgba(0,0,0,.075)!important;
    font-size: 1.5rem;
    background-color: rgba(199,168,88,.9);
    margin-top: -.5rem;
    color: #fff;
    padding: 0 2rem;
    transition: all .4s ease-in-out;
}
.btn_search:hover {
    background-color: #1AD9C7;
    color: #fff !important;
}
.padding-left-password-input {
    padding-left: 5.5rem;
}
*[dir="ltr"] .padding-left-password-input {
    padding-right: 5.5rem;
}
.div-show-hidden-char-password,
.number966_div {
    position: absolute;
    left: 0;
    height: 65%;
    width: 5rem;
}
*[dir="ltr"] .div-show-hidden-char-password,
*[dir="ltr"] .number966_div {
    right: 0;
    left: auto;
}
.div-show-hidden-char-password button {
    cursor: pointer;
    height: 100%;
    width: 100%;
    outline: none;
    box-shadow: none;
    border: none;
    background-color: transparent;
    font-size: 1.9rem;
    color: #929292;
}
.change-icon-show-password:before {
    content: "\f070";
    font-family: "FontAwesome";
}
.div-show-hidden-char-password button:before {
    position: absolute;
    right: 0;
    display: inline-block;
    width: 1px;
    bottom: .4rem;
    top: .5rem;
    content: "";
    background-color: #ddd;
}
*[dir="ltr"] .div-show-hidden-char-password button:before {
    left: 0;
    right: auto;
}
.number966_div label {
    height: 100%;
    width: 100%;
    outline: none;
    box-shadow: none;
    border: none;
    background-color: transparent;
    font-size: 1.8rem;
    padding-top: .8rem;
    color: #929292;
}
.number966_div label:before {
    position: absolute;
    right: 0;
    display: inline-block;
    width: 1px;
    height: 3.5rem;
    bottom: .4rem;
    top: .5rem;
    content: "";
    background-color: #ddd;
}
*[dir="ltr"] .number966_div label:before {
    left: 0;
    right: auto;
}
.icon-form-group {
    position: absolute;
    right: .8rem;
    top: .4rem;
}
*[dir="ltr"] .icon-form-group {
    right: auto;
    left: .8rem;
}
.icon-file-btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20%;
    background-color: #2b2c7f;
    border: 1px solid #ced4da;
    border-left: none;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
.icon-file-btn label {
    cursor: pointer;
    color: #fff;
    display: block;
    font-size: 1.8rem;
    height: 100%;
    width: 100%;
    padding: .7rem 1.5rem;
}
.icon-form-group .icon-input-form {
    font-size: 3.4rem;
    color: #1AD9C7;
    opacity: .5;
}
.icon-form-group .icon-input-form.disable {
    color: #000;
}
.label-form {
    font-size: 1.7rem;
    color: #2b2c7f;
}
.label-form.sm {
     font-size: 1.4rem;
     color: #2b2c7f;
 }
.circle-shape-icon {
    border-radius: 50%;
    height: 9rem;
    width: 9rem;
    border: 1px solid #1AD9C7;
}
.logo-circle-svg {
    height: 6rem;
}
.form-login {
    /*transform-style: preserve-3d;
    transition: all 1s ease-in-out;*/
}
.btn-nav {
    text-decoration: none;
    font-size: 1.6rem;
}
.btn-nav:hover {
    text-decoration: none;
    color: #2b2c7f;
}
.form-control:focus {
    border-color: #1AD9C7;
    box-shadow: none;
}
.form-control:focus ~ .icon-form-group .icon-input-form {
    opacity: 1;
}
#Home-Login .btn-white-color:hover {
    color: #fff;
    background-color: #1AD9C7;
    border-color: #1AD9C7;
    opacity: .8;
}
.iziToast-wrapper-topCenter > .iziToast-capsule,
.iziToast-wrapper-center > .iziToast-capsule {
    text-align: center;
}
.iziToast-wrapper-bottomLeft > .iziToast-capsule {
    text-align: left;
}
*[dir="ltr"] .iziToast-wrapper-bottomLeft > .iziToast-capsule {
    text-align: right;
}
.iziToast-wrapper-topRight > .iziToast-capsule {
    text-align: left;
}
*[dir="ltr"] .iziToast-wrapper-topRight > .iziToast-capsule {
    text-align: right;
}
.iziToast-wrapper-topCenter,
.iziToast-wrapper-topLeft,
.iziToast-wrapper-topRight {
    margin-top: 6.5rem;
    font-family: 'Tajawal', sans-serif !important;
}
.iziToast>.iziToast-body .iziToast-message, .iziToast>.iziToast-body .iziToast-title {
    font-size: 2rem !important;
}
.iziToast-body .iziToast-icon {
    background-size: 100% !important;
    -webkit-background-size: 100% !important;
}
/*#Home-Login .front-box,
#Home-Login .back-box {
    padding: 4rem 2rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
#Home-Login .back-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
}
#Home-Login .flip-card {
    transform: rotateY(180deg);
}*/
/* end login page */

/* Home reset Password */
#body-Reset-Password {
    height: auto !important;
}
#Home-Reset-Password.cd-section {
    margin-top: 10rem;
    height: auto !important;
}
#Home-Reset-Password.cd-section > div {
    display: block !important;
}
#Home-Reset-Password .btn-white-color:hover {
    color: #fff;
    background-color: #1AD9C7;
    border-color: #1AD9C7;
    opacity: .8;
}
/* end reset Password */

/* register */
#body-Home-Register {
    height: auto !important;
}
#Home-Register.cd-section {
    margin-top: 10rem;
    height: auto !important;
}
#Home-Register.cd-section > div {
    display: block !important;
}
#Home-Register .btn-white-color:hover {
    color: #fff;
    background-color: #1AD9C7;
    border-color: #1AD9C7;
    opacity: .8;
}
#register-form-investor,
#register-form-client {
    padding: 4rem 2rem;
}
.btn-style-toggle.left-btn {
    border-top-right-radius: unset;
}
*[dir="ltr"] .btn-style-toggle.left-btn {
    border-top-right-radius: .25rem;
    border-top-left-radius: unset;
}
.btn-style-toggle.right-btn{
    border-top-left-radius: unset;
}
*[dir="ltr"] .btn-style-toggle.right-btn{
    border-top-left-radius: .25rem;
    border-top-right-radius: unset;
}
.btn-style-toggle {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    background-color: #f8f9fa!important;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    display:block;
    width: 100%;
    font-size: 2rem;
    color: #9b9c9d;
    transition: all .3s ease-in-out;
}
.btn-style-toggle:focus {
    box-shadow: none;
    outline: none;
}
.btn-style-toggle:hover {
    background-color: #1AD9C7!important;
    color: #fff !important;
    opacity: 1;
}

.active-btn-toggle {
    background-color: #fff!important;
    color: #2b2c7f !important;
    /* border-bottom-left-radius: 30px; */
    /* box-shadow: 5px 4px 2px #eee; */
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1) !important;
    border-bottom: 4px solid #1AD9C7;
}
*[dir="rtl"] .active-btn-toggle.right-btn {
    border-top-left-radius: 50px !important;
}
*[dir="rtl"] .active-btn-toggle.left-btn {
    border-top-right-radius: 50px !important;
}
*[dir="ltr"] .active-btn-toggle.right-btn {
    border-top-right-radius: 50px !important;
}
*[dir="ltr"] .active-btn-toggle.left-btn {
    border-top-left-radius: 50px !important;
}
/* end register */
/* admin login */
#body-admin-login {
    background-color: #2b2c7f !important;
}
#Admin-Login.cd-section {
    height: auto !important;
}
#Admin-Login.cd-section > div {
    display: block !important;
}
#body-admin-login .logo-top {
    height: 6rem;
}
#Admin-Login .btn-white-color:hover {
    color: #fff;
    background-color: #1AD9C7;
    border-color: #1AD9C7;
    opacity: .8;
}
/* end admin login */
/* home client */
.side-menu ul{
    padding: 0;
    list-style: none;
    margin: 0;
}
.side-menu ul li a{
    color: #585858;
    padding: 10px;
    border-top: 1px solid #f1f1f1;
    display: block;
    font-size: 1.5rem;
    text-align: center;
    transition: all .3s ease-in-out;
}
.side-menu ul li a:hover,.side-menu ul li a:focus,.side-menu ul li a:active,.side-menu ul li a.active,.side-menu ul li a.active:hover,.side-menu ul li a.active:focus{
    background-color: #eee;
    color: #000;
    text-decoration: none;
}
.active-side-menu-user {
    background-color: #eee;
    color: #000;
    border-right: 2px solid #1AD9C7;
}
*[dir="ltr"] .active-side-menu-user {
    border-left: 2px solid #1AD9C7;
    border-right: none !important;
}
.circle_number {
    position: relative;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    background-color: #1AD9C7;
}
.project_card_link {
    text-decoration: none;
    color: #2b2c7f;
}
.project_card_link:hover {
    text-decoration: none;
    color: #2b2c7f;
}
.card.project_card {
    overflow: hidden !important;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
.card.project_card:hover {
    text-decoration: none;
    -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    -moz-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.circle_notify {
    position: relative;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    color: #fff;
    padding: 1rem;
    background-color: #f23b4c;
}
.circle_notify span {
    font-size: 1.1rem;
}
.sw-theme-dots>ul.step-anchor {
    padding-right: 0 !important;
}
.sw-theme-dots>ul.step-anchor>li>a:after {
    left: -41%;
    bottom: 5px;
}
.sw-theme-dots>ul.step-anchor:before {
    top: 75px;
}
.w-95-container {
    width: 95% !important;
}
.btn_load_more {
    font-size: 1.8rem;
    color: #fff;
    background-color: #2b2c7f;
    transition: all .4s ease-in-out;
}
.btn_load_more:hover {
    background-color: #1AD9C7;
}
.btn_load_more.btn {
    outline: none !important;
    box-shadow: none !important;
}
/* end home client */
/* wizard */
.wizard > .steps .disabled a, .wizard > .steps .disabled a:hover, .wizard > .steps .disabled a:active {
    cursor: not-allowed;
}
.wizard > .steps .number {
    text-align: center !important;
}
.wizard > .actions > ul > li:nth-child(2) {
    float: right !important;
}
*[dir="rtl"] .wizard > .actions > ul > li:nth-child(2) {
    float: left !important;
}
*[dir="ltr"] .wizard > .actions > ul > li > a > i.fa-arrow-left {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.wizard > .actions > ul > li:nth-child(1) {
    float: left !important;
}
*[dir="rtl"] .wizard > .actions > ul > li:nth-child(1) {
    float: right !important;
}
.wizard > .actions > ul > li:nth-child(3) {
    float: right !important;
}
*[dir="rtl"] .wizard > .actions > ul > li:nth-child(3) {
    float: left !important;
}
*[dir="ltr"] .wizard > .actions > ul > li > a > i.fa-arrow-right {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.wizard > .actions > ul > li:last-child {
    float: left !important;
}
.wizard > .actions > ul > li:last-child > a {
    background-color: #dc3545 !important;
}
*[dir="rtl"] .wizard > .actions > ul > li:last-child {
    float: right !important;
}
.wizard > .content > .body input {
    background-color: #fff !important;
}
.wizard > .steps > ul > li, .wizard > .actions > ul > li {
    float: right !important;
}
*[dir="ltr"] .wizard > .steps > ul > li, .wizard > .actions > ul > li {
    float: left !important;
}
.wizard > .steps > ul > li {
    width: auto;
    margin-left: 1rem;
}
*[dir="ltr"] .wizard > .steps > ul > li {
    margin-left: 0;
    margin-right: 1rem;
}
.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active {
    background: #1AD9C7;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    text-align: center !important;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active {
    background: #1AD9C7;
    cursor: pointer;
    color: #fff;
    box-shadow: 0 .5rem 1.25rem rgba(0,0,0,.075)!important;
}
.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active {
    background: rgba(199,168,88,.3);
    color: #fff;
    cursor: pointer;
}
.wizard > .content > .body {
    position: relative;
    width: 100%;
    height: 100%;
}
.wizard > .actions {
    margin-bottom: 3rem;
    margin-top: 2rem;
}
.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
    background: #1AD9C7;
    color: #fff;
    display: block;
    padding: .7rem 2rem;
    text-decoration: none;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    border-radius: 10rem;
    font-size: 2rem;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
/* end wizard */

/* Client Add New Project */
.circle_delete_btn_shape {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: #dc3545;
    position: relative;
    top: 3rem;
}
.delete_btn_repeater {
    border: none !important;
    outline: none !important;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}
.delete_btn_repeater:hover {
    opacity: .8;
}
.btn_add_repeater {
    cursor: pointer;
    border: none !important;
    outline: none !important;
    background-color: #2b2c7f;
    font-size: 1.5rem;
    padding: .8rem 1.9rem;
    color: #fff;
    border-radius: 2px;
}
.btn_add_repeater:hover {
    opacity: .9;
}
/* end Client Add New Project */

/* end Client Show Project */
.info_project_list {
    list-style: none;
    padding-right: 0 !important;
}
*[dir="ltr"] .info_project_list {
    padding-left: 0 !important;
}
.info_project_list li {
    font-size: 1.8rem;
    padding: .6rem;
}
.info_project_list li:before {
    content: "\f1ce";
    font-family: "FontAwesome";
    font-size: 1.3rem;
    margin-left: .5rem;
    color: #2b2c7f;
}
*[dir="ltr"] .info_project_list li:before {
    margin-right: .5rem;
    margin-left: 0;
}
/* end Client Show Project */

/* investor Home */
.tooltip-inner {
    font-size: 1.2rem;
    max-width: 10rem;
    padding: .8rem 1rem;
    color: #fff;
    text-align: center;
    background-color: #2b2c7f;
    border-radius: .5rem;
}
.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    margin-left: -5px;
    content: "";
    border-width: .8rem 0 .8rem 0;
    border-top-color: #2b2c7f;
}
.hidden_content {
    padding: .3rem 15rem;
    background: #f6f7f8;
    color: #f6f7f8;
    display: block;
}
.btn_heart_toggle i:before {
    content: "\f004";
    font-family: "FontAwesome";
}
.btn_star_toggle i:before {
    content: "\f005";
    font-family: "FontAwesome";
}
#show_multi_project_btn {
    font-size: 1.6rem;
    padding: .5rem 1.5rem;
    background-color: #33414A;
    color: #fff;
}
#show_multi_project_btn:hover {
    background-color: #1AD9C7;
}
#show_multi_project_btn.btn {
    outline: none !important;
}
.download_file_btn {
    font-size: 1.6rem;
    padding: .5rem 1.5rem;
    background-color: #1AD9C7;
    color: #fff;
}
.download_file_btn:hover {
    background-color: #2b2c7f;
    color: #fff !important;
}
.download_file_btn.btn {
    outline: none !important;
}
/* end investor Home */

/* chat box */
.circle-shape-icon-chat {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    border: 1px solid #1AD9C7;
}
.message-blue {
    color: #fff !important;
    position: relative;
    left: 3.8rem;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #1AD9C7;
    width: auto;
    height: auto;
    max-width: 80%;
    min-width: 25%;
    text-align: left;
    border: 1px solid #1AD9C7;
    border-radius: 10px;
}

.message-orange {
    position: relative;
    right: 3.8rem;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f8e896;
    width: auto;
    height: auto;
    max-width: 80%;
    min-width: 25%;
    text-align: left;
    border: 1px solid #dfd087;
    border-radius: 10px;
}

.message-content {
    padding: 0;
    margin: 0;
    font-size: 1.7rem;
    margin-bottom: 2rem;
}

.message-timestamp-right {
    position: absolute;
    font-size: 1rem;
    font-weight: 300;
    bottom: 5px;
    right: 5px;
}

.message-timestamp-left {
    position: absolute;
    font-size: 1rem;
    font-weight: 300;
    bottom: 5px;
    left: 5px;
}
.bg-prime-1 {
	background-color: #1AD9C7;
}
.border-prime-1 {
	border-color: #1AD9C7!important;
}
.message-blue:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid #1AD9C7;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 0;
    left: -15px;
}

.message-blue:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 17px solid #1AD9C7;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    top: -1px;
    left: -17px;
}

.message-orange:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 15px solid #f8e896;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    bottom: 0;
    right: -15px;
}

.message-orange:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 17px solid #dfd087;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    bottom: -1px;
    right: -17px;
}
.box-chat {
    border: 1px solid #eee;
    border-radius: 3px;
    margin: 3rem 1rem 0 1rem;
}
.box-chat-content {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 40rem;
}
.message-input > .wrap {
    background-color: #eee;
}
.message-input > .wrap input {
    width: 100%;
    padding: 1.5rem;
    border: 1px solid #eee;
    margin-top: .7rem;
    font-size: 1.8rem;
    margin-bottom: .5rem;
    outline: none;
}
.message-input > .wrap button {
    width: 100%;
    padding: 1.5rem 1.5rem 1.3rem 1.5rem;
    background-color: #2b2c7f;
    color: #fff !important;
    margin-top: .8rem;
    border-radius: 0;
    font-size: 1.8rem;
}
.message-input > .wrap button > i {
    font-size: 1.8rem;
}
.box-chat-header {
    background-color: #eee;
}
.circle-client-chat {
    display: inline-block;
    font-size: 1.5rem;
}
.circle-investor-chat {
    display: inline-block;
    font-size: 1.5rem;
}
.circle-client-chat i {
    color: #1AD9C7;
}
.circle-investor-chat i {
    color: #f8e896;
}
/* end chat box */

/* confirm modal */
.jconfirm .jconfirm-box div.jconfirm-title-c {
    text-align: right !important;
}
*[dir="ltr"] .jconfirm .jconfirm-box div.jconfirm-title-c {
    text-align: left !important;
}
.list_conditions {
    font-size: 1.5rem;
    padding-left: .5rem;
    padding-right: 1rem;
}
*[dir="ltr"] .list_conditions {
    padding-right: .5rem;
    padding-left: 1rem;
}
.list_conditions li {
    margin-right: .8rem;
    margin-top: .5rem;
}
*[dir="ltr"] .list_conditions li {
    margin-right: auto;
    margin-left: .8rem;
}
.list_conditions li > span {
    font-size: 1.4rem;
}
/* end confirm modal */

/* Loader Lib */
#preloader-container {
    background:#ffffff;
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    z-index:999999999999999999;
}
.preloader-container {
    background:rgba(0,0,0,.6);
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    z-index:999999999999999999;
}
#preloader-wrap {
    width: 6rem;
    height: 6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -3rem;
    margin-top: -3rem;
}
.preloader-wrap {
    width: 6rem;
    height: 6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -3rem;
    margin-top: -3rem;
}
.cssload-thecube {
    width: 6rem;
    height: 6rem;
    margin: 0 auto;
    position: relative;
    transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
    position: relative;
    transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}
.preloader-container .preloader-wrap .cssload-thecube .cssload-cube:before {
    background-color: #fff !important;
}
.cssload-thecube .cssload-cube:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1AD9C7;
    animation: cssload-fold-thecube 4.2s infinite linear both;
    -o-animation: cssload-fold-thecube 4.2s infinite linear both;
    -ms-animation: cssload-fold-thecube 4.2s infinite linear both;
    -webkit-animation: cssload-fold-thecube 4.2s infinite linear both;
    -moz-animation: cssload-fold-thecube 4.2s infinite linear both;
    transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
}
.cssload-thecube .cssload-c2 {
    transform: scale(1.1) rotateZ(90deg);
    -o-transform: scale(1.1) rotateZ(90deg);
    -ms-transform: scale(1.1) rotateZ(90deg);
    -webkit-transform: scale(1.1) rotateZ(90deg);
    -moz-transform: scale(1.1) rotateZ(90deg);
}
.cssload-thecube .cssload-c3 {
    transform: scale(1.1) rotateZ(180deg);
    -o-transform: scale(1.1) rotateZ(180deg);
    -ms-transform: scale(1.1) rotateZ(180deg);
    -webkit-transform: scale(1.1) rotateZ(180deg);
    -moz-transform: scale(1.1) rotateZ(180deg);
}
.cssload-thecube .cssload-c4 {
    transform: scale(1.1) rotateZ(270deg);
    -o-transform: scale(1.1) rotateZ(270deg);
    -ms-transform: scale(1.1) rotateZ(270deg);
    -webkit-transform: scale(1.1) rotateZ(270deg);
    -moz-transform: scale(1.1) rotateZ(270deg);
}
.cssload-thecube .cssload-c2:before {
    animation-delay: 0.53s;
    -o-animation-delay: 0.53s;
    -ms-animation-delay: 0.53s;
    -webkit-animation-delay: 0.53s;
    -moz-animation-delay: 0.53s;
}
.cssload-thecube .cssload-c3:before {
    animation-delay: 1.05s;
    -o-animation-delay: 1.05s;
    -ms-animation-delay: 1.05s;
    -webkit-animation-delay: 1.05s;
    -moz-animation-delay: 1.05s;
}
.cssload-thecube .cssload-c4:before {
    animation-delay: 1.58s;
    -o-animation-delay: 1.58s;
    -ms-animation-delay: 1.58s;
    -webkit-animation-delay: 1.58s;
    -moz-animation-delay: 1.58s;
}
@keyframes cssload-fold-thecube {
    0%, 10% {
        transform: perspective(136px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        transform: perspective(136px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        transform: perspective(136px) rotateY(180deg);
        opacity: 0;
    }
}
/* end Loader */
/* end Loader */

/* terms */
.jconfirm.jconfirm-white .jconfirm-bg, .jconfirm.jconfirm-light .jconfirm-bg {
    opacity: .6;
}
/* end terms */


.custom-file-label {
    cursor: pointer !important;
    color: #999 !important;
    box-shadow: none !important;
    height:calc(4.25rem + 2px) !important;
    text-align: left !important;
}
.custom-file-label:after {
    height:calc(4.1rem + 2px) !important;
    border: none !important;
    content: 'إختر ملف' !important;;
    color: #fff !important;
    background-color: #1AD9C7!important;
    line-height: 1.8 !important;
    padding: .375rem 2.75rem !important;
    top: auto;
}
.custom-file-input {
    cursor: pointer !important;
    height:calc(4.1rem + 2px) !important;
}
*[dir="ltr"] .custom-file-label:after {
    content: 'Choose File' !important;
}
