<template>
    <div>
       <data-table

    ref="datatable"
    :per-page="perPage"
    :columns="columns"
    >


</data-table>
    </div>
</template>

<script>

    export default {

    data() {
        return {

        }
    },

}

</script>

