<template>
<div>
   <p style="text-align:center;"> {{moment(data.created_at).format("MM-Do-YYYY, h:mm:ss a") }}</p>

</div>
</template>
<script>
    export default {
        props: {
            data: {},
            name: {},
            click: {},
            meta: {},
            classes: {},

        },
        data() {
            return{


            }


        },
        mounted(){


        },
    }
</script>
