<template>
    <button
        type="button"
        @click="click(data.id)"
        class="btn btn-danger btn-sm"
         v-if="data.status=='pending'">
        {{name}}
    </button>
</template>
<script>
    export default {
        props: {
            data: {},
            name: {},
            click: {},
            meta: {},
            classes: {},
        },
    }
</script>
