<template>
<div>


     <button :class="classes" @click="click(data)" title="Delete" v-if="data.status=='returned'">

            {{name}}
    </button>

</div>
</template>

<script>
export default {
    props: {
        data: {},
        name: {},
        click: {},
        classes: {},
    }
}

</script>

