<template>
<div>
    <p style="text-align:center;" v-if="data.status=='new'"> {{NEW}} </p>
    <p style="text-align:center;" v-if="data.status=='processing'"> {{processing}} </p>
    <p style="text-align:center;" v-if="data.status=='processed'"> {{processed}} </p>
    <p style="text-align:center;" v-if="data.status=='refused'"> {{refused}} </p>
    <p style="text-align:center;" v-if="data.status=='returned'"> {{returned}} </p>
    <p style="text-align:center;" v-if="data.status=='initial_acceptance'"> {{initial_acceptance}} </p>
    <p style="text-align:center;" v-if="data.status=='accepted'"> {{accepted}} </p>
    <p style="text-align:center;" v-if="data.status=='return_to_evaluator'"> {{return_eval}} </p>
    <p style="text-align:center;" v-if="data.status=='edited_by_user'"> {{edited_by_user}} </p>

</div>
</template>
<script>
    export default {
        props: {
            data: {},
            name: {},
            click: {},
            meta: {},
            classes: {},

        },
        data() {
            return{
                NEW:'',
                processing:'',
                processed:'',
                refused:'',
                returned:'',
                initial_acceptance:'',
                accepted:'',
                return_eval:'',
                edited_by_user:'',

            }


        },
        mounted(){
            this.processing= window.transs('Processing',localStorage.getItem('locale'));
            this.NEW= window.transs('New',localStorage.getItem('locale'));
            this.processed= window.transs('Processed',localStorage.getItem('locale'));
            this.refused= window.transs('Refused',localStorage.getItem('locale'));
            this.returned= window.transs('Returned',localStorage.getItem('locale'));
            this.initial_acceptance= window.transs('Initial Acceptance',localStorage.getItem('locale'));
            this.accepted= window.transs('Accepted',localStorage.getItem('locale'));
            this.return_eval= window.transs('Return to evaluator',localStorage.getItem('locale'));
            this.edited_by_user= window.transs('Edited By User',localStorage.getItem('locale'));

        },
    }
</script>
