<!-- File: ./resources/app/js/components/Read.vue -->
    <template>

        <div id="users">
            <div class="row">
            <div class="col-xl-12" style="margin-top:3%;">
                <h2 style="color: #1AD9C7;" class="border-bottom pull-right d-inline-block pb-4">
                   {{my_requests}} </h2>
            </div>
            </div>

                <data-table


                    url="/ta2shera/public/api/user/listRequests"
                    ref="datatable"
                    :per-page="perPage"
                    :columns="columns"
    :filters="filters">
        <div slot="filters" slot-scope="{ tableFilters, perPage }">
        <div class="row mb-2">
            <div class="col-md-2">
                <select class="form-control" v-model="tableFilters.length">
                    <option :key="page" v-for="page in perPage">{{ page }}</option>
                </select>

            </div>
             <div class="col-md-2">

                  <select
                    v-model="tableFilters.filters.isActive"
                    class="form-control">
                    <option value="" data-hidden="true">{{All}}</option>
                    <option value='new'>{{NEW}}</option>
                    <option value='processing'>{{processing}}</option>
                    <option value='processed'>{{processed}}</option>
                    <option value='refused'>{{refused}}</option>
                    <option value='returned'>{{returned}}</option>
                    <option value='initial_acceptance'>{{initial_acceptance}}</option>
                    <option value='accepted'>{{accepted}}</option>
                    <option value='edited_by_user'>{{edited_by_user}}</option>
                    <option value='return_to_evaluator'>{{return_to_evaluator}}</option>

                </select>
            </div>

            <div class="col-md-4">
                <input
                    name="name"
                    class="form-control"
                    v-model="tableFilters.search"
                    :placeholder=Search>
            </div>
               <div class="col-md-4">
                <input
                    name="name"
                    class="form-control"
                    v-model="tableFilters.request_number"
                    :placeholder=request_number>
            </div>
        </div>
    </div>
                </data-table>


        </div>
    </template>
<script>
    import UpdateButton from '../users/datatable/UpdateButton.vue';
    import StatusSpan from '../datatable/status.vue';
    import dateSpan from '../datatable/date.vue';
    import EditButton from '../datatable/EditButton.vue';


    export default {
        mounted(){

             this.my_requests = window.transs('My Requests',localStorage.getItem('locale'));
                       this.processing= window.transs('Processing',localStorage.getItem('locale'));
            this.NEW= window.transs('New',localStorage.getItem('locale'));
            this.processed= window.transs('Processed',localStorage.getItem('locale'));
            this.refused= window.transs('Refused',localStorage.getItem('locale'));
            this.returned= window.transs('Returned',localStorage.getItem('locale'));
            this.initial_acceptance= window.transs('Initial Acceptance',localStorage.getItem('locale'));
            this.accepted= window.transs('Accepted',localStorage.getItem('locale'));
            this.All= window.transs('All',localStorage.getItem('locale'));
            this.request_number= window.transs('Request Number',localStorage.getItem('locale'));
            this.Search= window.transs('Search',localStorage.getItem('locale'));
            this.edited_by_user= window.transs('Edited By User',localStorage.getItem('locale'));
            this.return_to_evaluator= window.transs('Return to evaluator',localStorage.getItem('locale'));

        },

    data() {
        return {
            perPage: ['10', '25', '100'],
            my_requests:'',
              NEW:'',
                processing:'',
                processed:'',
                refused:'',
                returned:'',
                initial_acceptance:'',
                accepted:'',
                All:'',
                request_number:'',
                Search:'',
                 return_to_evaluator:'',
                edited_by_user:'',


           // url: admin/list_admins",
           // data:{},
          tableProps: {
                search: '',
                length: 10,
                column: 'id',
                dir: 'dsc'
            },
            columns: [
                // {
                //     label: 'ID',
                //     name: 'id',
                //     filterable: true,
                //     orderable:true,
                // },
                 {
                    label:window.transs('Request Number',localStorage.getItem('locale')),
                    name: 'id',
                    filterable: true,
                },
                {
                    label:window.transs('Factory Name',localStorage.getItem('locale')),
                    name: 'factory_name',
                    filterable: true,
                },
                {
                    label:window.transs('Factory Symbol',localStorage.getItem('locale')),
                    name: 'factory_symbol',
                    filterable: true,
                },
                 {
                    label:window.transs('Commercial Number',localStorage.getItem('locale')),
                    name: 'cr',
                    filterable: true,
                },
                  {
                    label:window.transs('City',localStorage.getItem('locale')),
                    name: 'req_city.name_ar',
                    filterable: true,
                },
                 {
                    label:window.transs('Date',localStorage.getItem('locale')),
                    name: 'created_at',
                    filterable: true,
                    component:dateSpan,
                },

                {
                    label:window.transs('Status',localStorage.getItem('locale')),
                    name: 'status',
                    filterable: true,
                    component: StatusSpan,
                },
                {
                label: '',
                name: window.transs('View Request',localStorage.getItem('locale')),
                filterable: false,
                component: UpdateButton,
                event: "click",
                handler: this.view_request,
                classes: {
                    'btn': true,
                    'btn-primary': true,
                    'btn-sm': true,
                },
                },
                  {
                label: '',
                name: window.transs('Edit',localStorage.getItem('locale')),
                filterable: false,
                component: EditButton,
                event: "click",
                handler: this.edit_request,
                classes: {
                    'btn': true,
                    'btn-primary': true,
                    'btn-sm': true,
                },
                }





            ],
        }
    },
     components: {
        UpdateButton,
        StatusSpan,
        dateSpan,
        EditButton,

    },
    methods: {
       getData(url = this.url, options = this.tableProps) {
            axios.get("/ta2shera/public/api/user/listRequests", {
                params: options
            })
            .then(response => {
                this.data = response.data;
                console.log(response.data);
            })
            // eslint-disable-next-line
            .catch(errors => {
                //Handle Errors
            })
        },
         view_request(data){
             this.$router.push('/ta2shera/public/user/request/view_request/'+ data.id) ;
        },
        edit_request(data){
            this.$router.push('/ta2shera/public/user/request/edit_request/'+ data.id) ;

        }
    },
    created: function(){
            this.getData(this.url);
        }
}

</script>
<style>
.table td, .table th{
    text-align: center !important;
}
.mb-3{
    direction: ltr;
}
.page-item.active .page-link{
    background-color: rgb(43, 44, 127);
    border-color: rgb(43, 44, 127);

}

</style>
