 <!-- File: ./resources/app/js/components/Update.vue -->
    <template>

    <div>
   <loading v-model:active="isLoading"
                 :can-cancel="fullPage"
                 :is-full-page="true"/>
  
        <div class="row mb-5 mt-5">
         <div class="col-xl-12">
                <h2 style="color: #1AD9C7;" class="border-bottom pull-right d-inline-block pb-4">
                   {{name}}  </h2>
            </div>
        </div>
      <div class="container">




        <form>
          <div :class="['form-group m-1 p-3', successful ? 'alert-success' : '']">
            <span v-if="successful" class="label label-sucess">{{Order_placed}}</span>
          </div>

          <div :class="['form-group m-1 p-3 alert-danger' ]" v-if="errors.length >0">
              <div  v-for="error in errors">
                   <span  class="label label-danger" style="font-size: 20px;">
                        {{error}}

            </span>
                <br>
              </div>


          </div>


<div class="row">
         <div class="col-xl-4">
          <div class="form-group">
            <input type="title" ref="cr" class="form-control" id="cr" :placeholder="CR" required>
          </div>
     </div>
      <div class="col-xl-4">
          <div class="form-group">
            <input type="title" ref="ir" class="form-control" id="ir" :placeholder="IR" required>
          </div>
     </div>
        <div class="col-xl-4">
          <div class="form-group">
              <model-list-select :list="options1"
                     v-model="objectItem"
                     option-value="id"
                     option-text="name_ar"
                     :placeholder="city"
                     >
  </model-list-select>

          </div>
     </div>

</div>

<div class="row">
         <div class="col-xl-6">
          <div class="form-group">
            <input type="title" ref="factoryName" class="form-control" id="factoryName" :placeholder="FactoryName" required>
          </div>
     </div>
      <div class="col-xl-6">
          <div class="form-group">
            <input type="title" ref="factorySymbol" class="form-control" id="FactorySymbol" :placeholder="FactorySymbol" required>
          </div>
     </div>

</div>


<div class="row">
         <div class="col-xl-4">
          <div class="form-group">
            <input type="title" ref="firstName" class="form-control" id="name" :placeholder="firstName" required>
          </div>
     </div>
      <div class="col-xl-4">
          <div class="form-group">
            <input type="title" ref="middleName" class="form-control" id="name" :placeholder="middleName" required>
          </div>
     </div>
      <div class="col-xl-4">
          <div class="form-group">
            <input type="title" ref="lastName" class="form-control" id="name" :placeholder="lastName" required>
          </div>
     </div>
</div>

<div class="row">
         <div class="col-xl-6">
          <div class="form-group">
            <input type="title" ref="email" class="form-control" id="email" :placeholder="Email" required>
          </div>
     </div>
      <div class="col-xl-6">
          <div class="form-group">
            <input type="title" ref="phone" class="form-control" id="phone" :placeholder="Phone" required>
          </div>
     </div>

</div>

          <div class="form-group">
            <input type="hidden" ref="user_id" name="user_id">
          </div>
          <div class="set-form">

            <table class="table table-bordered">
            <thead class="text text-success">
                <tr style="border:none !important;">
                    <th style="font-size:14px !important; " >{{serial}}</th>
                    <th style="font-size:14px !important; " >{{EmployeeName}}</th>
                    <th style="font-size:14px !important ; " > {{PassportNumber}}</th>
                    <th style="font-size:14px !important; " >{{VisaNumber}}</th>
                    <th style="font-size:14px !important ;" colspan="2">{{Path}}</th>
                    <th style="font-size:14px !important;" ></th>


                </tr>

                  <tr>
                    <th style="font-size:14px !important; border:none !important;" ></th>
                    <th style="font-size:14px !important; border:none !important;" ></th>
                    <th style="font-size:14px !important; border:none !important;" ></th>
                    <th style="font-size:14px !important; border:none !important;" ></th>
                    <th style="font-size:14px !important;" >{{From}}</th>
                    <th style="font-size:14px !important; " >{{To}}</th>
                     <th style="font-size:14px !important; border:none !important;" ></th>

                </tr>


                </thead>

                <tbody>
                   <tr v-for='(order, index) in orders'>
                       <td>{{index + 1 }}</td>
                    <td>
                    <input  v-model="order.employeeName"  class="form-control" type="text" required />
                    </td>
                    <td>
                    <input  v-model="order.passNumber"  class="form-control" type="text" required/>
                    </td>
                    <td>
                    <input  v-model="order.visaNumber"  class="form-control" type="number" required />
                    </td>
                    <td>


                              <input  v-model="order.from"  class="form-control" type="text" required />



                    </td>

                    <td>
                          <input  v-model="order.to"  class="form-control" type="text" required />
                    </td>
                     <td>
                    <i  @click="deleteRow(index)" class="fa fa-remove" style="font-size:25px;color:red;cursor:pointer"></i>
                    </td>

                </tr>
        </tbody>
    </table>

            <div class="set-form">
                <button type="button" id="more_fields" @click="addRow" class="btn btn-primary block option_button" >
                        {{AddMore}}
                </button>
            </div>
          </div>

          <div class="form-group">
             <input type="file" class="form-control"  ref="uploadfiles" name="my_files[]" v-on:change="onFileChange" multiple>
          </div>
<div class="row" style="direction:ltr;">
          <button type="submit" @click.prevent="checkForm" ref="submit" class="btn btn-primary block option_button" style="margin-left:3%;" v-if="show">
            {{Submit}}
          </button>
</div>
        </form>
      </div>
    </div>
    </template>

<script>
    import { ModelListSelect } from 'vue-search-select'
    import 'vue-loading-overlay/dist/vue-loading.css';


    export default {
      mounted() {
        this.getPost();
         this.getCities();
        this.getUserId(),
        this.title = window.transs('Title',localStorage.getItem('locale'));
        this.Order_Details = window.transs('Order Detials',localStorage.getItem('locale'));
        this.Order_placed = window.transs('Order Placed successfuly',localStorage.getItem('locale'));
        this.Submit = window.transs('Place Order',localStorage.getItem('locale'));
        this.AddMore = window.transs('Add More',localStorage.getItem('locale'));
        this.serial = window.transs('Serial',localStorage.getItem('locale'));


        this.name = window.transs('Place Requests',localStorage.getItem('locale'));
         this.firstName = window.transs('First Name',localStorage.getItem('locale'));
         this.middleName = window.transs('Middle Name',localStorage.getItem('locale'));
        this.lastName = window.transs('Last Name',localStorage.getItem('locale'));
        this.CR = window.transs('Commercial Number',localStorage.getItem('locale'));
        this.city = window.transs('City',localStorage.getItem('locale'));
        this.IR = window.transs('Industrial License No.',localStorage.getItem('locale'));
        this.FactoryName = window.transs('Factory Name',localStorage.getItem('locale'));
        this.FactorySymbol = window.transs('Factory Symbol',localStorage.getItem('locale'));
        this.Email = window.transs('Email',localStorage.getItem('locale'));
        this.Phone = window.transs('Phone',localStorage.getItem('locale'));
        this.EmployeeName = window.transs('Employee Name',localStorage.getItem('locale'));
        this.PassportNumber = window.transs('Passport Number',localStorage.getItem('locale'));
        this.VisaNumber = window.transs('Visa Number',localStorage.getItem('locale'));
        this.Path = window.transs('Itinerary',localStorage.getItem('locale'));
        this.From = window.transs('From',localStorage.getItem('locale'));
        this.To = window.transs('To',localStorage.getItem('locale'));
        this.v_factoryName = window.transs('Factory Name Required',localStorage.getItem('locale'));
        this.v_firstName = window.transs('First Name Required',localStorage.getItem('locale'));
        this.v_middleName = window.transs('Middle Name Required',localStorage.getItem('locale'));
        this.v_lastName = window.transs('Last Name Required',localStorage.getItem('locale'));
        this.v_email = window.transs('Email Required',localStorage.getItem('locale'));
        this.v_phone = window.transs('Phone Required',localStorage.getItem('locale'));
        this.v_cr = window.transs('Commercial Number Required',localStorage.getItem('locale'));
        this.v_ir = window.transs('Industrial License No. Required',localStorage.getItem('locale'));
        this.v_factorySymbol = window.transs('Factory Symbol Required',localStorage.getItem('locale'));
        this.v_file = window.transs('Attachement Must not exceed 20 MB',localStorage.getItem('locale'));
        this.file_sucss = window.transs('Files Uploaded',localStorage.getItem('locale'));
        this.file_fail = window.transs('Files Upload Failed',localStorage.getItem('locale'));
      },
      props: {

      },
      data() {
        return {
                options1: [],
       objectItem: {},
          img:'',
          name:'',
          firstName:'',
          middleName:'',
          lastName:'',
          CR:'',
          IR:'',
          FactoryName:'',
          FactorySymbol:'',
          id:'',
          title:'',
          Order_Details:'',
          Order_placed:'',
          Email:'',
          Phone:'',
          EmployeeName:'',
          PassportNumber:'',
          VisaNumber:'',
          Path:'',
          From:'',
          To:'',
          AddMore:'',
          serial:'',
          'Submit':'',
          error: false,
          successful: false,
          errors: [],
          uploads:[],
          file:'',
          orders:[{employeeName:'',passNumber:'',visaNumber:'',from:'',to:''}],
          v_firstName:'',
          v_middleName:'',
          v_lastName:'',
          v_email:'',
          v_phone:'',
          v_cr:'',
          v_ir:'',
          v_factoryName:'',
          v_factorySymbol:'',
          city:'',
          show:true,
          file_error:false,
          v_file:'',
          file_sucss:'',
          file_fail:'',
          isLoading: true,
          fullPage: true
        };
      },
      methods: {
          codeAndNameAndDesc (item) {

        alert(this.objectItem);
      },

      reset1 () {
        this.objectItem = {}
      },


      selectFromParentComponent1 () {
        // select option from parent component
        this.objectItem = this.options[0];

      },

        onFileChange(e){
          this.file_error = false;
          this.show=false;

        var files = this.$refs.uploadfiles.files;
       var totalfiles = this.$refs.uploadfiles.files.length;
       for (var index = 0; index < totalfiles; index++) {
         let file= e.target.files[index].size;


          if(file > 20 * 1024 * 1024){
              this.file_error = true;
          }else{
            
              this.uploads.push(e.target.files[index]);
              
          }
          
       }
        if(this.file_error)
        {
          this.$alert(this.v_file,'','error').then(() => {
            this.show=false;
          });
        }
        else
        {
          this.$alert(this.file_sucss,'','success').then(() => {
                    this.show=true;
                });
        }

            },

       checkForm(e) {


      this.errors = [];

      // if (!this.file_error) {
      //   this.errors.push(this.v_file);
      //   window.scrollTo(0,0);

      // }

      if (!this.$refs.factoryName.value) {
        this.errors.push(this.v_factoryName);
        window.scrollTo(0,0);

      }
      if (!this.$refs.factorySymbol.value) {
        this.errors.push(this.v_factorySymbol);
        window.scrollTo(0,0);

      }
      if (!this.$refs.firstName.value) {
        this.errors.push(this.v_firstName);
        window.scrollTo(0,0);

      }
       if (!this.$refs.middleName.value) {
        this.errors.push(this.v_middleName);
        window.scrollTo(0,0);

      }
       if (!this.$refs.lastName.value) {
        this.errors.push(this.v_lastName);
        window.scrollTo(0,0);

      }

       if (!this.$refs.email.value) {
        this.errors.push(this.v_email);
        window.scrollTo(0,0);

      }
       if (!this.$refs.phone.value) {
        this.errors.push(this.v_phone);
        window.scrollTo(0,0);

      }
      if (!this.$refs.cr.value) {
        this.errors.push(this.v_cr);
        window.scrollTo(0,0);

      }
      if (!this.$refs.ir.value) {
        this.errors.push(this.v_ir);
        window.scrollTo(0,0);

      }


      e.preventDefault();

       if (this.errors.length == 0) {
          this.show=false;
        this.add();
      }
    },
        add() {
          let loader = this.$loading.show({
                loader: 'dots'
            });
      this.isLoading = true;
                var formData = new FormData();
      formData.append("firstName", this.$refs.firstName.value);
      formData.append("middleName", this.$refs.middleName.value);
      formData.append("lastName", this.$refs.lastName.value);
      formData.append("CR", this.$refs.cr.value);
      formData.append("IR", this.$refs.ir.value);
      formData.append("city", this.objectItem.id);
      formData.append("FactoryName", this.$refs.factoryName.value);
      formData.append("FactorySymbol",this.$refs.factorySymbol.value);
      formData.append("email", this.$refs.email.value);
      formData.append("phone", this.$refs.phone.value);
      formData.append("variables", JSON.stringify(this.orders));
      formData.append("user_id ", this.user_id);
   //   formData.append("upload",this.uploads);

    var files = this.$refs.uploadfiles.files;
       var totalfiles = this.$refs.uploadfiles.files.length;
       for (var index = 0; index < totalfiles; index++) {
          formData.append("files[]", files[index]);
       }



          axios.post("/ta2shera/public/api/requests/add",formData).then(response => {
              this.successful = true;
              this.error = false;
              this.errors = [];
              this.isLoading = false;
              loader.hide();
              this.$alert(this.Order_placed,'','success').then(() => {
                window.location.reload();
                });
            })
            .catch(error => {
              if (!_.isEmpty(error.response)) {
                if ((error.response.status = 422)) {
                  this.errors = error.response.data.errors;
                  this.successful = false;
                  this.error = true;
                }
              }
            });

        },
        getPost() {

         var lang =  localStorage.getItem('locale');


        },
         getUserId() {

          axios.get("/ta2shera/public/api/user/get_user").then(response => {


            if(response.data['firstName']){
                this.$refs.firstName.value = response.data['firstName'];
            }
            if(response.data['middleName']){
                this.$refs.middleName.value = response.data['middleName'];
            }
            if(response.data['lastName']){
                this.$refs.lastName.value = response.data['lastName'];
            }
            /* if(response.data['email']){
                this.$refs.email.value = response.data['email'];
            }*/
             if(response.data['phone']){
                this.$refs.phone.value = response.data['phone'];
            }

          });
        },
        getCities(){
             axios.get("/ta2shera/public/api/get_cities").then(response => {

                 this.options1 = response.data;
             });
        },


            addRow: function() {
            this.orders.push({employeeName:'',passNumber:'',visaNumber:'',from:'',to:''})
            },
            deleteRow(index){
                this.orders.splice(index,1);
            }

      },
       components: {
      ModelListSelect,
      

    }
    };
    </script>
    <style >

        .bg{
            position:relative;
            height: 300px;
            background-size:cover;
            box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
        }
         .bg span {
            position: absolute;
            bottom: 8px;
            left: 16px;
        }
        .bottom_left{
            color: #fff;
        }

    </style>
