<template>
    <div class="modal" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="text-align:center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                  <h3 style=" text-decoration: underline;">اشتراطات الحصول على طلب الاستثناء للعمالة الحاصلين على تأشيرة خروج وعودة :-</h3>
            <br>
            <p style="font-size:16px;">يرجى كتابة صياغة التعهد وفق التالي:</p>
            <p style="font-size:16px;">خطاب موجه لوزارة الصناعة والثروة المعدنية يضمن تعهد والتزام من المصنع بأن يتم تطبيق الإجراءات الاحترازية للحد من تفشي فايروس كورونا (كوفيد-19) وان يكون لدى العمالة فحص (PCR)خلال 72ساعة من رحلة القدوم للمملكة وان يتم تطبيق الحجر المنزلي على العمالة القادمة لمدة 7أيام مع القيام بإجراء فحص(PCR)في اليوم السادس</p>
            <br>
            <p style="font-size:16px;">مثال:</p>
            <table style="border:1px solid #000; width:80%; margin-right:10%; margin-left:10%">
                <tr style=""><th style="border:1px solid #000; font-size:16px; padding:20px;" >الاسم </th> <th style="border:1px solid #000; font-size:16px; padding:20px;" > رقم الجواز</th> <th style="border:1px solid #000; font-size:16px; padding:20px;" >رقم التأشيرة  </th> <th style="border:1px solid #000; font-size:16px; padding:20px;" > خط سير الرحلة </th></tr>
                 <tr><td style="border:1px solid #000; font-size:16px; height:20px;" > </td> <td style="border:1px solid #000; font-size:16px; height:20px;" > </td> <td style="border:1px solid #000; font-size:16px; height:20px;" > </td> <td style="border:1px solid #000; font-size:16px; height:20px;" >  </td></tr>
            </table>
            <br>
            <p style="font-size:16px;">2- يتم اعداد الخطاب أعلاه على مطبوعات المصنع وتصديقه من الغرفة التجارية</p>
            <p style="font-size:16px;"> 3- يوضح خلال الخطاب أعلاه جدول أسماء العاملين المطلوب قدومهم وأرقام الجوزات الخاصة بهم بالإضافة الى خط سير كل عامل ورقم التأشيرة لكل عامل</p>
            <p style="font-size:16px;">4-ارفاق صورة من جوازات العاملين المطلوب قدومهم وصورة من تذكرة السفر وصورة من التأشيرة الصادرة وصورة من هوية الاقامة لكل فرد (على أن تكون طلبات هذه الفقرة سارية الصلاحية)</p>
            <p style="font-size:16px;">5-صورة من الترخيص الصناعي والسجل التجاري للمنشأة الصناعية على أن تكون طلبات هذه الفقرة (سارية الصلاحية)</p>
            <p style="font-size:16px;">6-يتم وضع جميع ماورد أعلاه في ملف واحد بصيغة PDF مع الأخذ بالاعتبار أن لا يتجاوز المرفق 90 صفحة ويرفق بالطلب </p>
            <br>
            <p style="font-size:16px;">
                كما نآمل من قبلكم ترتيب المرفقات على النحو التالي:
            </p>
            <ul style="font-size:14px;">
                <li>الخطاب.</li>
                <li>الترخيص الصناعي. (الجديد)</li>
                <li>السجل التجاري للمصنع.</li>
                <li>التأشيرة والجواز والتذكرة وهوية المقيم.</li>
            </ul>

            <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{Close}}</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        data(){
            return{         }
        },
    }
</script>
<style>

</style>
