<!-- File: ./resources/app/js/components/Read.vue -->
    <template>

        <div id="users">



            <h1 style="margin-top:3%; text-decoration: underline; color:#1ad9c7;">خدمة استثناء خروج و عودة</h1>
            <br>
            <h3 style=" text-decoration: underline;color:rgb(43, 44, 127);text-align: center;
    font-size: 20px;">اشتراطات الحصول على طلب الاستثناء للعمالة الحاصلين على تأشيرة خروج وعودة </h3>
            <br>
            <p style="font-size:15px;">يرجى كتابة صياغة التعهد وفق التالي:</p>
            <p style="font-size:15px;">خطاب موجه لوزارة الصناعة والثروة المعدنية يضمن تعهد والتزام من المصنع بأن يتم تطبيق الإجراءات الاحترازية للحد من تفشي فايروس كورونا (كوفيد-19) وان يكون لدى العمالة فحص (PCR)خلال 72ساعة من رحلة القدوم للمملكة وان يتم تطبيق الحجر المنزلي على العمالة القادمة لمدة 7أيام مع القيام بإجراء فحص(PCR)في اليوم السادس و يذكر في الخطاب اسماء العمالة المطلوب وفق الجدول ادناه:</p>
            <br>
            <!-- <p style="font-size:15px;">مثال:</p> -->
            <table style="border:1px solid #000; width:80%; margin-right:10%; margin-left:10%">
                <tr style=""><th style="border:1px solid #000; font-size:15px; padding:20px;" >الاسم </th> <th style="border:1px solid #000; font-size:15px; padding:20px;" > رقم الجواز</th> <th style="border:1px solid #000; font-size:15px; padding:20px;" >رقم التأشيرة  </th> <th style="border:1px solid #000; font-size:15px; padding:20px;" > خط سير الرحلة </th></tr>
                 <tr><td style="border:1px solid #000; font-size:15px; height:20px;" > </td> <td style="border:1px solid #000; font-size:15px; height:20px;" > </td> <td style="border:1px solid #000; font-size:15px; height:20px;" > </td> <td style="border:1px solid #000; font-size:15px; height:20px;" >  </td></tr>
            </table>

            <p style="font-size:15px;"> يتم اعداد الخطاب أعلاه على مطبوعات المصنع وتصديقه من الغرفة التجارية</p>
            <br>
            <p style="font-size:15px;"> 2- ارفاق صورة من جوازات العاملين المطلوب قدومهم و صورة من تذكرة السفر و صورة من التأشيرة الصادرةو صورة من هوية الاقامة لكل فرد ( على ان تكون طلبات هذه الفترة سارية الصلاحية)</p>
            <p style="font-size:15px;">3- صورة من الترخصيص الصناعي والسجل التجاري للمنشأة الصناعية على ان تكون طلبات هذه الفقرة (سارية الصلاحية) مع اهميةان تكون العمالة المطلوبة للقدوم على كفالة المصنع</p>
            <p style="font-size:15px;">4- صورة من برنت مكتب العمل بالعمالة الموجودة على المصنع / و صورة من تأييد الصادر الاخير </p>
           <p style="font-size:15px;">5-  يتم وضع جميع ما ورد اعلاه في ملف واحد بصيغة PDF مع الاخذ بالاعتبار ان لا يتجاوز المرفق 90 صفحة   </p>
            <p style="font-size:15px;">6- إرفاق ملف اضافي بصيغة وورد باسماء العاملين فقط بالشكل و الترتيب ادناه </p>
                     <table style="border:1px solid #000; width:80%; margin-right:10%; margin-left:10%">
                <tr style=""><th style="border:1px solid #000; font-size:15px; padding:20px;" >الاسم </th> <th style="border:1px solid #000; font-size:15px; padding:20px;" > رقم الجواز</th> <th style="border:1px solid #000; font-size:15px; padding:20px;" >رقم التأشيرة  </th> <th style="border:1px solid #000; font-size:15px; padding:20px;" > جهة القدوم </th></tr>
                 <tr><td style="border:1px solid #000; font-size:15px; height:20px;" > </td> <td style="border:1px solid #000; font-size:15px; height:20px;" > </td> <td style="border:1px solid #000; font-size:15px; height:20px;" > </td> <td style="border:1px solid #000; font-size:15px; height:20px;" >  </td></tr>
            </table>
            <br>
            <p style="font-size:15px;">
                كما نآمل من قبلكم ترتيب المرفقات على النحو التالي:
            </p>
            <ul style="font-size:14px;">
                <li>الخطاب.</li>
                <li>الترخيص الصناعي</li>
                <li>السجل التجاري للمصنع.</li>
                <li>التأشيرة والجواز والتذكرة وهوية المقيم.</li>
            </ul>
             <p style="font-size:15px; text-decoration:underline;"> *الاستثناء للعمالة المشغلة للمصنع فقط</p>

            <br>

            <h3 style=" text-decoration: underline;color:rgb(43, 44, 127);text-align: center;
    font-size: 20px;">اشتراطات الحصول على طلب الاستثناء للعمالة القائمين بأعمال التركيب و الصيانة</h3>
            <br>

            <p style="font-size:15px;">1- خطاب موجه لوزارة الصناعة و الثروة المعدنية يبين الغرض من قدوم الفنيين أو المهندسين و يضمن تعهد والتزام من المصنع بأن يتم تطبيق الاجراءات الاحترازية للحد من تفشي فايروس كورونا (كوفيد -19) و ان يكون لدى العمالة فحص خلال 72 ساعة من رحلة القدوم للمملكة, وان يتم تطبيق الحجر المنزلي على العمالة القادمة لمدة 7 ايام مع القيام بإجراء فحص (PCR) في اليوم السادس و يذكر في الخطاب اسماء العمالة وفق ترتيب الجدول ادناه</p>
            <br>
            <!-- <p style="font-size:15px;">مثال:</p> -->
            <table style="border:1px solid #000; width:80%; margin-right:10%; margin-left:10%">
                <tr style=""><th style="border:1px solid #000; font-size:15px; padding:20px;" >الاسم </th> <th style="border:1px solid #000; font-size:15px; padding:20px;" > رقم الجواز</th> <th style="border:1px solid #000; font-size:15px; padding:20px;" >رقم التأشيرة  </th> <th style="border:1px solid #000; font-size:15px; padding:20px;" > خط سير الرحلة </th></tr>
                 <tr><td style="border:1px solid #000; font-size:15px; height:20px;" > </td> <td style="border:1px solid #000; font-size:15px; height:20px;" > </td> <td style="border:1px solid #000; font-size:15px; height:20px;" > </td> <td style="border:1px solid #000; font-size:15px; height:20px;" >  </td></tr>
            </table>

            <p style="font-size:15px;"> و يتم اعداد الخطاب أعلاه على مطبوعات المصنع وتصديقه من الغرفة التجارية</p>
            <br>
            <p style="font-size:15px;"> 2- ارفاق صورة من جوازات العاملين المطلوب قدومهم و صورة من تذكرة السفر و صورة من التأشيرة الصادرة ( على ان تكون طلبات هذه الفترة سارية الصلاحية)</p>
            <p style="font-size:15px;">3- صورة من الترخصيص الصناعي والسجل التجاري للمنشأة الصناعية على ان تكون طلبات هذه الفقرة (سارية الصلاحية)</p>
            <p style="font-size:15px;">4- تقديم ما يثبت من مستندات و اتفاقيات ان العمالة القادمة لغرض الصيانة و التركيب</p>
           <p style="font-size:15px;">5- يتم وضع كل ما ورد اعلاه في ملف واحد بصيغة PDF </p>
            <p style="font-size:15px;">6- إرفاق ملف اضافي منفصل بصيغة وورد باسماء العاملين فقط بالشكل و الترتيب ادناه </p>
                     <table style="border:1px solid #000; width:80%; margin-right:10%; margin-left:10%">
                <tr style=""><th style="border:1px solid #000; font-size:15px; padding:20px;" >الاسم </th> <th style="border:1px solid #000; font-size:15px; padding:20px;" > رقم الجواز</th> <th style="border:1px solid #000; font-size:15px; padding:20px;" >رقم التأشيرة  </th> <th style="border:1px solid #000; font-size:15px; padding:20px;" > جهة القدوم </th></tr>
                 <tr><td style="border:1px solid #000; font-size:15px; height:20px;" > </td> <td style="border:1px solid #000; font-size:15px; height:20px;" > </td> <td style="border:1px solid #000; font-size:15px; height:20px;" > </td> <td style="border:1px solid #000; font-size:15px; height:20px;" >  </td></tr>
            </table>
            <br>
            <p style="font-size:15px;">
                كما نآمل من قبلكم ترتيب المرفقات على النحو التالي:
            </p>
            <ul style="font-size:14px;">
                <li>الخطاب.</li>
                <li>الترخيص الصناعي</li>
                <li>السجل التجاري للمصنع.</li>
                <li>التأشيرة والجواز والتذكرة وهوية المقيم.</li>
            </ul>
             <p style="font-size:15px; text-decoration:underline;"> *الاستثناء للعمالة المشغلة للمصنع فقط</p>

            <br>
            <div class="row" style="direction:ltr;">
             <!-- <button @click="showModal()" class="btn btn-primary block option_button" style="margin-left:3%;" type="button"
        data-toggle="modal"
        data-target="#exampleModal">
            {{Confirm}}
          </button> -->
</div>
<div class="row" style="direction:ltr;">
             <button @click="confirm()" class="btn btn-primary block option_button" style="margin-left:3%;">
            {{Confirm}}
          </button>
</div>

        </div>
    </template>
<script>

// import Modal from '../modals/TermsModal.vue';
    export default {

    data() {
        return {
            Confirm:'',

    }},
    components: {

      //  Modal,

    },
    mounted(){
        this.Confirm = window.transs('Confirm',localStorage.getItem('locale'));

    },
    methods: {
       confirm(){
            this.$router.push('/ta2shera/public/user/request/place_request') ;

        },
        showModal() {
        this.$refs['my-modal'].show()
      },
      hideModal() {
        this.$refs['my-modal'].hide()
      },
    },

}

</script>
<style>
.table td, .table th{
    text-align: center !important;
    font-size: 16px;
}
</style>
