<!-- File: ./resources/app/js/components/Read.vue -->
    <template>
<div>

  <div class="row mb-5 mt-5">
         <div class="col-xl-12">
                <h2 style="color: #1AD9C7;" class="border-bottom pull-right d-inline-block pb-4">
                   {{Order_Details}} </h2>
            </div>
            <div class="col-xl-12">
                <h3 style="color: #000;" class="pull-right d-inline-block pb-4">
                    {{Name}} : {{firstName}} {{middleName}} {{lastName}} </h3>
            </div>
             <div class="col-xl-6">
                <h3 style="color: #000;" class="pull-right d-inline-block pb-4">
                    {{Email}} : {{email}} </h3>
            </div>
            <div class="col-xl-6">
                <h3 style="color: #000;" class="pull-right d-inline-block pb-4">
                    {{Phone}} : {{phone}} </h3>
            </div>
              <div class="col-xl-6">
                <h3 style="color: #000;" class="pull-right d-inline-block pb-4">
                    {{CR}} : {{cr}} </h3>
            </div>
              <div class="col-xl-6">
                <h3 style="color: #000;" class="pull-right d-inline-block pb-4">
                    {{IR}} : {{ir}} </h3>
            </div>
            <div class="col-xl-6">
                <h3 style="color: #000;" class="pull-right d-inline-block pb-4">
                    {{FactoryName}} : {{factoryName}} </h3>
            </div>
            <div class="col-xl-6">
                <h3 style="color: #000;" class="pull-right d-inline-block pb-4">
                    {{FactorySymbol}} : {{factorySymbol}} </h3>
            </div>
              <div class="col-xl-6">
                <h3 style="color: #000;" class="pull-right d-inline-block pb-4">
                    {{City}} : {{city}} </h3>
            </div>
                   <div class="col-xl-6">
                <h3 style="color: #000;" class="pull-right d-inline-block pb-4">
                    {{status}} : {{print_status}} </h3>
            </div>

<table class="table table-bordered">
            <thead class="text text-success">
                <tr style="border:none !important;">
                    <th style="font-size:14px !important; " >{{serial}}</th>
                    <th style="font-size:14px !important; " >{{EmployeeName}}</th>
                    <th style="font-size:14px !important ; " > {{PassportNumber}}</th>
                    <th style="font-size:14px !important; " >{{VisaNumber}}</th>
                    <th style="font-size:14px !important ;" colspan="2">{{Path}}</th>



                </tr>

                  <tr>
                    <th style="font-size:14px !important; border:none !important;" ></th>
                    <th style="font-size:14px !important; border:none !important;" ></th>
                    <th style="font-size:14px !important; border:none !important;" ></th>
                    <th style="font-size:14px !important; border:none !important;" ></th>
                    <th style="font-size:14px !important;" >{{From}}</th>
                    <th style="font-size:14px !important; " >{{To}}</th>


                </tr>


                </thead>

                <tbody>
                     <tr v-for="(detail,index) in details">
                       <td>{{index + 1}}</td>
                    <td>
                        {{detail.employeeName}}
                    </td>
                    <td>

                    {{detail.passNumber}}
                    </td>
                    <td>

                     {{detail.visaNumber}}
                    </td>
                    <td>

                     {{detail.from}}
                    </td>

                    <td>

                       {{detail.to}}
                    </td>

                </tr>
                </tbody>
</table>
    <div class="col-xl-12">
                <h2 style="color: #1AD9C7;" class="border-bottom pull-right d-inline-block pb-4">
                   {{Attachment}} </h2>

            </div>
              <div class="col-xl-12" >

                     <p v-for="(link,index) in url_link">
                   <a v-bind:href="attach_link+link" target="_blank" >
                        {{ link }}
                    </a>
                    </p>
            </div>

              <div class="col-xl-12">
                <h2 style="color: #1AD9C7;" class="border-bottom pull-right d-inline-block pb-4">
                   {{evaluator_comment}} </h2>

            </div>
              <div class="col-xl-12">
                <h2>{{comment}} </h2>

            </div>

                <div class="col-xl-12" v-if="Status =='accepted'">
                <h2 style="color: #1AD9C7;" class="border-bottom pull-right d-inline-block pb-4">
                   {{accept_number}} </h2>

            </div>
              <div class="col-xl-12">
                <h2>{{data_accept_number}} </h2>

            </div>
                    </div>











</div>
    </template>
<script>
    import UpdateButton from '../users/datatable/UpdateButton.vue';
    import AcceptButton from '../users/datatable/AcceptButton.vue';
    import RefuseButton from '../users/datatable/RefuseButton.vue';
    import Modal from '../datatable/Modal.vue';
    import ModalButton from '../datatable/ModalButton.vue';

    export default {
    mounted(){
        this.setUrl();
        this.Title = window.transs('Title',localStorage.getItem('locale')),
        this.Submit = window.transs('Submit',localStorage.getItem('locale'));
        this.Order_Details = window.transs('Order Details',localStorage.getItem('locale'));
        this.Details = window.transs('Details',localStorage.getItem('locale'));
        this.From = window.transs('From',localStorage.getItem('locale'));
        this.Email = window.transs('Email',localStorage.getItem('locale'));
        this.Request_Details = window.transs('Request Details',localStorage.getItem('locale'));
        this.Price = window.transs('Price',localStorage.getItem('locale'));
        this.Comments =window.transs('Comments',localStorage.getItem('locale'));
        this.Product = window.transs('Product Name',localStorage.getItem('locale'));
        this.Quantity = window.transs('Quantity',localStorage.getItem('locale'));
        this.serial = window.transs('Serial',localStorage.getItem('locale'));
        this.unit = window.transs('Unit',localStorage.getItem('locale'));
        this.code = window.transs('Code',localStorage.getItem('locale'));
        this.time = window.transs('Period(day)',localStorage.getItem('locale'));
        this.status = window.transs('Status',localStorage.getItem('locale'));


        this.Phone = window.transs('Phone',localStorage.getItem('locale'));
         this.Name = window.transs('Name',localStorage.getItem('locale'));
         this.accept = window.transs('Accept',localStorage.getItem('locale'));
         this.refuse = window.transs('Decline',localStorage.getItem('locale'));
         this.CR = window.transs('Commercial Number',localStorage.getItem('locale'));
         this.IR = window.transs('Industrial License No.',localStorage.getItem('locale'));
         this.FactoryName = window.transs('Factory Name',localStorage.getItem('locale'));
         this.FactorySymbol = window.transs('Factory Symbol',localStorage.getItem('locale'));
         this.EmployeeName = window.transs('Employee Name',localStorage.getItem('locale'));
        this.PassportNumber = window.transs('Passport Number',localStorage.getItem('locale'));
        this.VisaNumber = window.transs('Visa Number',localStorage.getItem('locale'));
        this.Path = window.transs('Itinerary',localStorage.getItem('locale'));
        this.From = window.transs('From',localStorage.getItem('locale'));
        this.To = window.transs('To',localStorage.getItem('locale'));
        this.Attachment = window.transs('Attachments',localStorage.getItem('locale'));
        this.requests =  window.transs('Requests',localStorage.getItem('locale'));
         this.evaluator_comment = window.transs('Evaluator Comment',localStorage.getItem('locale'));
         this.accept_number = window.transs('Accept Number',localStorage.getItem('locale'));
         this.City = window.transs('City',localStorage.getItem('locale'));




    },

    data() {
        return {
              name:'',
              Name:'',
          title:'',
          details:'',
          email:'',
          id:'',
          Order_Details:'',
          Submit:'',
          Details:'',
          From:'',
          Email:'',
          Title:'',
          Price:'',
          Request_Details:'',
          Comments:'',
          error: false,
          successful: false,
            Product:'',
          Quantity:'',
          serial:'',
          code:'',
          unit:'',
          requestedQuantity:'',
          time:'',
          errors: [],
          comments:'',
          Status:'',
          status:'',
          trader_details:'',
          Phone:'',
          trader_name:'',
          trader_email:'',
          trader_phone:'',
          order_details:[],
          request_details:[],
          accept:'',
          refuse:'',
          firstName:'',
          middleName:'',
          lastName:'',
          cr:'',
          CR:'',
          ir:'',
          IR:'',
          phone:'',
          factoryName:'',
          FactoryName:'',
          factorySymbol:'',
          FactorySymbol:'',
           EmployeeName:'',
          PassportNumber:'',
          VisaNumber:'',
          Path:'',
          From:'',
          To:'',
          Attachment:'',
          attach_link:'',
          url_link:[],
          requests:'',
          evaluator_comment:'',
          comment:'',
          accept_number:'',
           City:'',
          city:'',
          print_status:'',
        }
    },
      components: {
        UpdateButton,
        Modal,
        ModalButton,
        AcceptButton,
        RefuseButton,

    },


    methods: {
          setUrl() {
              let route = this.$route;
              let id = route['params']['id'];


              axios.get("/ta2shera/public/api/user/get_request/" + id).then(response => {
                    this.firstName= response.data.request.firstName;
                    this.middleName= response.data.request.middleName;
                    this.lastName= response.data.request.lastName;
                    this.email= response.data.request.email;
                    this.phone= response.data.request.phone;
                    this.cr= response.data.request.cr;
                    this.ir= response.data.request.ir;
                    this.factoryName = response.data.request.factory_name;
                    this.factorySymbol = response.data.request.factory_symbol;
                    this.details = response.data.request.details;
                    this.attach_link = "/ta2shera/public/formuploads/";
                    this.url_link = response.data.request.attachments;
                    this.comment = response.data.request.response_comments;
                    this.data_accept_number = response.data.request.accept_number;
                    var statu = response.data.request.status;
                     this.Status = response.data.request.status;
                      if(response.data.city){
                          if (localStorage.getItem('locale')) {


                        if (localStorage.getItem('locale') == 'ar') {
                           this.city = response.data.city.name_ar;
                        } else {
                            this.city = response.data.city.name_en;
                        }


                        }else{
                            this.city = response.data.city.name_ar;
                        }

                      }

                      if(statu =='processing'){
                         this.print_status= window.transs('Processing',localStorage.getItem('locale'));


                    }else if(statu =='new'){
                         this.print_status= window.transs('New',localStorage.getItem('locale'));
                    }else if(statu =='accepted'){
                             this.print_status= window.transs('Accepted',localStorage.getItem('locale'));
                    }else if(statu =='processed'){

                        this.print_status= window.transs('Processed',localStorage.getItem('locale'));


                    }else if(statu =='refused'){
                        this.print_status= window.transs('Refused',localStorage.getItem('locale'));


                    }else if(statu =='returned'){
                        this.print_status= window.transs('Returned',localStorage.getItem('locale'));


                    }else if(statu =='initial_acceptance'){
                        this.print_status= window.transs('Initial Acceptance',localStorage.getItem('locale'));
                    }else if(statu =='return_to_evaluator'){
                        this.print_status= window.transs('Return to evaluator',localStorage.getItem('locale'));
                    }else if(statu =='edited_by_user'){
                        this.print_status= window.transs('Edited By User',localStorage.getItem('locale'));
                    }





             });
        },
        updateSelectedModal(data) {
            this.selectedRow = data;
            console.log(data);

        },



    },


}

</script>
<style>
.table td, .table th{
    text-align: center !important;
}
</style>
