/*==================================================
			Bootstrap 4 Media Queries
==================================================*/


/* Large Devices (Desktops & Laptops) */

@media (min-width: 1200px) and (max-width: 1299px) {
    /* nav-bar */
    .product-logo {
        margin-right: 48rem !important;
    }
    *[dir="ltr"] .product-logo {
        margin-right: 0 !important;
        margin-left: 48rem !important;
    }
}


/* Medium Devices (Landscape Tablets & Medium Desktops) */

@media (min-width: 992px) and (max-width: 1200px) {
    /* nav-bar */
    .product-logo {
        margin-right: 0 !important;
    }
    *[dir="ltr"] .product-logo {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}


/* Small Devices (Portrait Tablets & Small Desktops) */

@media (min-width: 767px) and (max-width: 992px) {
    html {
        font-size: 9px;
    }
    /* nav-bar */
    .product-logo {
        margin-right: 0 !important;
    }
    *[dir="ltr"] .product-logo {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

}


/* Extra Small Devices (Landscape Phones & Portrait Tablets) */
@media (max-width: 767px) {
    html {
        font-size: 8px;
    }
    /* nav-bar */
    .product-logo {
        margin-right: 0 !important;
    }
    *[dir="ltr"] .product-logo {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}


/* Extra Small Devices (Portrait Phones & Smaller Devices) */

@media (max-width: 480px) {
    html {
        font-size: 7px;
    }
    /* nav-bar */
    .product-logo {
        margin-right: 0 !important;
    }
    *[dir="ltr"] .product-logo {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}


/* Extra Small Devices (Portrait Phones & Smaller Devices) */
@media (max-width: 320px) {
    html {
        font-size: 6px;
    }
    /* nav-bar */
    .product-logo {
        margin-right: 0 !important;
    }
    *[dir="ltr"] .product-logo {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}