/* popover */
.popover.show {
    top: -8px !important;
    box-shadow: 0 .125rem .25rem rgba(51,65,74,.5)!important;
}
.popover {
    z-index: 999;
    border-color: #1AD9C7;
    background-color: #1AD9C7;
}
.bs-popover-auto[x-placement^=top] .arrow::after, .bs-popover-auto[x-placement^=top] .arrow::before, .bs-popover-top .arrow::after, .bs-popover-top .arrow::before {
    border-width: 1.25rem 1.25rem 0;
}
.bs-popover-auto[x-placement^=top] .arrow::after, .bs-popover-top .arrow::after {
    bottom: 1px;
    border-top-color: #1AD9C7;
}
.bs-popover-auto[x-placement^=top] .arrow, .bs-popover-top .arrow {
    bottom: calc((1.25rem + 1px) * -1);
}
.popover-header {
    padding: .7rem 3.75rem;
    font-size: 1.8rem;
}
.popover-body {
    font-size: 1.4rem;
    padding: .7rem 3.75rem;
    color: #fff !important;
}
/* end popover */
/* wizard */
.wizard > .steps .disabled a, .wizard > .steps .disabled a:hover, .wizard > .steps .disabled a:active {
    cursor: not-allowed;
}
.wizard > .steps .number {
    text-align: center !important;
}
.wizard > .actions > ul > li:nth-child(2) {
    float: right !important;
}
*[dir="rtl"] .wizard > .actions > ul > li:nth-child(2) {
    float: left !important;
}
*[dir="ltr"] .wizard > .actions > ul > li > a > i.fa-arrow-left {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.wizard > .actions > ul > li:nth-child(1) {
    float: left !important;
}
*[dir="rtl"] .wizard > .actions > ul > li:nth-child(1) {
    float: right !important;
}
.wizard > .actions > ul > li:nth-child(3) {
    float: right !important;
}
*[dir="rtl"] .wizard > .actions > ul > li:nth-child(3) {
    float: left !important;
}
*[dir="ltr"] .wizard > .actions > ul > li > a > i.fa-arrow-right {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.wizard > .actions > ul > li:last-child {
    float: left !important;
}
.wizard > .actions > ul > li:last-child > a {
    background-color: #dc3545 !important;
}
*[dir="rtl"] .wizard > .actions > ul > li:last-child {
    float: right !important;
}
.wizard > .content > .body input {
    background-color: #fff !important;
}
.wizard > .steps > ul > li, .wizard > .actions > ul > li {
    float: right !important;
}
*[dir="ltr"] .wizard > .steps > ul > li, .wizard > .actions > ul > li {
    float: left !important;
}
.wizard > .steps > ul > li {
    width: auto;
    margin-left: 1rem;
}
*[dir="ltr"] .wizard > .steps > ul > li {
    margin-left: 0;
    margin-right: 1rem;
}
.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active {
    background: #1AD9C7;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    text-align: center !important;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active {
    background: #1AD9C7;
    cursor: pointer;
    color: #fff;
    box-shadow: 0 .5rem 1.25rem rgba(0,0,0,.075)!important;
}
.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active {
    background: rgba(199,168,88,.3);
    color: #fff;
    cursor: pointer;
}
.wizard > .content > .body {
    position: relative;
    width: 100%;
    height: 100%;
}
.wizard > .actions {
    margin-bottom: 3rem;
    margin-top: 2rem;
}
.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
    background: #1AD9C7;
    color: #fff;
    display: block;
    padding: .7rem 2rem;
    text-decoration: none;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    border-radius: 10rem;
    font-size: 2rem;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
/* end wizard */
/* Client Add New Project */
.circle_delete_btn_shape {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: #dc3545;
    position: relative;
    top: 3rem;
}
.delete_btn_repeater {
    border: none !important;
    outline: none !important;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}
.delete_btn_repeater:hover {
    opacity: .8;
}
.btn_add_repeater {
    cursor: pointer;
    border: none !important;
    outline: none !important;
    background-color: #2b2c7f;
    font-size: 1.5rem;
    padding: .8rem 1.9rem;
    color: #fff;
    border-radius: 2px;
}
.btn_add_repeater:hover {
    opacity: .9;
}
/* end Client Add New Project */
.hidden_content {
    padding: .3rem 15rem;
    background: #f6f7f8;
    color: #f6f7f8;
    display: block;
}
/* checkbox */
.checkbox input[type="checkbox"] + i:before, .radio input[type="radio"] + i:before {
    bottom: auto !important;
}
.mfp-content,
.mfp-container,
.mfp-content * {
    text-align: center !important;
}
.bootstrap-datetimepicker-widget .picker-switch td span, .bootstrap-datetimepicker-widget .picker-switch td i {
    text-align: center;
}
.bootstrap-datetimepicker-widget {
    direction: ltr;
    font-size: 1.5rem;
}
.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #1AD9C7;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.form-control::-webkit-input-placeholder{
    color:#6c757d;
    opacity:.7;
}
.form-control::-moz-placeholder{
    color:#6c757d;
    opacity:.7;
}
.form-control:-ms-input-placeholder{
    color:#6c757d;
    opacity:.7;
}
.form-control::-ms-input-placeholder{
    color:#6c757d;
    opacity:.7;
}
.form-control::placeholder{
    color:#6c757d;
    opacity:.7;
}
input.parsley-error,
textarea.parsley-error,
select.parsley-error,
input.parsley-error
{
    color: #B94A48 !important;
    /*background-color: #F2DEDE !important;
    border: 1px solid #EED3D7 !important;*/
    border-color: rgba(215, 102, 102, 0.9) !important;
}
.bootstrap-select .dropdown-menu.inner {
    text-align: right;
}
.bootstrap-select>.dropdown-toggle {
    height: 100%;
}
.bootstrap-select>.dropdown-toggle.btn-light {
    background-color: #e9edf1;
    border-color: #1AD9C7;
}
.dropdown-toggle::after {
    font-size: 2.5rem;
    margin-top: .255em;
}
.bootstrap-select .dropdown-toggle .filter-option {
    font-size: 2rem;
}
.bootstrap-select .dropdown-menu {
    font-size: 1.8rem;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: #1AD9C7;
}
.bootstrap-select>.dropdown-toggle.btn.focus,
.bootstrap-select>.dropdown-toggle.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}
.checkbox_error .parsley-errors-list {
    right: .8rem;
    left: auto;
}
*[dir="ltr"] .checkbox_error .parsley-errors-list {
    right: auto;
    left: .8rem;
}
.checkbox_error .parsley-errors-list.filled::after {
    right: .2rem;
    left: auto;
}
*[dir="ltr"] .checkbox_error .parsley-errors-list.filled::after {
    left: .2rem;
    right: auto;
}
.parsley-errors-list {
    position: absolute;
    top: -3.3rem;
    left: .5rem;
}
*[dir="ltr"] .parsley-errors-list {
    right: .5rem;
    left: auto;
}
.parsley-errors-list.filled {
    list-style: none !important;
    padding: .3rem;
    font-size: 1.3rem;
    margin-bottom: 0 !important;
    background: rgba(215, 102, 102, 0.9);
    z-index: 2;
    color: #FFF;
    border-radius: 3px;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
.parsley-errors-list.filled::after {
    /* triangle */
    content: '';
    position: absolute;
    left: .2rem;
    bottom: -30%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid rgba(215, 102, 102, 0.9);
}
*[dir="ltr"] .parsley-errors-list.filled::after {
    right: .2rem;
    left: auto;
}
.selectric {
    height: calc(4.25rem + 2px) !important;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.selectric .label {
    line-height: unset !important;
    font-size: 1.5rem;
    height: calc(4.25rem + 2px) !important;
    padding: 1rem 1.5rem !important;
}
.selectric .button {
    height: 40px;
    width: 40px;
}
.selectric-items ul, .selectric-items li {
    font-size: 1.4rem;
}
.selectric-items li:after {
    content: "\f00c"!important;
    font-family: "FontAwesome";
    font-size: 2rem;
    color: #fff !important;
    background: none !important;
    margin: 4px;
}
.selectric-items li.highlighted,
.selectric-items li.selected {
    background-color: rgba(199,168,88,.7);
    color: #fff;
}
.selectric-items li.highlighted:hover {
    background-color: rgba(199,168,88,.7);
}
.selectric-items li:hover {
    background-color: rgba(199,168,88,.2);
}
.form-group {
    width: 100%;
    position: relative;
    margin-bottom: 2.5rem;
}
textarea.form-control {
    height: auto !important;
}
.form-control.text_height_big {
    height: calc(16.25rem + 2px) !important;
    padding-right: 5.5rem !important;
    padding-left: 5.5rem !important;
}
.form-control {
    height: calc(4.25rem + 2px) !important;
    font-size: 1.8rem;
    padding-right: 5.5rem;
}
*[dir="ltr"] .form-control {
    padding-right: 0;
    padding-left: 5.5rem;
}
.padding-left-password-input {
    padding-left: 5.5rem;
}
*[dir="ltr"] .padding-left-password-input {
    padding-left: auto;
    padding-right: 5.5rem;
}

.div-show-hidden-char-password {
    position: absolute;
    left: 0;
    height: 100%;
    width: 5rem;
}
*[dir="ltr"] .div-show-hidden-char-password {
    right: 0;
    left: auto;
}
.number966_div {
    position: absolute;
    left: 1rem;
    height: 100%;
    width: 5rem;
}
*[dir="ltr"] .number966_div {
    right: 1rem;
    left: auto;
}

.div-show-hidden-char-password button {
    cursor: pointer;
    height: 100%;
    width: 100%;
    outline: none;
    box-shadow: none;
    border: none;
    background-color: transparent;
    font-size: 1.9rem;
    color: #929292;
}
.change-icon-show-password:before {
    content: "\f070";
    font-family: "FontAwesome";
}
.div-show-hidden-char-password button:before {
    position: absolute;
    right: 0;
    display: inline-block;
    width: 1px;
    bottom: .4rem;
    top: .5rem;
    content: "";
    background-color: #ddd;
}
*[dir="ltr"] .div-show-hidden-char-password button:before {
    left: 0;
    right: auto;
}
.number966_div label {
    height: 100%;
    width: 100%;
    outline: none;
    box-shadow: none;
    border: none;
    background-color: transparent;
    font-size: 1.8rem;
    padding-top: .8rem;
    color: #929292;
}
.number966_div label:before {
    position: absolute;
    right: 0;
    display: inline-block;
    width: 1px;
    height: 3.5rem;
    bottom: .4rem;
    top: .5rem;
    content: "";
    background-color: #ddd;
}
*[dir="ltr"] .number966_div label:before {
    left: 0;
    right: auto;
}
.icon-form-group {
    position: absolute;
    right: .8rem;
    top: .4rem;
}
*[dir="ltr"] .icon-form-group {
    right: auto;
    left: .8rem;
}
.icon-form-group .icon-input-form {
    font-size: 3.4rem;
    color: #1AD9C7;
    opacity: .5;
}
.label-form {
    font-size: 1.7rem;
    color: #2b2c7f;
}
.circle-shape-icon {
    border-radius: 50%;
    height: 9rem;
    width: 9rem;
    border: 1px solid #1AD9C7;
}
.logo-circle-svg {
    height: 6rem;
}
.form-login {
    padding: 4rem 2rem;
    /*transform-style: preserve-3d;
    transition: all 1s ease-in-out;*/
}
.btn-nav {
    text-decoration: none;
    font-size: 1.6rem;
}
.btn-nav:hover {
    text-decoration: none;
    color: #33414A;
}
.form-control:focus {
    border-color: #1AD9C7;
    box-shadow: none;
}
.form-control:focus ~ .icon-form-group .icon-input-form {
    opacity: 1;
}
.iziToast-wrapper-topCenter > .iziToast-capsule,
.iziToast-wrapper-center > .iziToast-capsule {
    text-align: center;
}
.iziToast-wrapper-bottomLeft > .iziToast-capsule {
    text-align: left;
}
*[dir="ltr"] .iziToast-wrapper-bottomLeft > .iziToast-capsule {
    text-align: right;
}
.iziToast-wrapper-topRight > .iziToast-capsule {
    text-align: left;
}
*[dir="ltr"] .iziToast-wrapper-topRight > .iziToast-capsule {
    text-align: right;
}

.iziToast-wrapper-topCenter,
.iziToast-wrapper-topLeft,
.iziToast-wrapper-topRight {
    margin-top: 6.5rem;
    font-family: 'Tajawal', sans-serif;
}
.iziToast>.iziToast-body .iziToast-message, .iziToast>.iziToast-body .iziToast-title {
    font-size: 2rem !important;
}
.iziToast-body .iziToast-icon {
    background-size: 100% !important;
    -webkit-background-size: 100% !important;
}
/* general */
html {
    font-size: 10px;
    overflow-y: hidden;
    overflow-x: hidden;
}
html,body {
    font-family: 'Tajawal', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
/*    -webkit-touch-callout: none; !* iOS Safari *!
    -webkit-user-select: none; !* Safari *!
    -khtml-user-select: none; !* Konqueror HTML *!
    -moz-user-select: none; !* Firefox *!
    -ms-user-select: none; !* Internet Explorer/Edge *!
    user-select: none; !* Non-prefixed version, currently supported by Chrome and Opera *!*/
}
*[dir="ltr"] *{
    text-align: left;
}
*[dir="rtl"] *{
    text-align: right;
}
*[dir="ltr"] .pull-right {
    float: left;
}
*[dir="ltr"] .pull-left {
    float: right;
}
*[dir="ltr"] .offset-xl-6 {
    margin-left: auto;
    margin-right: 50% !important;
}
.btn-divider-right:before {
    position: absolute;
    right: -1rem;
    display: inline-block;
    width: 1px;
    height: 100%;
    top: 0;
    margin-right: -2rem;
    content: "";
    background-color: #ddd;
}
*[dir="ltr"] .btn-divider-right:before {
    margin-right: 0;
    right: auto;
    left:  -1rem;
}
.equal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.equal > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
.center-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cd-section {
    /* vertically align its content*/
    display: table;
    width: 100%;
    height: 100vh;
}
.cd-section > div {
    /* vertically align <div> inside <section> */
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.btn-global:link,
.btn-global:visited,
.btn-global:active,
.btn-global:focus {
    text-decoration: none;
    padding: .7rem 2rem;
    font-size: 1.5rem;
    transition: all .3s ease-in-out;
}
.btn-border-green {
    border-radius: 3px;
    border: 1px solid #1AD9C7;
}
.btn-border-rounded-green {
    border-radius: 10rem;
    border: 1px solid #1AD9C7;
}
.btn-border-rounded-white {
    border-radius: 10rem;
    border: 1px solid #fff;
}
.btn-white-color {
    color: #fff;
}
.btn-green-color {
    color: #1AD9C7;
}
.bg-btn-green {
    background: #1AD9C7;
}
.bg-btn-white {
    background: #fff;
}
.btn-green-color:hover {
    color: #fff;
    background-color: #1AD9C7;
    border-color: #1AD9C7;
}
.btn-white-color:hover {
    color: #fff;
    background-color: #1AD9C7;
    border-color: #1AD9C7;
    opacity: .8;
}
.bg-padding-btn {
    padding: .7rem 4rem !important;
    font-size: 2.2rem !important;
}
/* end general */
/* end general */
/* header nav-bar */
.toggle_language_site_dark {
    box-shadow: none !important;
    outline: none !important;
    padding: .7rem 1rem;
    font-size: 1.5rem;
    background-color: #2b2c7f;
    color: #fff !important;
}
.toggle_language_site_dark.btn-divider-right:before,
.toggle-menu-user.btn-divider-right:before {
    right: auto;
}
.navbar {
    margin-right: 25rem;
    transition: all .4s linear;
}
*[dir="ltr"] .navbar {
    margin-right: 0;
    margin-left: 25rem;
}
.navbar.hide-side-bar {
    margin-right: 0;
}
*[dir="ltr"] .navbar.hide-side-bar {
    margin-left: 0;
    margin-right: auto;
}
*[dir="ltr"] .navbar-nav.mr-auto {
    margin-left: auto!important;
    margin-right: 0 !important;
}
.product-logo {
    margin-right: 45rem !important;
}
*[dir="ltr"] .product-logo {
    margin-right: 0 !important;
    margin-left: 45rem !important;
}
header .dropdown-toggle {
    background: none;
    box-shadow: none;
    outline: none;
    font-size: 1.6rem;
}
header .btn.dropdown-toggle {
    background: none;
    box-shadow: none;
    outline: none;
}
header .dropdown-toggle::after {
    border: none;
}
header .dropdown-menu {
    font-size: 1.8rem;
    margin-left: 1rem;
    width: 20rem;
}
*[dir="ltr"] header .dropdown-menu {
    margin-left: 0;
    margin-right: 1rem;
}
header button[aria-expanded='true'] i:before {
    content: "\f106";
    font-family: "FontAwesome";
}
.side-menu ul{
    padding: 0;
    list-style: none;
    margin: 0;
}
.side-menu ul li a{
    color: #585858;
    padding: 10px;
    border-top: 1px solid #f1f1f1;
    display: block;
    font-size: 1.5rem;
    text-align: center !important;
}
.side-menu ul li a:hover,.side-menu ul li a:focus,.side-menu ul li a:active,.side-menu ul li a.active,.side-menu ul li a.active:hover,.side-menu ul li a.active:focus{
    background-color: #eee;
    color: #000;
    text-decoration: none;
}
#show-side-bar-menu {
    background: none;
    border: 1px solid #2b2c7f;
    border-radius: 2px;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: none;
    outline: none;
}
main .content-dashboard {
    margin: 10rem 28rem 10rem 3rem;
    transition: all .4s linear;
}
*[dir="ltr"] main .content-dashboard {
    margin: 10rem 3rem 10rem 28rem !important;
}
main .content-dashboard.hide-side-bar {
    margin-right: 3rem !important;
}
*[dir="ltr"] main .content-dashboard.hide-side-bar {
    margin-left: 3rem !important;
}
/* end header nav-bar */
/* side bar menu */
body {
    background-color: #F2F2F2;
}
#menu-dashboard {
    position: fixed;
    top: 0;
    right: -25rem;
    bottom: 0;
    max-width: 25rem;
    width: 25rem;
    background-color: #2b2c7f;
    transition: all .4s linear;
    overflow: hidden;
}
*[dir="ltr"] #menu-dashboard {
    right: auto;
    left: -25rem;
}
#menu-dashboard.shadow {
    box-shadow: -.5rem 0 1rem rgba(0,0,0,.15)!important;
}
*[dir="ltr"] #menu-dashboard.shadow {
    box-shadow: .5rem 0 1rem rgba(0,0,0,.15)!important;
}
.show-side-bar {
    right: 0 !important;
}
*[dir="ltr"] .show-side-bar {
    left: 0 !important;
    right: auto;
}
.circle-shape-icon {
    border-radius: 50%;
    height: 9rem;
    width: 9rem;
    border: 1px solid #1AD9C7;
    background-color: #fff;
}
/*#side-bar-menu .list-side-bar {
    list-style: none;
    display: block;
    height: 100%;
    width: 100%;
    padding-right: 0 !important;
}
.active-menu-dashboard {
    border-right: 1rem solid #25A197;
    background-color: rgba(37,161,151,.3);
}
.active-menu-dashboard a {
    color: #fff !important;
}
#side-bar-menu .list-side-bar .side-bar-item:last-child {
    position: absolute;
    bottom: 0;
}
#side-bar-menu .list-side-bar .side-bar-item:first-child {
    border-top: 1px solid #3d4c57;
}
#side-bar-menu .list-side-bar .side-bar-item {
    display: block;
    height: 5rem;
    width: 100%;
    text-align: right;
    padding-right: 1.9rem;
    border-bottom: 1px solid #3d4c57;
    transition: all .4s ease-in-out;
}
#side-bar-menu .list-side-bar .side-bar-item a:link,
#side-bar-menu .list-side-bar .side-bar-item a:active,
#side-bar-menu .list-side-bar .side-bar-item a:focus,
#side-bar-menu .list-side-bar .side-bar-item a:visited {
    font-size: 1.8rem;
    color: #ddd;
    text-decoration: none;
    height: 100%;
    padding-top: 1rem;
    display: block;
    transition: all .4s ease-in-out;
}
#side-bar-menu .list-side-bar .side-bar-item a:hover {
    color: #fff;
    padding-right: 2.5rem !important;
}
#side-bar-menu .list-side-bar .side-bar-item:hover {
    border-right: 1rem solid #25A197;
    background-color: rgba(37,161,151,.3);
}*/

/* Base Styles menu dashboard*/
#side-bar-menu,
#side-bar-menu ul,
#side-bar-menu li,
#side-bar-menu a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
    font-size: 1.8rem;
    position: relative;
}

#side-bar-menu a {
    line-height: 1.3;
}

#side-bar-menu {
    width: 100%;
}
#side-bar-menu ul > li {
    transition: all .4s ease-in-out;
}
#side-bar-menu > ul > li.side-bar-item > a {
    border-bottom: 1px solid #2b2c7f;
    border-top: 1px solid #2b2c7f;
    height: 5.5rem;
    font-size: 1.8rem;
    color: #ddd;
    text-decoration: none;
    padding-top: 1.5rem;
    padding-right: 2rem;
    display: block;
    transition: all .4s ease-in-out;
}
*[dir="ltr"] #side-bar-menu > ul > li.side-bar-item > a {
    padding-right: 0;
    padding-left: 2rem;
}
#side-bar-menu > ul > li.side-bar-item > a:hover {
    text-decoration: none;
    color: #fff;
    padding-right: 2.5rem !important;
    border-right: .3rem solid #1AD9C7;
    background-color: rgba(199,168,88,.3);
}
*[dir="ltr"] #side-bar-menu > ul > li.side-bar-item > a:hover {
    padding-right: 0;
    padding-left: 2.5rem !important;
    border-right: none !important;
    border-left: .3rem solid #1AD9C7;
}
.active-menu-dashboard {
    background-color: rgba(199,168,88,.2);
}
.active-menu-dashboard > a {
    border-right: .3rem solid #1AD9C7!important;
    color: #fff !important;
}
*[dir="ltr"] .active-menu-dashboard > a {
    border-right: none !important;
    border-left: .3rem solid #1AD9C7!important;
}
/* Sub menu */
#side-bar-menu ul ul {
    display: none;
}
#side-bar-menu ul ul a {
    height: 4.5rem;
    font-size: 1.7rem;
    color: #ddd;
    text-decoration: none;
    padding-top: .9rem;
    padding-right: 3.5rem;
    display: block;
    transition: all .4s ease-in-out;
}
*[dir="ltr"] #side-bar-menu ul ul a {
    padding-left: 3.5rem;
    padding-right: 0;
}
#side-bar-menu ul ul a i {
    font-size: 1.2rem;
}
#side-bar-menu ul ul a:hover {
    text-decoration: none;
    color: #fff;
    border-right: .3rem solid #A3A1FB;
    background-color: rgba(39, 49, 56, 0.8);
}
*[dir="ltr"] #side-bar-menu ul ul a:hover {
    border-right: none !important;
    border-left: .3rem solid #A3A1FB;
}
#side-bar-menu ul ul li a{
    color: #b4b4b4;
    background-color: rgba(39, 49, 56, 0.8);
}
.icon-left-side-bar {
    position: absolute;
    left: 1.4rem;
    top: 1.4rem;
    font-size: 2.3rem;
}
*[dir="ltr"] .icon-left-side-bar {
    left: auto;
    right: 1.4rem;
}
*[dir="ltr"] .icon-left-side-bar::before {
    content: "\f105";
    font-family: "FontAwesome";
}

.toggle-icon-side-bar-menu.icon-left-side-bar::before {
    content: "\f107";
    font-family: "FontAwesome";
}
.active-sub-menu-dashboard {
    background-color: rgba(163,161,251,.4);
}
.active-sub-menu-dashboard > a {
    border-right: .3rem solid #A3A1FB !important;
    color: #fff !important;
}
*[dir="ltr"] .active-sub-menu-dashboard > a {
    border-right: none !important;
    border-left: .3rem solid #A3A1FB !important;
}
/* end side bar menu */

/* home view */
.row_home_number_card {
    margin-top: 4rem;
}
.row_home_number_card i {
    position: absolute;
    right: 1.5rem;
    bottom: 1rem;
    font-size: 7rem;
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}
*[dir="ltr"] .row_home_number_card i {
    left: 1.5rem;
    right: auto;
}
.cart_1 {
    background:-moz-linear-gradient(top, #2bc7bd 0%, #25A197 100%);
    background: -webkit-linear-gradient(top, #2bc7bd 0%,#25A197 100%);
    background: linear-gradient(to bottom, #2bc7bd 0%,#25A197 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
}
.cart_2 {
    background:-moz-linear-gradient(top, #A3A0FB 0%, #6a68a4 100%);
    background: -webkit-linear-gradient(top, #A3A0FB 0%, #6a68a4 100%);
    background: linear-gradient(to bottom, #A3A0FB 0%, #6a68a4 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
}
.cart_3 {
    background:-moz-linear-gradient(top, #55D8FE 0%, #3e8eae 100%);
    background: -webkit-linear-gradient(top, #55D8FE 0%, #3e8eae 100%);
    background: linear-gradient(to bottom, #55D8FE 0%, #3e8eae 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
}
.row_home_number_card span {
    font-size: 3.3rem;
    color: #2b2c7f;
}
.card_link .card {
    transition: all .3s ease-in-out;
}
.card_link:hover .card{
    transform: scale(1.04);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.size-chart {
    width: 100% !important;
}
.size-chart svg {
    width: 100% !important;
}
#donut-example svg text {
    font-family: "Tajawal" !important;
    font-weight: 400 !important;
}
/* end home view */
/* modal style */
.modal-open .modal {
    overflow-y: hidden;
    overflow-x: hidden;
}
.modal-backdrop {
}
.modal-dialog {
    margin: .8rem auto;
}
.modal-dialog .container-fluid {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.modal-body {
    max-height: 75vh;
    overflow-y: auto;
}
.modal-footer.shadow-sm {
    box-shadow: 0 -.125rem .25rem rgba(0,0,0,.075)!important;
}
.btn-primary {
    background-color: #1AD9C7;
    border-color: #1AD9C7!important;
    color: #fff !important;
}
.btn-primary.focus,
.btn-primary:focus {
    box-shadow: none !important;
    outline: none !important;
    border-color: #1AD9C7!important;
    color: #fff !important;
}
.btn-primary:hover {
    background-color: #1AD9C7!important;
    opacity: .8;
    color: #fff !important;
}
.btn-info {
    background-color: #A3A1FB;
    border-color: #A3A1FB !important;
    color: #fff !important;
}
.btn-info.focus,
.btn-info:focus {
    box-shadow: none !important;
    outline: none !important;
    border-color: #A3A1FB !important;
    color: #fff !important;
}
.btn-info:hover {
    background-color: #A3A1FB !important;
    opacity: .8;
    color: #fff !important;
}
.btn-light {

}
.btn-light.focus,
.btn-light:focus {
    box-shadow: none !important;
    outline: none !important;
    border-color: #1AD9C7;
    color: #fff;
}
.btn-light:hover {
    background-color: #1AD9C7;
    border-color: #1AD9C7;
    color: #fff !important;
}
/* end modal style */

/* tables style */
.icon_font_table {
    font-size: 4rem;
}
table {
    font-size: 1.5rem !important;
    text-align: right;
}
.table-hover>tbody>tr:hover {
    background-color: rgba(37, 161, 151, .1);
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    direction: ltr;
    float: left;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    font-size: 1.5rem;
}
*[dir="ltr"] div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    float: right;
}
div.dataTables_wrapper .page-link {
    color: #1AD9C7;
    outline: none;
    box-shadow: none;
    padding: .6rem 1rem;
}
div.dataTables_wrapper .page-link:focus {
    outline: none;
    box-shadow: none;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link{
    color: #fff;
    background-color: #1AD9C7;
    border-color: #1AD9C7;
    outline: none;
    box-shadow: none;
}
div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.25em;
    float: right;
    font-size: 1.5rem;
}
div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
    margin-bottom: .5rem;
}
*[dir="ltr"] div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
}
div.dataTables_wrapper div.dataTables_filter label {
    font-size: 1.5rem;
    margin-left: 5rem;
}
*[dir="ltr"] div.dataTables_wrapper div.dataTables_filter label {
    margin-left: 0;
    margin-right: 5rem;
}
div.dataTables_wrapper div.dataTables_filter input.form-control-sm {
    height: calc(2.8125rem + 2px) !important;
    padding-right: .5rem !important;
    padding-left: .5rem !important;
    margin-right: .5rem;
}
div.dataTables_wrapper div.dataTables_filter input {
    width: 100%;
    font-size: 1.5rem;
}
div.dataTables_wrapper div.dataTables_filter input:focus {
    border: .05rem solid #1AD9C7;
    box-shadow: none;
}
div.dataTables_wrapper div.dataTables_length {
    text-align: right;
    margin-bottom: 1.5rem;
}
*[dir="ltr"] div.dataTables_wrapper div.dataTables_length {
    text-align: left;
}
div.dataTables_wrapper div.dataTables_length label {
    font-size: 1.5rem;
    margin-right: 1rem;
}
div.dataTables_wrapper div.dataTables_length label select.custom-select-sm {
    height: calc(2.8125rem + 2px) !important;
}
div.dataTables_wrapper div.dataTables_length select {
    margin-left: .3rem;
    margin-right: .3rem;
    font-size: 1.5rem;
    padding-right: 2.5rem !important;
    padding-left: 2.5rem !important;
    text-align: center;
}
div.dataTables_wrapper div.dataTables_length select:focus {
    border: .05rem solid #1AD9C7;
    box-shadow: none;
}
table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
    border-right-width: thin;
}
table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
    background-color: rgba(43, 44, 127, .2);
}
table.dataTable tbody tr.selected  {
    background-color: rgba(43, 44, 127, .2);
}
table.dataTable tbody tr.selected  td{
    border-color: #fff;
}
table.dataTable thead th.sorting_asc:after {
    content: '\f0de';
}
table.dataTable thead th.sorting_desc:after {
    content: '\f0dd';
}
table.dataTable thead th.sorting:after {
    content: '\f0dc';
    color: #333;
    font-size: 1em;
    padding-top: 0.12em;
}
table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
    position: absolute;
    top: 5px;
    right: 8px;
    display: block;
    font-family: 'FontAwesome';
}
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
    content: '';
}
.checkbox input[type="checkbox"] {
    opacity: 0;
    display: none;
}
.checkbox_label {
    font-size: 1.7rem;
    cursor: pointer;
}
.checkbox_span:before {
    font-family: 'FontAwesome';
    content: "\f096";
    color: #888888;
    opacity: 1;
}
.checkbox input[type="checkbox"]:checked + .checkbox_label i:before {
    font-family: 'FontAwesome';
    content: "\f046";
    color: #1AD9C7;
}
.checkbox input[type="checkbox"]:checked + .checkbox_label .checkbox_span:after {
    opacity: 1;
    font-family: 'FontAwesome';
    content: "\f046";
    color: #1AD9C7;
    transition: opacity .2s;
}
.checkbox input[type="checkbox"]:checked + .checkbox_label .checkbox_span:before {
    opacity: 0;
    display: none;
}
.card-header-table {
    margin-right: 3rem;
    margin-left: 3rem;
    background: linear-gradient(60deg,#A3A1FB, #7e7dc6);
    box-shadow: 0 .4rem 2rem 0 rgba(0,0,0,.14), 0 .7rem 1rem -.5rem rgba(163,161,251,.7);
    border-radius: .3rem;
    margin-top: -2rem;
    padding: 1.5rem;
}
*[dir="ltr"] .card-header-table{
    background: linear-gradient(60deg,#7e7dc6,#A3A1FB) !important;
}
.card-header-table-2 {
    margin-right: 3rem;
    margin-left: 3rem;
    background: linear-gradient(60deg,#FF8373, #cb665f);
    box-shadow: 0 .4rem 2rem 0 rgba(0,0,0,.14), 0 .7rem 1rem -.5rem rgba(255,131,115,.7);
    border-radius: .3rem;
    margin-top: -2rem;
    padding: 1.5rem;
}
*[dir="ltr"] .card-header-table-2 {
    background: linear-gradient(60deg,#cb665f,#FF8373) !important;
}
.card-header-table-3 {
    margin-right: 3rem;
    margin-left: 3rem;
    background: linear-gradient(60deg, #55D8FE, #42a4c2);
    box-shadow: 0 .4rem 2rem 0 rgba(0,0,0,.14), 0 .7rem 1rem -.5rem rgba(85,216,254,.7);
    border-radius: .3rem;
    margin-top: -2rem;
    padding: 1.5rem;
}
*[dir="ltr"] .card-header-table-3 {
    background: linear-gradient(60deg,#42a4c2,#55D8FE) !important;
}
.card-header-table-4 {
    margin-right: 3rem;
    margin-left: 3rem;
    background: linear-gradient(60deg, #30cfc3, #27a69c);
    box-shadow: 0 .4rem 2rem 0 rgba(0,0,0,.14), 0 .7rem 1rem -.5rem rgba(48,207,195,.7);
    border-radius: .3rem;
    margin-top: -2rem;
    padding: 1.5rem;
}
*[dir="ltr"] .card-header-table-4 {
    background: linear-gradient(60deg,#27a69c,#30cfc3) !important;
}
.btn.focus,
.btn:focus {
    box-shadow: none !important;
    outline: none !important;
}
.btn-status:hover {
    background-color: #dc3545 !important;
    color: #fff;
}
.btn-status {
    color: #fff !important;
    background-color: #afafaf;
    border-right: 3px solid #dc3545;
    font-size: 1.2rem !important;
    transition: all .4s ease-in-out;
}
*[dir="ltr"] .btn-status {
    border-right: none !important;
    border-left: 3px solid #dc3545;
}
.btn-active-status:hover {
    background-color: #1AD9C7!important;
    color: #fff;
}
.btn-active-status {
    border-right: 3px solid #1AD9C7;
}
*[dir="ltr"] .btn-active-status {
    border-right: none !important;
    border-left: 3px solid #1AD9C7;
}
.custom-select-options {
    height: calc(2.8125rem + 2px) !important;
    width: 25%;
    font-size: 1.5rem;
}
.custom-select-options-table {
    font-size: 1.5rem;
}
/* end tables style */
/* show client  profile */
.circle_number {
    position: relative;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    background-color: #1AD9C7;
}
.project_card_link {
    text-decoration: none;
    color: #2b2c7f;
}
.project_card_link:hover {
    text-decoration: none;
    color: #2b2c7f;
}
.card.project_card {
    overflow: hidden !important;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
.card.project_card:hover {
    text-decoration: none;
    -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    -moz-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.circle_notify {
    position: relative;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    color: #fff;
    padding: 1rem;
    background-color: #f23b4c;
}
.circle_notify span {
    font-size: 1.1rem;
}
.btn_load_more {
    font-size: 1.8rem;
    color: #fff;
    background-color: #2b2c7f;
    transition: all .4s ease-in-out;
}
.btn_load_more:hover {
    background-color: #1AD9C7;
}
.btn_load_more.btn {
    outline: none !important;
    box-shadow: none !important;
}
.list_conditions {
    font-size: 1.5rem;
    padding-left: .5rem;
    padding-right: 1rem;
}
*[dir="ltr"] .list_conditions {
    padding-right: .5rem;
    padding-left: 1rem;
}
.list_conditions li {
    margin-right: .8rem;
    margin-top: .5rem;
}
*[dir="ltr"] .list_conditions li {
    margin-right: auto;
    margin-left: .8rem;
}
.list_conditions li > span {
    font-size: 1.4rem;
}

.info_project_list {
    list-style: none;
    padding-right: 0 !important;
}
*[dir="ltr"] .info_project_list {
    padding-left: 0 !important;
}
.info_project_list li {
    font-size: 1.8rem;
    padding: .6rem;
}
.info_project_list li:before {
    content: "\f1ce";
    font-family: "FontAwesome";
    font-size: 1.3rem;
    margin-left: .5rem;
    color: #2b2c7f;
}
*[dir="ltr"] .info_project_list li:before {
    margin-right: .5rem;
    margin-left: 0;
}
/* Loader Lib */
#preloader-container {
    background:#ffffff;
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    z-index:999999999999999999;
}
.preloader-container {
    background:rgba(0,0,0,.6);
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    z-index:999999999999999999;
}
#preloader-wrap {
    width: 6rem;
    height: 6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -3rem;
    margin-top: -3rem;
}
.preloader-wrap {
    width: 6rem;
    height: 6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -3rem;
    margin-top: -3rem;
}
.cssload-thecube {
    width: 6rem;
    height: 6rem;
    margin: 0 auto;
    position: relative;
    transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
    position: relative;
    transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}
.preloader-container .preloader-wrap .cssload-thecube .cssload-cube:before {
    background-color: #fff !important;
}
.cssload-thecube .cssload-cube:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1AD9C7;
    animation: cssload-fold-thecube 4.2s infinite linear both;
    -o-animation: cssload-fold-thecube 4.2s infinite linear both;
    -ms-animation: cssload-fold-thecube 4.2s infinite linear both;
    -webkit-animation: cssload-fold-thecube 4.2s infinite linear both;
    -moz-animation: cssload-fold-thecube 4.2s infinite linear both;
    transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
}
.cssload-thecube .cssload-c2 {
    transform: scale(1.1) rotateZ(90deg);
    -o-transform: scale(1.1) rotateZ(90deg);
    -ms-transform: scale(1.1) rotateZ(90deg);
    -webkit-transform: scale(1.1) rotateZ(90deg);
    -moz-transform: scale(1.1) rotateZ(90deg);
}
.cssload-thecube .cssload-c3 {
    transform: scale(1.1) rotateZ(180deg);
    -o-transform: scale(1.1) rotateZ(180deg);
    -ms-transform: scale(1.1) rotateZ(180deg);
    -webkit-transform: scale(1.1) rotateZ(180deg);
    -moz-transform: scale(1.1) rotateZ(180deg);
}
.cssload-thecube .cssload-c4 {
    transform: scale(1.1) rotateZ(270deg);
    -o-transform: scale(1.1) rotateZ(270deg);
    -ms-transform: scale(1.1) rotateZ(270deg);
    -webkit-transform: scale(1.1) rotateZ(270deg);
    -moz-transform: scale(1.1) rotateZ(270deg);
}
.cssload-thecube .cssload-c2:before {
    animation-delay: 0.53s;
    -o-animation-delay: 0.53s;
    -ms-animation-delay: 0.53s;
    -webkit-animation-delay: 0.53s;
    -moz-animation-delay: 0.53s;
}
.cssload-thecube .cssload-c3:before {
    animation-delay: 1.05s;
    -o-animation-delay: 1.05s;
    -ms-animation-delay: 1.05s;
    -webkit-animation-delay: 1.05s;
    -moz-animation-delay: 1.05s;
}
.cssload-thecube .cssload-c4:before {
    animation-delay: 1.58s;
    -o-animation-delay: 1.58s;
    -ms-animation-delay: 1.58s;
    -webkit-animation-delay: 1.58s;
    -moz-animation-delay: 1.58s;
}
@keyframes cssload-fold-thecube {
    0%, 10% {
        transform: perspective(136px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        transform: perspective(136px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        transform: perspective(136px) rotateY(180deg);
        opacity: 0;
    }
}
/* end Loader */

/* terms */
.jconfirm.jconfirm-white .jconfirm-bg, .jconfirm.jconfirm-light .jconfirm-bg {
    opacity: .6;
}
/* end terms */


.custom-file-label {
    cursor: pointer !important;
    color: #999 !important;
    box-shadow: none !important;
    height:calc(4.25rem + 2px) !important;
    text-align: left !important;
}
.custom-file-label:after {
    height:calc(4.1rem + 2px) !important;
    border: none !important;
    content: 'إختر ملف' !important;;
    color: #fff !important;
    background-color: #1AD9C7!important;
    line-height: 1.8 !important;
    padding: .375rem 2.75rem !important;
    top: auto;
}
.custom-file-input {
    cursor: pointer !important;
    height:calc(4.1rem + 2px) !important;
}
*[dir="ltr"] .custom-file-label:after {
    content: 'Choose File' !important;
}
