/* tables style */
table {
    font-size: 1.5rem !important;
    text-align: center;
}
.table-hover>tbody>tr:hover {
    background-color: rgba(199, 168, 88, .1);
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    direction: ltr;
    float: left;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    font-size: 1.5rem;
}
*[dir="ltr"] div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    float: right;
}
div.dataTables_wrapper .page-link {
    color: #1AD9C7;
    outline: none;
    box-shadow: none;
    padding: .6rem 1rem;
}
div.dataTables_wrapper .page-link:focus {
    outline: none;
    box-shadow: none;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link{
    color: #fff;
    background-color: #1AD9C7;
    border-color: #1AD9C7;
    outline: none;
    box-shadow: none;
}
div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.25em;
    float: right;
    font-size: 1.5rem;
}
div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
    margin-bottom: .5rem;
}
div.dataTables_wrapper div.dataTables_filter label {
    font-size: 1.5rem;
    margin-left: 5rem;
}
div.dataTables_wrapper div.dataTables_filter input.form-control-sm {
    height: calc(2.8125rem + 2px) !important;
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}
div.dataTables_wrapper div.dataTables_filter input {
    width: 100%;
    font-size: 1.5rem;
}
div.dataTables_wrapper div.dataTables_filter input:focus {
    border: .05rem solid #1AD9C7;
    box-shadow: none;
}
div.dataTables_wrapper div.dataTables_length {
    text-align: right;
    margin-bottom: 1.5rem;
}
div.dataTables_wrapper div.dataTables_length label {
    font-size: 1.5rem;
    margin-right: 1rem;
}
div.dataTables_wrapper div.dataTables_length label select.custom-select-sm {
    height: calc(2.8125rem + 2px) !important;
}
div.dataTables_wrapper div.dataTables_length select {
    margin-left: .3rem;
    margin-right: .3rem;
    font-size: 1.5rem;
}
div.dataTables_wrapper div.dataTables_length select:focus {
    border: .05rem solid #1AD9C7;
    box-shadow: none;
}
table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
    border-right-width: thin;
}
table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
    background-color: rgba(43, 44, 127, .2);
}
table.dataTable tbody tr.selected  {
    background-color: rgba(43, 44, 127, .2);
}
table.dataTable tbody tr.selected  td{
    border-color: #fff;
}
table.dataTable thead th.sorting_asc:after {
    content: '\f0de';
}
table.dataTable thead th.sorting_desc:after {
    content: '\f0dd';
}
table.dataTable thead th.sorting:after {
    content: '\f0dc';
    color: #333;
    font-size: 1em;
    padding-top: 0.12em;
}
table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
    position: absolute;
    top: 5px;
    right: 8px;
    display: block;
    font-family: 'FontAwesome';
}
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
    content: '';
}
.checkbox input[type="checkbox"] {
    opacity: 0;
    display: none;
}
.checkbox_label {
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0;
}
.checkbox_span:before {
    font-family: 'FontAwesome';
    content: "\f096";
    color: #888888;
    opacity: 1;
    display: block;
}
.checkbox input[type="checkbox"]:checked + .checkbox_label .checkbox_span:after {
    opacity: 1;
    font-family: 'FontAwesome';
    content: "\f046";
    color: #1AD9C7;
    transition: opacity .2s;
}
.checkbox input[type="checkbox"]:checked + .checkbox_label .checkbox_span:before {
    opacity: 0;
    display: none;
}
.card-header-table {
    margin-right: 3rem;
    margin-left: 3rem;
    background: linear-gradient(60deg,#A3A1FB, #7e7dc6);
    box-shadow: 0 .4rem 2rem 0 rgba(0,0,0,.14), 0 .7rem 1rem -.5rem rgba(163,161,251,.7);
    border-radius: .3rem;
    margin-top: -2rem;
    padding: 1.5rem;
}
*[dir="ltr"] .card-header-table{
    background: linear-gradient(60deg,#7e7dc6,#A3A1FB) !important;
}
.card-header-table-2 {
    margin-right: 3rem;
    margin-left: 3rem;
    background: linear-gradient(60deg,#FF8373, #cb665f);
    box-shadow: 0 .4rem 2rem 0 rgba(0,0,0,.14), 0 .7rem 1rem -.5rem rgba(255,131,115,.7);
    border-radius: .3rem;
    margin-top: -2rem;
    padding: 1.5rem;
}
*[dir="ltr"] .card-header-table-2 {
    background: linear-gradient(60deg,#cb665f,#FF8373) !important;
}
.card-header-table-3 {
    margin-right: 3rem;
    margin-left: 3rem;
    background: linear-gradient(60deg, #55D8FE, #42a4c2);
    box-shadow: 0 .4rem 2rem 0 rgba(0,0,0,.14), 0 .7rem 1rem -.5rem rgba(85,216,254,.7);
    border-radius: .3rem;
    margin-top: -2rem;
    padding: 1.5rem;
}
*[dir="ltr"] .card-header-table-3 {
    background: linear-gradient(60deg,#42a4c2,#55D8FE) !important;
}
.card-header-table-4 {
    margin-right: 3rem;
    margin-left: 3rem;
    background: linear-gradient(60deg, #30cfc3, #27a69c);
    box-shadow: 0 .4rem 2rem 0 rgba(0,0,0,.14), 0 .7rem 1rem -.5rem rgba(48,207,195,.7);
    border-radius: .3rem;
    margin-top: -2rem;
    padding: 1.5rem;
}
*[dir="ltr"] .card-header-table-4 {
    background: linear-gradient(60deg,#27a69c,#30cfc3) !important;
}
.btn.focus,
.btn:focus {
    box-shadow: none !important;
    outline: none !important;
}
.btn-status {
    color: #fff;
    background-color: #afafaf;
    transition: all .4s ease-in-out;
}
.btn-de-active-status-fill {
    background-color: #dc3545 !important;
}
.btn-de-active-status{
    border-right: 3px solid #dc3545 !important;
}
.btn-de-active-status:hover {
    background-color: #dc3545 !important;
    color: #fff;
}
.btn-active-status:hover {
    background-color: #1AD9C7!important;
    color: #fff;
}
.btn-active-status-fill {
    background-color: #1AD9C7!important;
}
.btn-active-status {
    border-right: 3px solid #1AD9C7!important;
}
.custom-select-options {
    height: calc(2.8125rem + 2px) !important;
    width: 15%;
    font-size: 1.5rem;
}
/* end tables style */
