 <!-- File: ./resources/app/js/components/Homepage.vue -->
    <template>
      <div>


        <article @scroll="fixnavbar" id="art">

 <header>
  <div class="site-header-wrapper pre-header">
                    <nav class="top-navbar navbar navbar-expand-lg d-block topbar topnav">
                        <div class="container-fluid">
                            <div class="row px-0 mx-0 w-100">
                                <div class="col-md-6 d-flex justify-content-center justify-content-md-start align-items-center">
                                    <ul class="navbar-nav options-list">
                                        <li class="nav-item mx-auto"><a target="_blank" href="https://vision2030.gov.sa/" class="nav-link py-1"><img height="45" src="https://inquiries.mim.gov.sa/mim/assets/media/logos/vision_wh.png"></a></li>
                                        <li class="nav-item mauto">
                                            <a class="nav-link" target="_blank" href="tel:199001">
                                                <i class="fa fa-phone-square txt-mimgold mx-1 f-20"></i><span class="txt-mimgold" style="font-size:16px;">199001</span>
                                            </a>
                                        </li>
                                        <li class="nav-item mauto">
                                            <a class="nav-link" target="_blank" href="https://twitter.com/mimgov?s=09">
                                                <i class="fa fa-twitter text-white mx-1 f-20"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item mauto">
                                            <a class="nav-link" target="_blank" href="#">
                                                <i class="fa fa-linkedin-square text-white mx-1 f-20"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6 d-flex justify-content-center justify-content-md-end align-items-center">
                                    <ul class="navbar-nav options-list">
                                        <li class="nav-item mx-2"><a class="nav-link" href="https://mim.gov.sa/mim_usage_disclaimer" style="font-size:14px;">{{disclaimer}}</a></li>

                                          <li class="nav-item mx-2"><a class="nav-link" @click="logout" href="javascript:;"  id="logout" style="font-size:14px;line-height:1.5;" >{{logoutt}}</a></li>
                                        <!-- <li class="nav-item mx-2">
                                            <a class="nav-link" href="http://www.mim.gov.sa/">تواصل معنا</a>
                                        </li> -->
                                        <li class="nav-item mx-2">
                                            <a class="nav-link" @click="onChange($event)" href="#" style="font-size:14px;line-height:1.5;">
                                                <span class="text-white font-weight-normal" id="lang" >EN</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
  </header>
  <nav id="navbar" ref="navbar">
 <div class="container d-flex align-items-stretch justify-content-between">
                        <!--begin::Left-->
                        <div class="d-flex align-items-stretch mr-3">
                            <!--begin::Header Logo-->
                            <div class="header-logo">
                                <a href="">
                                    <img alt="Logo" src="/ta2shera/public/assets/img/logo_product_ar.png" class="logo-default max-h-70px">

                                </a>
                            </div>
                            <!--end::Header Logo-->
                            <!--begin::Header Menu Wrapper-->
                            <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
                                <!--begin::Header Menu-->
                                <div id="kt_header_menu" class="header-menu header-menu-left header-menu-mobile header-menu-layout-default">
                                    <!--begin::Header Nav-->
                                    <ul class="menu-nav">

                                        <!--li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
                                            <a :href="dashboard_link" class="menu-link">
                                                <span class="menu-text">{{home}}</span>
                                                <i class="menu-arrow"></i>
                                            </a>
                                        </li-->
                                        <li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
                                            <a href="https://mim.gov.sa/mim/index.html" class="menu-link" _target="blank">
                                                <span class="menu-text">{{ministry_site}}</span>
                                                <span class="menu-desc"></span>
                                                <i class="menu-arrow"></i>
                                            </a>
                                        </li>
                                                                                <!-- <li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
                                            <a href="https://inquiries.mim.gov.sa/index.php/ar/login" class="menu-link" _target="blank">
                                                <span class="menu-text">تسجيل الدخول</span>
                                                <span class="menu-desc"></span>
                                                <i class="menu-arrow"></i>
                                            </a>
                                         </li> -->
                                                                            </ul>
                                    <!--end::Header Nav-->
                                </div>
                                <!--end::Header Menu-->
                            </div>
                            <!--end::Header Menu Wrapper-->
                        </div>
                        <!--end::Left-->
                        <!--begin::Topbar-->
                        <div class="topbar">
                            <!--begin::Notifications-->
                            <!--end::Notifications-->
                            <!--begin::User-->
                            <!--end::User-->
                        </div>
                        <!--end::Topbar-->
                    </div>
  </nav>



<section class="margin-section cd-section">
          <div>
            <div class="container-fluid w-95-container">
              <div class="row">
                  <div class="col-xl-2 mb-5 animated fadeInRight">
                      <div class="bg-white border shadow-sm rounded">
                      <SideNav />
                      </div>
                  </div>
                  <div class="home_content_project col-xl-10 animated fadeInDown">
                      <div class="bg-white border pl-5 pr-5 pb-5 pt-1 shadow-sm rounded">
            <router-view></router-view>
                      </div>
                  </div>
              </div>
          </div>
          </div>
          </section>
          <div class="footer py-10" id="kt_footer">
                    <!--begin::Container-->
                    <div class=" d-flex align-items-center justify-content-center text-white" style="font-size:15px;">

                            <span class="text-white  font-weight-bold mr-2" style="font-size:15px;">2021<i class="icon-1x fa fa-copyright"></i></span>
                            وزارة الصناعة والثروة المعدنية
                      </div>

                </div>
        </article>
      </div>

    </template>
     <style scoped>
      @import url(https://fonts.googleapis.com/css?family=Dosis:300|Lato:300,400,600,700|Roboto+Condensed:300,700|Open+Sans+Condensed:300,600|Open+Sans:400,300,600,700|Maven+Pro:400,700);
      @import url("https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css");
      * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
       @font-face {
        font-family: marai;
        src: url(/ta2shera/public/assets/fonts/Tajawal-Medium.ttf);
        }
      html{
          background-color:  #fff;
          font-family: 'marai' !important;
      }
      body{
           background-color: #f2f2f2;
          font-family: 'marai' !important;
      }
      header {
        color: #263238;
      }



      article {
        background-color: #f2f2f2;
            width: 100%;
      }
      th{
          color:#263238 !important ;
          font-size: 20px;
      }
      .table td{
          font-size: 18px !important;
      }
        .toggle_language_site {
            box-shadow: none !important;
            outline: none !important;
            padding: .7rem 1rem;
            font-size: 1.5rem;
            background-color: #2b2c7f;
            color: #fff !important;
            }

            .fa-bell:before {
                content: "\f0f3" !important;
            }



    </style>
     <script>


    export default {
      mounted(){
          this.get_user_type();
          this.moment.locale(localStorage.getItem('locale'));
                if (localStorage.getItem('locale')) {
                    this.$lang.setLocale(localStorage.getItem('locale'));

                    if(localStorage.getItem('locale') == 'ar'){
                        document.getElementById('lang').innerText = 'EN';
                    }else{
                        document.getElementById('lang').innerText = 'ع';
                    }

                if(localStorage.getItem('locale')=='ar'){
                    this.logoutt = 'تسجيل خروج';
                }else{
                    this.logoutt = 'Logout';
                }
                } else {
                    this.$lang.setLocale('ar');
                   document.getElementById('lang').innerText='EN';
                    this.logoutt = 'تسجيل خروج';
                }

                localStorage.setItem('username',this.userName);
                /*this.get_notifications();
                this.interval = setInterval(function() {
                    this.get_notifications()

                }.bind(this),3000);*/
                this.req_accepted = window.transs('Your Offer Accepted',localStorage.getItem('locale'));
                this.req_refused = window.transs('Your Offer Refused',localStorage.getItem('locale'));
                this.new_request = window.transs('You Have New Request',localStorage.getItem('locale'));
                this.new_offer = window.transs('You Have New Offer',localStorage.getItem('locale'));
                this.disclaimer = window.transs('Usage and Disclaimer',localStorage.getItem('locale'));
                this.home = window.transs('Home',localStorage.getItem('locale'));
                this.ministry_site = window.transs('Ministry Site',localStorage.getItem('locale'));
      },

      props: {
        userId: {
          type: Number,
          required: true
        },
        userName: {
          type: String,
          required: true
        }
      },
      data() {
         return {
             logoutt:'',
             notifications:[],
             req_accepted:'',
             req_refused:'',
             new_request:'',
             new_offer:'',
             NavTop:1,
             disclaimer:'',
             home:'',
             ministry_site:'',
             dashboard_link:'',

         }

      },
      methods: {
        logout() {
          axios.post("/ta2shera/public/logout").then(() => {
            window.location = "/ta2shera/public";
          });
        },

        set_seen(id){
            axios.get("/ta2shera/public/api/seen/"+id).then(() => {

          });
        },
       
        
        get_user_type() {
           axios.get("/ta2shera/public/api/user/get_type" ).then(response => {

            if(response.data=='system_user'){
                this.dashboard_link ='https://visa-approval.mim.gov.sa/';
            }else{
                this.dashboard_link ='https://visa-approval.mim.gov.sa/';
            }
          });
        },
        get_notifications() {
           axios.get("/ta2shera/public/api/get_notifications/" ).then(response => {

            this.notifications = response.data;
          });
        },
       onChange() {
            let lang =  document.getElementById('lang').innerText;
            let switcher ='';

            if(lang == 'ع'){
                switcher='ar';
            }else{
                switcher='en';
            }

           axios.get("/ta2shera/public/api/set_locale/"+switcher ).then(response => {
             this.$lang.setLocale(switcher);
            localStorage.setItem('locale',switcher);
            this.$router.go();
          });

        },
        fixnavbar(){
            let nav = this.$refs.navbar;
            let NavTop = nav.offsetTop;



      if(document.getElementById("art").scrollTop >= 10){
        //document.body.style.paddingTop = nav.offsetHeight + "px";
        document.body.classList.add("fixed-nav");
        //alert(1);
      }else {
        document.body.style.paddingTop = 0;
        document.body.classList.remove("fixed-nav");

      }
    }
      }
    };






    </script>



