 <!-- File: ./resources/app/js/components/Homepage.vue -->
    <template>
      <div>


        <article>


<div class="site-header-wrapper pre-header">
                    <nav class="top-navbar navbar navbar-expand-lg d-block">
                        <div class="container-fluid">
                            <div class="row px-0 mx-0 w-100">
                                <div class="col-md-6 d-flex justify-content-center justify-content-md-start align-items-center">
                                    <ul class="navbar-nav options-list">
                                        <li class="nav-item mx-auto"><a target="_blank" href="https://vision2030.gov.sa/" class="nav-link py-1"><img height="45" src="https://inquiries.mim.gov.sa/mim/assets/media/logos/vision_wh.png"></a></li>
                                        <li class="nav-item mauto">
                                            <a class="nav-link" target="_blank" href="tel:199001">
                                                <i class="fa fa-phone-square-alt txt-mimgold mx-1 f-20"></i><span class="txt-mimgold">199001</span>
                                            </a>
                                        </li>
                                        <li class="nav-item mauto">
                                            <a class="nav-link" target="_blank" href="https://twitter.com/mimgov?s=09">
                                                <i class="fab fa-twitter text-white mx-1 f-20"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item mauto">
                                            <a class="nav-link" target="_blank" href="#">
                                                <i class="fab fa-linkedin text-white mx-1 f-20"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6 d-flex justify-content-center justify-content-md-end align-items-center">
                                    <ul class="navbar-nav options-list">
                                        <li class="nav-item mx-2"><a class="nav-link" href="http://www.mim.gov.sa/">الإستخدام وإخلاء المسؤولية</a></li>
                                        <!-- <li class="nav-item mx-2">
                                            <a class="nav-link" href="http://www.mim.gov.sa/">تواصل معنا</a>
                                        </li> -->
                                        <li class="nav-item mx-2">
                                            <a class="nav-link" href="https://inquiries.mim.gov.sa/index.php/en">
                                                <span class="text-white font-weight-normal">EN</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
          <header>

 <header class="d-inline">
            <nav class="shadow navbar navbar-expand-lg bg-white navbar-light fixed-top">
        <!-- <button id="show-side-bar-menu" type="button"><span class="navbar-toggler-icon"></span></button> -->
        <a href="/" class="navbar-brand">
            <img src="/assets/img/logo_product_ar.png" style="height:50px; width:auto;" />
        </a>
        <div class="product-logo">
            <!-- <a href="#AboutProduct">
                <img src="/assets/img/logo.png" style="height:50px; width:auto;"/>
            </a> -->
        </div>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container ml-1">
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto text-right">
                       <li class="nav-item">
                        <div class="position-relative">
                            <div class="btn-group">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                     <i style="font-size: 2.4rem; color:#1AD9C7;" class="fa fa-bell pr-3 pl-3"><span class="notification_number" v-show="notifications.length>0">{{notifications.length}}</span></i>
                                </button>
                                <div class="side-menu">
                                    <ul class="dropdown-menu shadow-sm">
                                        <!-- <li><a class="dropdown-item" href="#"><i style="color: #1AD9C7;" class="fa fa-edit pull-right mt-1"></i>Prof</a></li> -->
                                        <li v-for="notification in notifications" style="position:relative;">

                                             <router-link :to="{ name: 'PlaceRequest', params: { postId : notification.post_id } }" v-if="notification.type=='sector'" @click="set_seen(notification.id)">
                                             <a class="dropdown-item" href="javascript:;" data-toggle="modal" style="text-align:initial;"  @click="set_seen(notification.id)" >{{new_request}} <span class="notification_date">{{ moment(notification.created_at, "YYYYMMDD").fromNow()}} </span> </a>
                                             </router-link>

                                              <router-link :to="{ path: '/user/traders/view_request/'+notification.post_id}" v-if="notification.type=='request'" @click="set_seen(notification.id)">
                                             <a class="dropdown-item" href="javascript:;" data-toggle="modal" style="text-align:initial;"  @click="set_seen(notification.id)" >{{new_offer}} <span class="notification_date">{{ moment(notification.created_at, "YYYYMMDD").fromNow()}} </span> </a>
                                             </router-link>

                                              <router-link :to="{ path: '/user/request/view_request/'+notification.post_id}" v-if="notification.type=='request_status'" @click="set_seen(notification.id)">
                                             <a  v-if="notification.title == 'Request Accepted'" class="dropdown-item" href="javascript:;" data-toggle="modal" style="text-align:initial;"  @click="set_seen(notification.id)" >{{req_accepted}} <span class="notification_date">{{ moment(notification.created_at, "YYYYMMDD").fromNow()}} </span> </a>
                                             <a  v-if="notification.title == 'Request refused'" class="dropdown-item" href="javascript:;" data-toggle="modal" style="text-align:initial;"  @click="set_seen(notification.id)" >{{req_refused}} <span class="notification_date">{{ moment(notification.created_at, "YYYYMMDD").fromNow()}} </span> </a>
                                             </router-link>
                                            </li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="position-relative">
                            <div class="btn-group">
                                <button type="button" class="btn dropdown-toggle btn-divider-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{$trans('sidebar.welcome')}} <span style="font-size: 2rem; padding-right: .5rem;  display: inline-block;width: 80px;white-space: nowrap;overflow: hidden !important;text-overflow: ellipsis;" id="admin_name">{{ userName }}</span><i style="font-size: 2rem;" class="fa fa-angle-down pr-3 pl-3"></i>
                                </button>
                                <div class="side-menu">
                                    <ul class="dropdown-menu shadow-sm">
                                        <!-- <li><a class="dropdown-item" href="#"><i style="color: #1AD9C7;" class="fa fa-edit pull-right mt-1"></i>Prof</a></li> -->
                                        <li><a class="dropdown-item" @click="logout" href="javascript:;" data-toggle="modal" id="logout" ><i style="color: #1AD9C7;" class="fa fa-sign-out pull-right mt-1"></i>{{logoutt}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item">
                        <div class="position-relative">

                                <a href="#" @click="onChange($event)" class="shadow-sm btn toggle_language_site_dark btn-divider-right" style="box-shadow: none !important;
            outline: none !important;
            padding: .7rem 1rem;
            font-size: 1.5rem;
            background-color: #2b2c7f;
            color: #fff !important;">
                                    <span class="btn_text" id="lang">EN</span>
                                </a>

                        </div>
                    </li>


                </ul>

            </div>
        </div>
    </nav>
 </header>
          </header>

<section class="margin-section cd-section">
          <div>
            <div class="container-fluid w-95-container">
              <div class="row">
                  <div class="col-xl-2 mb-5 animated fadeInRight">
                      <div class="bg-white border shadow-sm rounded">
                      <SideNav />
                      </div>
                  </div>
                  <div class="home_content_project col-xl-10 animated fadeInDown">
                      <div class="bg-white border pl-5 pr-5 pb-5 pt-1 shadow-sm rounded">
            <router-view></router-view>
                      </div>
                  </div>
              </div>
          </div>
          </div>
          </section>
        </article>
      </div>

    </template>
     <style scoped>
      @import url(https://fonts.googleapis.com/css?family=Dosis:300|Lato:300,400,600,700|Roboto+Condensed:300,700|Open+Sans+Condensed:300,600|Open+Sans:400,300,600,700|Maven+Pro:400,700);
      @import url("https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css");
      * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
       @font-face {
        font-family: marai;
        src: url(/assets/fonts/Tajawal-Medium.ttf);
        }
      html{
          background-color:  #fff;
          font-family: 'marai' !important;
      }
      body{
           background-color: #f2f2f2;
          font-family: 'marai' !important;
      }
      header {
        color: #263238;
        font-weight: 700;
      }

      nav {
        position: fixed;
        top: 0;
        bottom: 0;

        left: 0;
        padding: 12px;
        border-right: 2px solid #fff;
        height: 60px;
      }
      nav > header {
        font-weight: 700;
        font-size: 0.8rem;
        text-transform: uppercase;
      }
      nav section {
        font-weight: 600;
      }
      nav section header {
        padding-top: 30px;
      }
      nav section ul {
        list-style: none;
        padding: 0px;
      }
      nav section ul a {
        color: white;
        text-decoration: none;
        font-weight: bold;
      }

      article > header {
        height: 60px;
        background-color: #f2f2f2;

      }

      article {
        background-color: #f2f2f2;
            width: 100%;
      }
      th{
          color:#263238 !important ;
          font-size: 20px;
      }
      .table td{
          font-size: 18px !important;
      }
        .toggle_language_site {
            box-shadow: none !important;
            outline: none !important;
            padding: .7rem 1rem;
            font-size: 1.5rem;
            background-color: #2b2c7f;
            color: #fff !important;
            }

            .fa-bell:before {
                content: "\f0f3" !important;
            }



    </style>
     <script>


    export default {
      mounted(){

          this.moment.locale(localStorage.getItem('locale'));
                if (localStorage.getItem('locale')) {
                    this.$lang.setLocale(localStorage.getItem('locale'));

                    if(localStorage.getItem('locale') == 'ar'){
                        document.getElementById('lang').innerText = 'EN';
                    }else{
                        document.getElementById('lang').innerText = 'عربي';
                    }

                if(localStorage.getItem('locale')=='ar'){
                    this.logoutt = 'تسجيل خروج';
                }else{
                    this.logoutt = 'Logout';
                }
                } else {
                    this.$lang.setLocale('ar');
                    document.getElementById('lang').innerText='EN';
                    this.logoutt = 'تسجيل خروج';
                }

                localStorage.setItem('username',this.userName);
                this.get_notifications();
                this.interval = setInterval(function() {
                    this.get_notifications()

                }.bind(this),3000);
                this.req_accepted = window.transs('Your Offer Accepted',localStorage.getItem('locale'));
                this.req_refused = window.transs('Your Offer Refused',localStorage.getItem('locale'));
                this.new_request = window.transs('You Have New Request',localStorage.getItem('locale'));
                this.new_offer = window.transs('You Have New Offer',localStorage.getItem('locale'));
      },
      props: {
        userId: {
          type: Number,
          required: true
        },
        userName: {
          type: String,
          required: true
        }
      },
      data() {
         return {
             logoutt:'',
             notifications:[],
             req_accepted:'',
             req_refused:'',
             new_request:'',
             new_offer:'',
         }

      },
      methods: {
        logout() {
          axios.post("/ta2shera/public/logout").then(() => {
            window.location = "/ta2shera/public";
          });
        },

        set_seen(id){
            axios.get("/ta2shera/public/api/seen/"+id).then(() => {

          });
        },
        get_notifications() {
           axios.get("/ta2shera/public/api/get_notifications/" ).then(response => {

            this.notifications = response.data;
          });
        },
       onChange() {
            let lang =  document.getElementById('lang').innerText;
            let switcher ='';

            if(lang == 'عربي'){
                switcher='ar';
            }else{
                switcher='en';
            }

           axios.get("/ta2shera/public/api/set_locale/"+switcher ).then(response => {
             this.$lang.setLocale(switcher);
            localStorage.setItem('locale',switcher);
            this.$router.go();
          });

        }
      }
    };
    </script>



