<!-- File: ./resources/app/js/components/Read.vue -->
    <template>

        <div id="users" v-if="url">
 <data-table
     :url="url"
    ref="datatable"
    :per-page="perPage"
    :columns="columns"

    >
</data-table>
        </div>
    </template>
<script>
import UpdateButton from '../users/datatable/UpdateButton.vue';
    export default {

    data() {
        return {
            url:'',
            perPage: ['10', '25', '100'],

           // url: admin/list_admins",
           // data:{},
         /*  tableProps: {
                search: '',
                length: 10,
                column: 'id',
                dir: 'asc'
            },*/
            columns: [
                // {
                //     label: 'ID',
                //     name: 'id',
                //     filterable: true,
                //     orderable:true,
                // },
                {
                    label: 'Title',
                    name: 'title',
                    filterable: true,
                },
                {
                    label:window.transs('Details',localStorage.getItem('locale')),
                    name: 'details',
                    filterable: true,
                },
                {
                    label:window.transs('Sector',localStorage.getItem('locale')),
                    name: 'sector.name',
                    filterable: true,
                },

                 {
                    label: window.transs('Date',localStorage.getItem('locale')),
                    name: 'created_at',
                    filterable: true,
                },

                {
                label: '',
                name:window.transs('View Request',localStorage.getItem('locale')),
                filterable: false,
                component: UpdateButton,
                event: "click",
                handler: this.view_requests,
                classes: {
                    'btn': true,
                    'btn-primary': true,
                    'btn-sm': true,
                },
                }

            ]
        }
    },
     components: {
        UpdateButton,

    },

    methods: {
       getData(url = this.url, options = this.tableProps) {
            axios.get(url, {
                params: options
            })
            .then(response => {
                this.data = response.data;
            })
            // eslint-disable-next-line
            .catch(errors => {
                //Handle Errors
            })
        },

          getUserId() {
          axios.get(user/get_id/").then(response => {
            this.url = order/my_orders/"+response.data;
          });
        }


    },
    created(){
        this.getUserId();
    },

}

</script>
<style>
.table td, .table th{
    text-align: center !important;
}
</style>
