<!-- File: ./resources/app/js/components/Read.vue -->
    <template>
	<div id="home" class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card card-body">
					<div class="form-group">
						<input type="text" id="name" v-model="name" class="form-control" placeholder="Enter name here">
					</div>
					<button class="btn btn-primary pl-5 pr-5" @click="download">Download PDF</button>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import jsPDF from 'jsPDF'
    export default {

    data() {
        return {
			name: ''
		}
    },


    methods: {
       download () {
           let pdfName = 'test';
            var doc = new jsPDF();
			let imageData= '<img src="http://localhost/tamken/public/assets/img/logo_product_ar.png" />';
			 doc.addImage("/tamken/public/assets/img/logo_product_ar.png", "JPEG", 15, 40, 180, 180);
            doc.text(this.name, 200, 10);
            doc.save(pdfName + '.pdf');
       }


    },


}

</script>
