 <!-- File: ./resources/app/js/components/Update.vue -->
    <template>
    <div>
         <div class="row mb-5 mt-5">
         <div class="col-xl-12">
                <h2 style="color: #1AD9C7;" class="border-bottom pull-right d-inline-block pb-4">
                   {{Order_Details}} </h2>
            </div>
            <div class="col-xl-12">
                <h3 style="color: #1AD9C7;" class="pull-right d-inline-block pb-4">
                    {{Title}} : {{title}} </h3>
            </div>
            <div class="col-xl-12">
                <h3 style="color: #1AD9C7;" class="pull-right d-inline-block pb-4">
                   {{Details}} :  {{comments}} </h3>
            </div>
            <div class="col-xl-12">
                <h3 style="color: #1AD9C7;" class="pull-right d-inline-block pb-4">
                    {{From}}  : {{name}} </h3>
            </div>
            <div class="col-xl-12">
                <h3 style="color: #1AD9C7;" class="pull-right d-inline-block pb-4">
                    {{Email}}  : {{email}} </h3>
            </div>

        </div>

      <div class="container">


        <form>
          <div :class="['form-group m-1 p-3', successful ? 'alert-success' : '']">
            <span v-if="successful" class="label label-sucess">Request added successfuly !</span>
          </div>

          <div :class="['form-group m-1 p-3', error ? 'alert-danger' : '']">
            <span v-if="errors.title" class="label label-danger">
              {{ errors.title[0] }}
            </span>
            <span v-if="errors.body" class="label label-danger">
              {{ errors.body[0] }}
            </span>
          </div>

          <div class="form-group">
            <input type="hidden" ref="from" name="from">
            <input type="hidden" ref="to" name="to">
            <input type="hidden" ref="order_id" name="order_id">

          </div>

            <table class="table table-bordered">
            <thead class="text text-success">
                <tr>
                    <th style="font-size:14px !important" >{{serial}}</th>
                    <th style="font-size:14px !important" >{{Product}}</th>
                    <th style="font-size:14px !important" > {{code}}</th>
                    <th style="font-size:14px !important" >{{unit}}</th>
                    <th style="font-size:14px !important" >{{Quantity}}</th>
                    <th style="font-size:14px !important" >{{requestedQuantity}}</th>
                    <th style="font-size:14px !important" >{{Price}}</th>
                    <th style="font-size:14px !important" >{{time}}</th>


                </tr>
                </thead>
                <tbody>
                   <tr v-for="(detail,index) in details">
                       <td>{{index + 1}}</td>
                    <td>
                        {{detail.name}}
                    </td>
                    <td>

                    {{detail.code}}
                    </td>
                    <td>
                        <p v-if="detail.unit == 'litre'">{{litre}} </p>
                        <p v-if="detail.unit == 'ton'">{{ton}} </p>
                        <p v-if="detail.unit == 'Km'">{{Km}} </p>
                        <p v-if="detail.unit == 'meter'">{{meter}} </p>
                        <p v-if="detail.unit == 'unit'">{{unit}} </p>



                    </td>
                    <td>

                     {{detail.quantity}}
                    </td>
                    <td>

                    <input  v-model="reqQuntity[index]"  class="form-control" type="text" required />
                    </td>
                    <td>
                    <input  v-model="price[index]"  class="form-control" type="number" required/>
                    </td>
                    <td>
                    <input   v-model="period[index]" class="form-control" type="number" required/>
                    </td>
                </tr>
        </tbody>
    </table>


          <div class="form-group">
            <textarea class="form-control" ref="comments" id="comments" :placeholder="Comments" rows="8"></textarea>
          </div>

          <button type="submit" @click.prevent="add" class="btn btn-primary block option_button">
            {{Submit}}
          </button>
        </form>
      </div>
    </div>
    </template>

<script>
    export default {
      mounted() {
        this.getPost();
        this.getUserId(),
        this.Title = window.transs('Title',localStorage.getItem('locale')),
        this.Submit = window.transs('Place Request',localStorage.getItem('locale'));
        this.Order_Details = window.transs('Order Details',localStorage.getItem('locale'));
        this.Details = window.transs('Details',localStorage.getItem('locale'));
        this.From = window.transs('From',localStorage.getItem('locale'));
        this.Email = window.transs('Email',localStorage.getItem('locale'));
        this.Request_Details = window.transs('Request Details',localStorage.getItem('locale'));
        this.Price = window.transs('Price',localStorage.getItem('locale'));
        this.Comments =window.transs('Comments',localStorage.getItem('locale'));
        this.Product = window.transs('Product Name',localStorage.getItem('locale'));
        this.Quantity = window.transs('Quantity',localStorage.getItem('locale'));
        this.serial = window.transs('Serial',localStorage.getItem('locale'));
        this.unit = window.transs('Unit',localStorage.getItem('locale'));
        this.code = window.transs('Code',localStorage.getItem('locale'));
        this.requestedQuantity = window.transs('Requested Quantity',localStorage.getItem('locale'));
        this.time = window.transs('Period(day)',localStorage.getItem('locale'));
        this.meter = window.transs('Meter',localStorage.getItem('locale'));
        this.Km = window.transs('Km',localStorage.getItem('locale'));
        this.litre = window.transs('Liter',localStorage.getItem('locale'));
        this.ton = window.transs('Ton',localStorage.getItem('locale'));
      },
       props: {
        postId: {
          type: Number,
          required: true
        }
      },
      data() {
        return {
          name:'',
          title:'',
          details:'',
          email:'',
          id:'',
          Order_Details:'',
          Submit:'',
          Details:'',
          From:'',
          Email:'',
          Title:'',
          Price:'',
          Request_Details:'',
          Comments:'',
          error: false,
          successful: false,
            Product:'',
          Quantity:'',
          serial:'',
          code:'',
          unit:'',
          requestedQuantity:'',
          time:'',
          errors: [],
          request:[{reqQuntity:'',price:'',period:''}],
          reqQuntity:[],
          price:[],
          period:[],
          comments:'',
           Km:'',
          meter:'',
          ton:'',
          litre:'',
        };
      },
      methods: {
        add() {

          let comments = this.$refs.comments.value;
          let from = this.$refs.from.value;
          let to = this.$refs.to.value;
          let order_id = this.$refs.order_id.value;
          let quantity = this.reqQuntity;
          let price = this.price;
          let period = this.period;

          axios
            .post("/ta2shera/public/api/requests/add", { price,quantity,period,comments,from,to,order_id })
            .then(response => {
              this.successful = true;
              this.error = false;
              this.errors = [];


            })
            .catch(error => {
              if (!_.isEmpty(error.response)) {
                if ((error.response.status = 422)) {
                  this.errors = error.response.data.errors;
                  this.successful = false;
                  this.error = true;
                }
              }
            });
        },
        getPost() {

          axios.get("/ta2shera/public/api/order/get_order/" + this.postId).then(response => {

            this.title=response.data[0].title;
            this.comments=response.data[0].comments;
            this.details=response.data[0].details;
            this.name=response.data[0].trader.name;
            this.email=response.data[0].trader.email;
            this.$refs.order_id.value = response.data[0].id;
            this.$refs.to.value = response.data[0].trader.id;

          });
        },
         getUserId() {

          axios.get("/ta2shera/public/api/user/get_id/").then(response => {
            this.$refs.from.value = response.data;

          });
        }

      }
    };
    </script>
    <style >

        .bg{
            position:relative;
            height: 300px;
            background-size:cover;
            /*box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.3);*/
            background-color: #f0f0f0;
            background-repeat: no-repeat;
            background-position: center;
            color:#263238;
            text-align: center;
            background-size: cover;
            background:url(/img/background_apps.svg);
            color: #fff;
        }
         .bg span {
            position: absolute;
            bottom: 8px;
            left: 16px;
        }
        .bottom_left{
            color: #fff;
        }


    </style>
