<!-- File: ./resources/app/js/components/Read.vue -->
    <template>

        <div id="users">
 <data-table


     url="/ta2shera/public/api/admin/requests/all/quarry"
    ref="datatable"
    :per-page="perPage"
    :columns="columns"

    >
</data-table>
 <modal
        :row="selectedRow">
    </modal>
        </div>
    </template>
<script>
    import UpdateButton from '../users/datatable/UpdateButton.vue';
    import Modal from '../modals/RequestModal.vue';
    import ModalButton from '../modals/ModalButton.vue';
    export default {

    data() {
        return {
            perPage: ['10', '25', '100'],

           // url: "/ta2shera/public/api/admin/list_admins",
           // data:{},
         /*  tableProps: {
                search: '',
                length: 10,
                column: 'id',
                dir: 'asc'
            },*/
            columns: [
                // {
                //     label: 'ID',
                //     name: 'id',
                //     filterable: true,
                //     orderable:true,
                // },
                {
                    label:window.transs('Sector',localStorage.getItem('locale')),
                    name: 'sector.name',
                    filterable: true,
                },
                {
                    label:window.transs('Order Title',localStorage.getItem('locale')),
                    name: 'order.title',
                    filterable: true,
                },
                                {
                    label:window.transs('Order Detials',localStorage.getItem('locale')),
                    name: 'order.details',
                    filterable: true,
                },
                 {
                    label:window.transs('Trader Name',localStorage.getItem('locale')),
                    name: 'to.name',
                    filterable: true,
                },
                {
                   label:window.transs('Trader Email',localStorage.getItem('locale')),
                    name: 'to.email',
                    filterable: true,
                },
                {
                    label:window.transs('Requester Name',localStorage.getItem('locale')),
                    name: 'from.name',
                    filterable: true,
                },
                {
                    label:window.transs('Requester Email',localStorage.getItem('locale')),
                    name: 'from.email',
                    filterable: true,
                },
                {
                    label:window.transs('Details',localStorage.getItem('locale')),
                    name: 'details',
                    filterable: true,
                },
                {
                    label:window.transs('Status',localStorage.getItem('locale')),
                    name: 'status',
                    filterable: true,
                },
                {
                label: '',
                name:window.transs('View Request',localStorage.getItem('locale')),
                filterable: false,
                component: ModalButton,
                event: "click",
                handler: this.updateSelectedModal,
                classes: {
                    'btn': true,
                    'btn-primary': true,
                    'btn-sm': true,
                },
                },



            ],
             selectedRow: {},
        }
    },
     components: {
        UpdateButton,
        Modal,
        ModalButton,
    },
    methods: {
       getData(url = this.url, options = this.tableProps) {
            axios.get(url, {
                params: options
            })
            .then(response => {
                this.data = response.data;
            })
            // eslint-disable-next-line
            .catch(errors => {
                //Handle Errors
            })
        },
        updateSelectedModal(data) {
            this.selectedRow = data;
            console.log(data);

        },
    },
    created: function(){
            this.getData(this.url);
        }
}

</script>
<style>
.table td, .table th{
    text-align: center !important;
}
</style>
