<!-- File: ./resources/app/js/components/Read.vue -->
    <template>
<div>

<div id="users" v-if="url">
 <data-table
     :url="url"
    ref="datatable"
    :per-page="perPage"
    :columns="columns"

    >
</data-table>
 <modal
        :row="selectedRow">
    </modal>
        </div>
</div>
    </template>
<script>
    import UpdateButton from '../users/datatable/UpdateButton.vue';
    import AcceptButton from '../users/datatable/AcceptButton.vue';
    import RefuseButton from '../users/datatable/RefuseButton.vue';
    import Modal from '../datatable/Modal.vue';
    import ModalButton from '../datatable/ModalButton.vue';

    export default {
    mounted(){
        this.setUrl();
    },

    data() {
        return {
            url:'',
            perPage: ['10', '25', '100'],

            columns: [
                {
                    label:window.transs('Order',localStorage.getItem('locale')),
                    name: 'order.title',
                    filterable: true,
                },

                {
                    label:window.transs('Requester Name',localStorage.getItem('locale')),
                    name: 'from.name',
                    filterable: true,
                },
                 {
                    label:window.transs('Requester Email',localStorage.getItem('locale')),
                    name: 'from.email',
                    filterable: true,
                },

                {
                    label:window.transs('Status',localStorage.getItem('locale')),
                    name: 'status',
                    filterable: true,
                },

                {
                    label:window.transs('Admin Approval',localStorage.getItem('locale')),
                    name: 'admin_approval',
                    filterable: true,
                },


                 {
                    label: window.transs('Date',localStorage.getItem('locale')),
                    name: 'created_at',
                    filterable: true,
                },
            /*     {
                label: '',
                name:window.transs('View Request',localStorage.getItem('locale')),
                filterable: false,
                component: ModalButton,
                event: "click",
                handler: this.updateSelectedModal,
                classes: {
                    'btn': true,
                    'btn-primary': true,
                    'btn-sm': true,
                },
                },
                  {
                label: '',
                name: window.transs('Accept',localStorage.getItem('locale')),
                filterable: false,
                component: AcceptButton,
                event: "click",
                handler: this.acceptRequest,
                classes: {
                    'btn': true,
                    'btn-success': true,
                    'btn-sm': true,
                },
                },
                  {
                label: '',
                name: window.transs('Decline',localStorage.getItem('locale')),
                filterable: false,
                component: RefuseButton,
                event: "click",
                handler: this.refuseRequest,
                classes: {
                    'btn': true,
                    'btn-danger': true,
                    'btn-sm': true,
                },
                }*/
                {
                label: '',
                name:window.transs('View Offer',localStorage.getItem('locale')),
                filterable: false,
                component: ModalButton,
                event: "click",
                handler: this.updateSelectedModal,
                classes: {
                    'btn': true,
                    'btn-primary': true,
                    'btn-sm': true,
                },
                },

            ],
            selectedRow: {},
        }
    },
      components: {
        UpdateButton,
        Modal,
        ModalButton,
        AcceptButton,
        RefuseButton,

    },


    methods: {
          setUrl() {
              let route = this.$route;
              let id = route['params']['id'];
              this.url = "/ta2shera/public/api/admin/admin_requests/"+id;
        },
        updateSelectedModal(data) {
            this.$router.push('/ta2shera/public/admin/traders/view_request/'+ data.id) ;

        },
        acceptRequest(data) {
            axios.get("/ta2shera/public/api/requests/accept/" + data.id).then();
            this.$refs.datatable.getData();

        },
        refuseRequest(data) {
            axios.get("/ta2shera/public/api/requests/refuse/" + data.id).then();
            this.$refs.datatable.getData();

        }


    },


}

</script>
<style>
.table td, .table th{
    text-align: center !important;
}
</style>
