<!-- File: ./resources/app/js/components/Read.vue -->
    <template>
<div>

  <div class="row mb-5 mt-5">
         <div class="col-xl-12">
                <h2 style="color: #1AD9C7;" class="border-bottom pull-right d-inline-block pb-4">
                   {{trader_details}} </h2>
            </div>
            <div class="col-xl-12">
                <h3 style="color: #000;" class="pull-right d-inline-block pb-4">
                    {{Name}} : {{trader_name}} </h3>
            </div>
            <div class="col-xl-12">
                <h3 style="color: #000;" class="pull-right d-inline-block pb-4">
                   {{Email}} :  {{trader_email}} </h3>
            </div>
            <div class="col-xl-12">
                <h3 style="color: #000;" class="pull-right d-inline-block pb-4">
                    {{Phone}}  : {{trader_phone}} </h3>
            </div>

                <div class="col-xl-12">
                <h2 style="color: #1AD9C7;" class="border-bottom pull-right d-inline-block pb-4">
                   {{Order_Details}} </h2>
            </div>

                 <div class="col-xl-12">
                <h3 style="color: #000;" class="pull-right d-inline-block pb-4">
                    {{status}}  : {{Status}} </h3>
                </div>

                 <table class="table table-bordered">
            <thead class="text text-success">
                <tr>
                    <th style="font-size:14px !important" >{{serial}}</th>
                    <th style="font-size:14px !important" >{{Product}}</th>
                    <th style="font-size:14px !important" > {{code}}</th>
                    <th style="font-size:14px !important" >{{unit}}</th>
                    <th style="font-size:14px !important" >{{Quantity}}</th>
                    <th style="font-size:14px !important" >{{requestedQuantity}}</th>
                    <th style="font-size:14px !important" >{{Price}}</th>
                    <th style="font-size:14px !important" >{{time}}</th>


                </tr>
                </thead>
                <tbody>
                   <tr v-for="(detail,index) in order_details">
                       <td>{{index + 1}}</td>
                    <td>
                        {{detail.name}}
                    </td>
                    <td>

                    {{detail.code}}
                    </td>
                    <td>

                     {{detail.unit}}
                    </td>
                    <td>

                     {{detail.quantity}}
                    </td>
                    <td>
                            {{request_details[index].reqQuantity}}
                    </td>
                    <td>

                        {{request_details[index].price}}
                    </td>
                    <td>

                        {{request_details[index].period}}
                    </td>
                </tr>
        </tbody>
    </table>


        </div>

  <button class="btn btn-success btn-sm" @click="acceptRequest()" >
            {{accept}}
    </button>

      <button class="btn btn-danger btn-sm" @click="refuseRequest()" >
            {{refuse}}
    </button>








</div>
    </template>
<script>
    import UpdateButton from '../users/datatable/UpdateButton.vue';
    import AcceptButton from '../users/datatable/AcceptButton.vue';
    import RefuseButton from '../users/datatable/RefuseButton.vue';
    import Modal from '../datatable/Modal.vue';
    import ModalButton from '../datatable/ModalButton.vue';

    export default {
    mounted(){
        this.setUrl();
        this.Title = window.transs('Title',localStorage.getItem('locale')),
        this.Submit = window.transs('Submit',localStorage.getItem('locale'));
        this.Order_Details = window.transs('Order Details',localStorage.getItem('locale'));
        this.Details = window.transs('Details',localStorage.getItem('locale'));
        this.From = window.transs('From',localStorage.getItem('locale'));
        this.Email = window.transs('Email',localStorage.getItem('locale'));
        this.Request_Details = window.transs('Request Details',localStorage.getItem('locale'));
        this.Price = window.transs('Price',localStorage.getItem('locale'));
        this.Comments =window.transs('Comments',localStorage.getItem('locale'));
        this.Product = window.transs('Product Name',localStorage.getItem('locale'));
        this.Quantity = window.transs('Quantity',localStorage.getItem('locale'));
        this.serial = window.transs('Serial',localStorage.getItem('locale'));
        this.unit = window.transs('Unit',localStorage.getItem('locale'));
        this.code = window.transs('Code',localStorage.getItem('locale'));
        this.requestedQuantity = window.transs('Requested Quantity',localStorage.getItem('locale'));
        this.time = window.transs('Period(day)',localStorage.getItem('locale'));
        this.status = window.transs('Status',localStorage.getItem('locale'));
        this.trader_details = window.transs('Customer Details',localStorage.getItem('locale'));
        this.Phone = window.transs('Phone',localStorage.getItem('locale'));
         this.Name = window.transs('Name',localStorage.getItem('locale'));
         this.accept = window.transs('Accept',localStorage.getItem('locale'));
         this.refuse = window.transs('Decline',localStorage.getItem('locale'));



    },

    data() {
        return {
              name:'',
              Name:'',
          title:'',
          details:'',
          email:'',
          id:'',
          Order_Details:'',
          Submit:'',
          Details:'',
          From:'',
          Email:'',
          Title:'',
          Price:'',
          Request_Details:'',
          Comments:'',
          error: false,
          successful: false,
            Product:'',
          Quantity:'',
          serial:'',
          code:'',
          unit:'',
          requestedQuantity:'',
          time:'',
          errors: [],
          comments:'',
          Status:'',
          status:'',
          trader_details:'',
          Phone:'',
          trader_name:'',
          trader_email:'',
          trader_phone:'',
          order_details:[],
          request_details:[],
          accept:'',
          refuse:'',


        }
    },
      components: {
        UpdateButton,
        Modal,
        ModalButton,
        AcceptButton,
        RefuseButton,

    },


    methods: {
          setUrl() {
              let route = this.$route;
              let id = route['params']['id'];


              axios.get("/ta2shera/public/api/requests/trader_get_request/" + id).then(response => {


                    this.trader_name= response.data.to.name;
                    this.trader_email= response.data.to.email;
                    this.trader_phone= response.data.to.phone;

                    this.order_details = response.data.order.details;

                    this.request_details = response.data.request.details;

                    this.Status=response.data.request.status;

             });
        },
        updateSelectedModal(data) {
            this.selectedRow = data;


        },
        acceptRequest() {
            let route = this.$route;
            let id = route['params']['id'];
            axios.get("/ta2shera/public/api/requests/accept/" + id).then();
            window.location.reload();


        },
        refuseRequest() {
            let route = this.$route;
            let id = route['params']['id'];
            axios.get("/ta2shera/public/api/requests/refuse/" +id).then();
            window.location.reload();

        }


    },


}

</script>
<style>
.table td, .table th{
    text-align: center !important;
}
</style>
