    <!-- File: ./resources/app/js/components/Create.vue -->
    <template>
      <div class="container">
        <form>

          <div :class="['form-group m-1 p-3', (successful ? 'alert-success' : '')]">
            <span v-if="successful" class="label label-sucess">{{Published}}</span>
          </div>
          <div :class="['form-group m-1 p-3', error ? 'alert-danger' : '']">
            <!-- <span v-if="errors.name" class="label label-danger">
              {{ errors.name[0] }}
            </span> -->


          </div>
<div class="row">
     <div class="col-xl-4">
          <div class="form-group">
            <input type="title" ref="firstName" class="form-control" id="name" :placeholder="firstName" required>
          </div>
     </div>
      <div class="col-xl-4">
          <div class="form-group">
            <input type="title" ref="middleName" class="form-control" id="name" :placeholder="middleName" required>
          </div>
     </div>
      <div class="col-xl-4">
          <div class="form-group">
            <input type="title" ref="lastName" class="form-control" id="name" :placeholder="lastName" required>
          </div>
     </div>
</div>

        <div class="form-group">
            <input type="email" ref="email" class="form-control" id="email" :placeholder="email" required>
          </div>

          <div class="form-group">
            <input type="password" ref="password" class="form-control" id="password" :placeholder="password" required>
          </div>





          <button type="submit" @click.prevent="create" class="btn btn-primary block option_button">
            {{Submit}}
          </button>
        </form>
      </div>
    </template>


    <script>
    export default {
      props: {

      },
      mounted(){

               this.firstName = window.transs('First Name',localStorage.getItem('locale'));
               this.middleName = window.transs('Middle Name',localStorage.getItem('locale'));
               this.lastName = window.transs('Last Name',localStorage.getItem('locale'));
               this.email = window.transs('Email',localStorage.getItem('locale'));
               this.password = window.transs('password',localStorage.getItem('locale'));
               this.Submit = window.transs('Submit',localStorage.getItem('locale'));
               this.Published = window.transs('User added successfully',localStorage.getItem('locale'));


      },
      data() {
        return {
          error: false,
          successful: false,
          errors: [],
          firstName:'',
          middleName:'',
          lastName:'',
          Email:'',
          password:'',
          Published:'',
        };
      },
      methods: {
        create() {
          const formData = new FormData();
          formData.append("firstName", this.$refs.firstName.value);
          formData.append("middleName", this.$refs.middleName.value);
          formData.append("lastName", this.$refs.lastName.value);
          formData.append("email", this.$refs.email.value);
          formData.append("password", this.$refs.password.value);


          axios
            .post("/ta2shera/public/api/superevaluator/add", formData)
            .then(response => {
              this.successful = true;
              this.error = false;
              this.errors = [];
            })
            .catch(error => {
              if (!_.isEmpty(error.response)) {
                if ((error.response.status = 422)) {
                  this.errors = error.response.data.errors;
                  this.successful = false;
                  this.error = true;
                }
              }
            });

         this.$refs.firstName.value = "";
          this.$refs.middleName.value = "";
          this.$refs.lastName.value = "";

        }
      }
    };
    </script>
