 <!-- File: ./resources/app/js/components/Update.vue -->
    <template>
      <div class="container">

        <form>

          <div :class="['form-group m-1 p-3', successful ? 'alert-success' : '']">
            <span v-if="successful" class="label label-sucess">{{Updated}}</span>
          </div>

          <div :class="['form-group m-1 p-3', error ? 'alert-danger' : '']">
            <span v-if="errors.title" class="label label-danger">
              {{ errors.title[0] }}
            </span>
            <span v-if="errors.body" class="label label-danger">
              {{ errors.body[0] }}
            </span>
          </div>

       <div class="row">
     <div class="col-xl-4">
          <div class="form-group">
            <input type="title" ref="firstName" class="form-control" id="name" :placeholder="firstName" required>
          </div>
     </div>
      <div class="col-xl-4">
          <div class="form-group">
            <input type="title" ref="middleName" class="form-control" id="name" :placeholder="middleName" required>
          </div>
     </div>
      <div class="col-xl-4">
          <div class="form-group">
            <input type="title" ref="lastName" class="form-control" id="name" :placeholder="lastName" required>
          </div>
     </div>
</div>

        <div class="form-group">
            <input type="email" ref="email" class="form-control" id="email" placeholder="email" required>
          </div>



          <button type="submit" @click.prevent="update" class="btn btn-primary block option_button">
            {{Submit}}
          </button>
        </form>
      </div>
    </template>

<script>
    export default {
      mounted() {
        this.getUser();
        this.Submit= window.transs('Update',localStorage.getItem('locale'));
               this.firstName = window.transs('First Name',localStorage.getItem('locale'));
               this.middleName = window.transs('Middle Name',localStorage.getItem('locale'));
               this.lastName = window.transs('Last Name',localStorage.getItem('locale'));
               this.Updated = window.transs('Updated',localStorage.getItem('locale'));

      },

      data() {
        return {
          error: false,
          successful: false,
          errors: [],
          Submit:'',
           firstName:'',
          middleName:'',
          lastName:'',
          Updated:'',
        };
      },
      methods: {

        getUser() {
          let route = this.$route;
          let id = route['params']['id'];

          axios.get("/ta2shera/public/api/admin/get_admin/" + id).then(response => {
            this.$refs.firstName.value = response.data.data.firstName;
            this.$refs.middleName.value = response.data.data.middleName;
            this.$refs.lastName.value = response.data.data.lastName;
            this.$refs.email.value = response.data.data.email;


          });
        },
        update() {
          let firstName = this.$refs.firstName.value;
          let middleName = this.$refs.middleName.value;
          let lastName = this.$refs.lastName.value;
          let email = this.$refs.email.value;
          let route = this.$route;
          let id = route['params']['id'];

          axios
            .post("/ta2shera/public/api/admin/update/" + id, { firstName,middleName,lastName, email })
            .then(response => {
              this.successful = true;
              this.error = false;
              this.errors = [];
            })
            .catch(error => {
              if (!_.isEmpty(error.response)) {
                if ((error.response.status = 422)) {
                  this.errors = error.response.data.errors;
                  this.successful = false;
                  this.error = true;
                }
              }
            });
        },
      }
    };
    </script>
