    <!-- File: ./resources/app/js/components/Create.vue -->
    <template>
      <div class="container">
        <form>

          <div :class="['form-group m-1 p-3', (successful ? 'alert-success' : '')]">
            <span v-if="successful" class="label label-sucess">Published!</span>
          </div>
          <div :class="['form-group m-1 p-3', error ? 'alert-danger' : '']">
            <!-- <span v-if="errors.name" class="label label-danger">
              {{ errors.name[0] }}
            </span> -->


          </div>

          <div class="form-group">
            <input type="title" ref="name" class="form-control" id="name" :placeholder="Name" required>
          </div>
            <div class="form-group">
            <input type="email" ref="email" class="form-control" id="email" :placeholder="Email" required>
          </div>
            <div class="form-group">
            <input type="password" ref="password" class="form-control" id="password" :placeholder="password" required>
          </div>
        <select v-model="sector" ref="sector" name="sector" class="form-control" >
            <option selected="selected" value="" >{{Select_Sector}}</option>
            <option v-for="sector in sectors" :value="sector.id">{{ sector.name }}</option>
        </select>
            <div class="form-group">
            <input type="hidden" ref="type" class="form-control" id="type" value="quarry" >
            <input type="hidden" ref="status" class="form-control" id="status" value="active" >

          </div>





          <button type="submit" @click.prevent="create" class="btn btn-primary block option_button">
            {{Submit}}
          </button>
        </form>
      </div>
    </template>


    <script>
    export default {
      props: {

      },
      data() {
        return {
          sector: 0,
          sectors: [],
           sectors: [],
           sector: '',
          error: false,
          successful: false,
          errors: [],
           Name:'',
          Email:'',
          password:'',
          Select_Sector:'',
          Submit:'',
        };
      },
      mounted() {
         this.loadsectors(),
           this.Name = window.transs('Name',localStorage.getItem('locale'));
          this.Email = window.transs('Email',localStorage.getItem('locale'));
          this.Submit = window.transs('Submit',localStorage.getItem('locale'));
          this.password = window.transs('password',localStorage.getItem('locale'));
          this.Select_Sector = window.transs('Select Sector',localStorage.getItem('locale'));
      },

      methods: {
             getSectors(){
              axios.get('/api/sector/get_all')
              .then(function (response) {
                 this.sectors = response.data;
              }.bind(this));

            },
                  loadsectors() {
        axios.get('/api/sector/get_all').then(response => this.sectors =response.data).catch(error => console.log(error))
         },
        create() {
          const formData = new FormData();
          formData.append("name", this.$refs.name.value);
          formData.append("email", this.$refs.email.value);
          formData.append("password", this.$refs.password.value);
          formData.append("type", this.$refs.type.value);
          formData.append("status", this.$refs.status.value);
          formData.append("sector", this.$refs.sector.value);


          axios
            .post(users", formData)
            .then(response => {
              this.successful = true;
              this.error = false;
              this.errors = [];
            })
            .catch(error => {
              if (!_.isEmpty(error.response)) {
                if ((error.response.status = 422)) {
                  this.errors = error.response.data.errors;
                  this.successful = false;
                  this.error = true;
                }
              }
            });

           this.$refs.name.value;
           this.$refs.email.value;
           this.$refs.password.value;
           this.$refs.type.value;
           this.$refs.status.value;

        }
      }
    };
    </script>
