    <!-- File: ./resources/app/js/components/Create.vue -->
    <template>
      <div class="container">
        <form>

          <div :class="['form-group m-1 p-3', (successful ? 'alert-success' : '')]">
            <span v-if="successful" class="label label-sucess">Published!</span>
          </div>
          <div :class="['form-group m-1 p-3', error ? 'alert-danger' : '']">
            <!-- <span v-if="errors.name" class="label label-danger">
              {{ errors.name[0] }}
            </span> -->


          </div>

          <div class="form-group">
            <input type="title" ref="name" class="form-control" id="name" :placeholder="Name" required>
          </div>

          <div class="form-group">
            <textarea class="form-control" ref="description" id="description" placeholder="Enter a description" rows="8"></textarea>
          </div>



          <button type="submit" @click.prevent="create" class="btn btn-primary block option_button">
            {{Submit}}
          </button>
        </form>
      </div>
    </template>


    <script>
    export default {
      props: {

      },
      data() {
        return {
          error: false,
          successful: false,
          errors: []
        };
      },
      methods: {
        create() {
          const formData = new FormData();
          formData.append("name", this.$refs.name.value);
          formData.append("description", this.$refs.description.value);
           formData.append("parent", 0);
           formData.append("region", "KSA");

          axios
            .post(sectors", formData)
            .then(response => {
              this.successful = true;
              this.error = false;
              this.errors = [];
            })
            .catch(error => {
              if (!_.isEmpty(error.response)) {
                if ((error.response.status = 422)) {
                  this.errors = error.response.data.errors;
                  this.successful = false;
                  this.error = true;
                }
              }
            });

          this.$refs.name.value = "";
          this.$refs.description.value = "";
        }
      }
    };
    </script>
