 <!-- File: ./resources/app/js/components/Update.vue -->
    <template>
    <div>
         <div class="row mb-5 mt-5">
         <div class="col-xl-12">
                <h2 style="color: #1AD9C7;" class="border-bottom pull-right d-inline-block pb-4">
                   {{Profile}} </h2>
            </div>
            <div class="col-xl-12">
                <h3 style="color: #000;" class="pull-right d-inline-block pb-4">
                    {{Name}} : {{firstName}} {{middleName}} {{lastName}} </h3>
            </div>
            <div class="col-xl-12">
                <h3 style="color: #000;" class="pull-right d-inline-block pb-4">
                    {{Email}}  : {{email}} </h3>
            </div>
            <div class="col-xl-12">
                <h3 style="color: #000;" class="pull-right d-inline-block pb-4">
                    {{Phone}}  : {{phone}} </h3>
            </div>
            <div class="col-xl-12">
                <h3 style="color: #000;" class="pull-right d-inline-block pb-4">
                   {{Fax}} :  {{fax}} </h3>
            </div>
            <div class="col-xl-12">
                <h3 style="color: #000;" class="pull-right d-inline-block pb-4">
                   {{Address}} :  {{address}} </h3>
            </div>
            <div class="col-xl-12">
                <h3 style="color: #000;" class="pull-right d-inline-block pb-4">
                    {{City}}  : {{city}} </h3>
            </div>
            <div class="col-xl-12">
                <h3 style="color: #000;" class="pull-right d-inline-block pb-4">
                    {{National_id}}  : {{national_id}} </h3>
            </div>
            <div class="col-xl-12">
                <h3 style="color: #000;" class="pull-right d-inline-block pb-4">
                    {{Cr}}  : {{cr}} </h3>
            </div>


        </div>

    </div>
    </template>

<script>
    export default {
      mounted() {
        this.getUser();
        this.Profile = window.transs('Profile',localStorage.getItem('locale'));
        this.Cr = window.transs('Commercial Number',localStorage.getItem('locale'));
        this.National_id = window.transs('National ID',localStorage.getItem('locale'));
        this.City = window.transs('City',localStorage.getItem('locale'));
        this.Address = window.transs('Address',localStorage.getItem('locale'));
        this.Phone = window.transs('Phone',localStorage.getItem('locale'));
        this.Email = window.transs('Email',localStorage.getItem('locale'));
        this.Name = window.transs('Name',localStorage.getItem('locale'));
        this.Fax = window.transs('Fax',localStorage.getItem('locale'));
      },

      data() {
        return {
          Profile:'',
          Name:'',
          firstName:'',
          middleName:'',
          lastName:'',
          Email:'',
          email:'',
          Phone:'',
          phone:'',
          Address:'',
          address:'',
          City:'',
          city:'',
          National_id:'',
          national_id:'',
          Cr:'',
          cr:'',
          Fax:'',
          fax:'',

        };
      },
      methods: {
         getUser() {

          axios.get("/ta2shera/public/api/user/get_profile").then(response => {

            this.firstName=response.data.firstName;
            this.middleName=response.data.middleName;
            this.lastName=response.data.lastName;
            this.email=response.data.email;
            this.phone=response.data.phone;
            this.fax=response.data.fax;
            this.city=response.data.city;
            this.address=response.data.address;
            this.national_id=response.data.national_number;
            this.cr=response.data.cr;

          });
        }

      }
    };
    </script>
    <style >

        .bg{
            position:relative;
            height: 300px;
            background-size:cover;
            /*box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.3);*/
            background-color: #f0f0f0;
            background-repeat: no-repeat;
            background-position: center;
            color:#263238;
            text-align: center;
            background-size: cover;
            background:url(/img/background_apps.svg);
            color: #fff;
        }
         .bg span {
            position: absolute;
            bottom: 8px;
            left: 16px;
        }
        .bottom_left{
            color: #fff;
        }


    </style>
