<!-- File: ./resources/app/js/components/Read.vue -->
    <template>

        <div id="users">
 <data-table


     url="/ta2shera/public/api/admin/order/all"
    ref="datatable"
    :per-page="perPage"
    :columns="columns"

    >
</data-table>
        </div>
    </template>
<script>
 import UpdateButton from '../users/datatable/UpdateButton.vue';
    export default {

    data() {
        return {
            perPage: ['10', '25', '100'],

           // url: "/ta2shera/public/api/admin/list_admins",
           // data:{},
         /*  tableProps: {
                search: '',
                length: 10,
                column: 'id',
                dir: 'asc'
            },*/
            columns: [
                // {
                //     label: 'ID',
                //     name: 'id',
                //     filterable: true,
                //     orderable:true,
                // },
                {
                    label:window.transs('Sector',localStorage.getItem('locale')),
                    name: 'sector.name',
                    filterable: true,
                },
                {
                    label:window.transs('Order Title',localStorage.getItem('locale')),
                    name: 'title',
                    filterable: true,
                },
                                {
                    label:window.transs('Order Detials',localStorage.getItem('locale')),
                    name: 'details',
                    filterable: true,
                },
                 {
                    label:window.transs('Trader Name',localStorage.getItem('locale')),
                    name: 'trader.name',
                    filterable: true,
                },
                {
                   label:window.transs('Trader Email',localStorage.getItem('locale')),
                    name: 'trader.email',
                    filterable: true,
                },
                {
                    label: window.transs('Date',localStorage.getItem('locale')),
                    name: 'created_at',
                    filterable: true,
                },
                {
                label: '',
                name: window.transs('List Requests',localStorage.getItem('locale')),
                filterable: false,
                component: UpdateButton,
                event: "click",
                handler: this.view_requests,
                classes: {
                    'btn': true,
                    'btn-primary': true,
                    'btn-sm': true,
                },
                }



            ]
        }
    },
    components: {
        UpdateButton,
    },
    methods: {
       getData(url = this.url, options = this.tableProps) {
            axios.get(url, {
                params: options
            })
            .then(response => {
                this.data = response.data;
            })
            // eslint-disable-next-line
            .catch(errors => {
                //Handle Errors
            })
        },

       view_requests(data){
             this.$router.push('/ta2shera/public/admin/traders/view_requests/'+ data.id) ;
        }
    },
    created: function(){
            this.getData(this.url);
        }
}

</script>
<style>
.table td, .table th{
    text-align: center !important;
}
</style>
