<!-- File: ./resources/app/js/components/Read.vue -->
    <template>
<div>
        <div :class="['form-group m-1 p-3 alert-danger' ]" v-if="errors.length >0">
        <div  v-for="error in errors">
                        <span  class="label label-danger" style="font-size: 20px;">
                                {{error}}

                    </span>
                        <br>
                    </div>
        </div>
  <div class="row mb-5 mt-5">
         <div class="col-xl-12">
                <h2 style="color: #1AD9C7;" class="border-bottom pull-right d-inline-block pb-4">
                   {{Order_Details}} </h2>
            </div>
            <div class="col-xl-12">
                <h3 style="color: #000;" class="pull-right d-inline-block pb-4">
                    {{Name}} : {{firstName}} {{middleName}} {{lastName}} </h3>
            </div>
             <div class="col-xl-6">
                <h3 style="color: #000;" class="pull-right d-inline-block pb-4">
                    {{Email}} : {{email}} </h3>
            </div>
            <div class="col-xl-6">
                <h3 style="color: #000;" class="pull-right d-inline-block pb-4">
                    {{Phone}} : {{phone}} </h3>
            </div>
              <div class="col-xl-6">
                <h3 style="color: #000;" class="pull-right d-inline-block pb-4">
                    {{CR}} : {{cr}} </h3>
            </div>
              <div class="col-xl-6">
                <h3 style="color: #000;" class="pull-right d-inline-block pb-4">
                    {{IR}} : {{ir}} </h3>
            </div>
            <div class="col-xl-6">
                <h3 style="color: #000;" class="pull-right d-inline-block pb-4">
                    {{FactoryName}} : {{factoryName}} </h3>
            </div>
            <div class="col-xl-6">
                <h3 style="color: #000;" class="pull-right d-inline-block pb-4">
                    {{FactorySymbol}} : {{factorySymbol}} </h3>
            </div>
             <div class="col-xl-6">
                <h3 style="color: #000;" class="pull-right d-inline-block pb-4">
                    {{City}} : {{city}} </h3>
            </div>
                 <div class="col-xl-6">
                <h3 style="color: #000;" class="pull-right d-inline-block pb-4">
                    {{status}} : {{print_status}} </h3>
            </div>

<table class="table table-bordered">
            <thead class="text text-success">
                <tr style="border:none !important;">
                    <th style="font-size:14px !important; " >{{serial}}</th>
                    <th style="font-size:14px !important; " >{{EmployeeName}}</th>
                    <th style="font-size:14px !important ; " > {{PassportNumber}}</th>
                    <th style="font-size:14px !important; " >{{VisaNumber}}</th>
                    <th style="font-size:14px !important ;" colspan="2">{{Path}}</th>



                </tr>

                  <tr>
                    <th style="font-size:14px !important; border:none !important;" ></th>
                    <th style="font-size:14px !important; border:none !important;" ></th>
                    <th style="font-size:14px !important; border:none !important;" ></th>
                    <th style="font-size:14px !important; border:none !important;" ></th>
                    <th style="font-size:14px !important;" >{{From}}</th>
                    <th style="font-size:14px !important; " >{{To}}</th>


                </tr>


                </thead>

                <tbody>
                     <tr v-for="(detail,index) in details">
                       <td>{{index + 1}}</td>
                    <td>
                        {{detail.employeeName}}
                    </td>
                    <td>

                    {{detail.passNumber}}
                    </td>
                    <td>

                     {{detail.visaNumber}}
                    </td>
                    <td>

                     {{detail.from}}
                    </td>

                    <td>

                       {{detail.to}}
                    </td>

                </tr>
                </tbody>
</table>
    <div class="col-xl-12">
                <h2 style="color: #1AD9C7;" class="border-bottom pull-right d-inline-block pb-4" v-if="status =='accepted'">
                   {{accept_number}} </h2>

            </div>
    <div class="col-xl-12">
                <h2 style="color: #1AD9C7;" class="border-bottom pull-right d-inline-block pb-4">
                   {{Attachment}} </h2>

            </div>
              <div class="col-xl-12">

                    <p v-for="(link,index) in url_link">
                   <a v-bind:href="attach_link+link" target="_blank" >
                        {{ link }}
                    </a>
                    </p>
            </div>
            <div class="col-xl-12">
                <h2 style="color: #1AD9C7;" class="border-bottom pull-right d-inline-block pb-4">
                   {{evaluator_comment}} </h2>

            </div>
              <div class="col-xl-12">
                <h2>{{comment}} </h2>

            </div>
                  <div class="col-xl-12">
                <h2 style="color: #1AD9C7;" class="border-bottom pull-right d-inline-block pb-4" v-if="Status =='accepted'">
                   {{accept_number}} </h2>

            </div>
              <div class="col-xl-12" v-if="Status =='accepted'">
                <h2>{{data_accept_number}} </h2>

            </div>
                           <div class="col-xl-12">
                 <h2 style="color: #1AD9C7;" class="border-bottom pull-right d-inline-block pb-4" v-if="Acceptance_date" >
            {{acceptance_date}} </h2>

        </div>
            <div class="col-xl-12" v-if="Acceptance_date" >
                <h2>{{Acceptance_date}} </h2>

            </div>
            <div class="col-xl-12">
                 <h2 style="color: #1AD9C7;" class="border-bottom pull-right d-inline-block pb-4" v-if="Certifier_comment" >
            {{certifier_comment}} </h2>

        </div>
            <div class="col-xl-12" v-if="Certifier_comment" >
                <h2>{{Certifier_comment}} </h2>

            </div>
                    </div>



    <form>

            <div class="col-xl-12">

        <input type="text" ref="accept_number" :placeholder="accept_number" style="width:100%;font-size:18px;"  v-if="Status =='initial_acceptancee'" />
        </div>
        <br>
         <div class="col-xl-12">
        <input type="hidden" ref="user_id" />
        <textarea ref="comments" :placeholder="evaluator_comment" style="width:100%;font-size:18px;" rows="7" cols="50"  v-if="Status =='processing' || Status =='new' || Status =='returned_from_user'||Status =='processed'|| Status =='edited_by_user' || Status =='return_to_evaluator'"> </textarea>

        </div>


<div class="row">
     <div class="col-xl-4">
     </div>
     <div class="col-xl-4">
     </div>
      <div class="col-xl-4">
  <button type="submit" @click.prevent="acceptRequest" class="btn btn-success btn-sm" v-if="Status =='processing' || Status =='new' || Status =='returned_from_user'||Status =='processed'|| Status =='edited_by_user'">
            {{initial_accept}}
    </button>

      <button  type="submit" @click.prevent="refuseRequest" class="btn btn-danger btn-sm" v-if="Status =='processing' || Status =='new' || Status =='returned_from_user'||Status =='processed'|| Status =='edited_by_user'" >
            {{refuse}}
    </button>

       <button  type="submit" @click.prevent="returnRequest" class="btn btn-warning btn-sm" v-if="Status =='processing' || Status =='new' || Status =='returned_from_user'||Status =='processed'|| Status =='edited_by_user' || Status =='return_to_evaluator'" >
            {{Return}}
    </button>
      </div>
</div>





    </form>
<div class="row" style="direction:ltr;" >
 <!-- <button   @click="print_ar()" class="btn btn-primary btn-sm" v-if="Status !='processing'" style="margin:1%;" >
            {{print}}
    </button> -->
    <button  type="submit" @click.prevent="finalAccept" class="btn btn-success btn-sm" v-if="Status =='initial_acceptancee'" style="margin:1%;">
            {{final_accept}}
    </button>
</div>




</div>
    </template>
<script>
    import UpdateButton from '../users/datatable/UpdateButton.vue';
    import AcceptButton from '../users/datatable/AcceptButton.vue';
    import RefuseButton from '../users/datatable/RefuseButton.vue';
    import Modal from '../datatable/Modal.vue';
    import ModalButton from '../datatable/ModalButton.vue';

    export default {
    mounted(){
        this.setUrl();
        this.Title = window.transs('Title',localStorage.getItem('locale')),
        this.Submit = window.transs('Submit',localStorage.getItem('locale'));
        this.Order_Details = window.transs('Order Details',localStorage.getItem('locale'));
        this.Details = window.transs('Details',localStorage.getItem('locale'));
        this.From = window.transs('From',localStorage.getItem('locale'));
        this.Email = window.transs('Email',localStorage.getItem('locale'));
        this.Request_Details = window.transs('Request Details',localStorage.getItem('locale'));
        this.Price = window.transs('Price',localStorage.getItem('locale'));
        this.Comments =window.transs('Comments',localStorage.getItem('locale'));
        this.Product = window.transs('Product Name',localStorage.getItem('locale'));
        this.Quantity = window.transs('Quantity',localStorage.getItem('locale'));
        this.serial = window.transs('Serial',localStorage.getItem('locale'));
        this.unit = window.transs('Unit',localStorage.getItem('locale'));
        this.code = window.transs('Code',localStorage.getItem('locale'));
        this.time = window.transs('Period(day)',localStorage.getItem('locale'));
        this.status = window.transs('Status',localStorage.getItem('locale'));


        this.Phone = window.transs('Phone',localStorage.getItem('locale'));
         this.Name = window.transs('Name',localStorage.getItem('locale'));
         this.initial_accept = window.transs('Initial Acceptance',localStorage.getItem('locale'));
         this.refuse = window.transs('Decline',localStorage.getItem('locale'));
         this.CR = window.transs('Commercial Number',localStorage.getItem('locale'));
         this.IR = window.transs('Industrial License No.',localStorage.getItem('locale'));
         this.FactoryName = window.transs('Factory Name',localStorage.getItem('locale'));
         this.FactorySymbol = window.transs('Factory Symbol',localStorage.getItem('locale'));
         this.EmployeeName = window.transs('Employee Name',localStorage.getItem('locale'));
        this.PassportNumber = window.transs('Passport Number',localStorage.getItem('locale'));
        this.VisaNumber = window.transs('Visa Number',localStorage.getItem('locale'));
        this.Path = window.transs('Itinerary',localStorage.getItem('locale'));
        this.From = window.transs('From',localStorage.getItem('locale'));
        this.To = window.transs('To',localStorage.getItem('locale'));
        this.Attachment = window.transs('Attachments',localStorage.getItem('locale'));
        this.evaluator_comment = window.transs('Evaluator Comment',localStorage.getItem('locale'));
        this.print = window.transs('Print',localStorage.getItem('locale'));
        this.Return = window.transs('Return',localStorage.getItem('locale'));
        this.v_comments = window.transs('You must write a comment',localStorage.getItem('locale'));
        this.final_accept = window.transs('Final Accept',localStorage.getItem('locale'));
        this.accept_number = window.transs('Accept Number',localStorage.getItem('locale'));
        this.City = window.transs('City',localStorage.getItem('locale'));
        this.evaluator_comment = window.transs('Evaluator Comment',localStorage.getItem('locale'));
         this.accept_number = window.transs('Accept Number',localStorage.getItem('locale'));
         this.acceptance_date = window.transs('Acceptance Date',localStorage.getItem('locale'));
         this.certifier_comment = window.transs('Certifier Comment',localStorage.getItem('locale'));






    },

    data() {
        return {
              name:'',
              Name:'',
          title:'',
          details:'',
          email:'',
          id:'',
          Order_Details:'',
          Submit:'',
          Details:'',
          From:'',
          Email:'',
          Title:'',
          Price:'',
          Request_Details:'',
          Comments:'',
          error: false,
          successful: false,
            Product:'',
          Quantity:'',
          serial:'',
          code:'',
          unit:'',
          requestedQuantity:'',
          time:'',
          errors: [],
          comments:'',
          Status:'',
          status:'',
          trader_details:'',
          Phone:'',
          trader_name:'',
          trader_email:'',
          trader_phone:'',
          order_details:[],
          request_details:[],
          initial_accept:'',
          refuse:'',
          firstName:'',
          middleName:'',
          lastName:'',
          cr:'',
          CR:'',
          ir:'',
          IR:'',
          phone:'',
          factoryName:'',
          FactoryName:'',
          factorySymbol:'',
          FactorySymbol:'',
           EmployeeName:'',
          PassportNumber:'',
          VisaNumber:'',
          Path:'',
          From:'',
          To:'',
          Attachment:'',
          attach_link:'',
          url_link:[],
          evaluator_comment:'',
          print:'',
          Return:'',
          v_comments:'',
          final_accept:'',
          accept_number:'',
          City:'',
          city:'',
              evaluator_comment:'',
          comment:'',
          print_status:'',
          accept_number:'',
          data_accept_number:'',
              certifier_comment :'',
          Certifier_comment :'',
          Acceptance_date:'',
          acceptance_date:'',
          Edited_by_user :'',

        }
    },
      components: {
        UpdateButton,
        Modal,
        ModalButton,
        AcceptButton,
        RefuseButton,

    },


    methods: {
          setUrl() {
              let route = this.$route;
              let id = route['params']['id'];


              axios.get("/ta2shera/public/api/evaluators/get_request/" + id).then(response => {

                    this.firstName= response.data.request.firstName;
                    this.middleName= response.data.request.middleName;
                    this.lastName= response.data.request.lastName;
                    this.email= response.data.request.email;
                    this.phone= response.data.request.phone;
                    this.cr= response.data.request.cr;
                    this.ir= response.data.request.ir;
                    this.factoryName = response.data.request.factory_name;
                    this.factorySymbol = response.data.request.factory_symbol;
                    this.details = response.data.request.details;
                    this.attach_link = "/ta2shera/public/formuploads/";
                    this.url_link = response.data.request.attachments;
                    this.Status = response.data.request.status;
                    var statu = response.data.request.status;
                     this.Certifier_comment = response.data.request.certifier_comment;
                    this.Acceptance_date = response.data.request.accept_number_date;

                    this.comment = response.data.request.response_comments;
                    this.data_accept_number = response.data.request.accept_number;


                    if(statu =='processing'){
                         this.print_status= window.transs('Processing',localStorage.getItem('locale'));


                    }else if(statu =='new'){
                         this.print_status= window.transs('New',localStorage.getItem('locale'));
                    }else if(statu =='accepted'){
                             this.print_status= window.transs('Accepted',localStorage.getItem('locale'));
                    }else if(statu =='processed'){

                        this.print_status= window.transs('Processed',localStorage.getItem('locale'));


                    }else if(statu =='refused'){
                        this.print_status= window.transs('Refused',localStorage.getItem('locale'));


                    }else if(statu =='returned'){
                        this.print_status= window.transs('Returned',localStorage.getItem('locale'));


                    }else if(statu =='initial_acceptance'){
                        this.print_status= window.transs('Initial Acceptance',localStorage.getItem('locale'));
                    }else if(statu =='return_to_evaluator'){
                        this.print_status= window.transs('Return to evaluator',localStorage.getItem('locale'));
                    }else if(statu =='edited_by_user'){
                        this.print_status= window.transs('Edited By User',localStorage.getItem('locale'));
                    }



                     if(response.data.city){
                          if (localStorage.getItem('locale')) {


                        if (localStorage.getItem('locale') == 'ar') {
                           this.city = response.data.city.name_ar;
                        } else {
                            this.city = response.data.city.name_en;
                        }


                        }else{
                            this.city = response.data.city.name_ar;
                        }

                      }

                    if(response.data.request.status=='new'){
                        this.set_processing();
                    }


             });
        },
        updateSelectedModal(data) {
            this.selectedRow = data;
            console.log(data);

        },
        acceptRequest() {
            let route = this.$route;
            let id = route['params']['id'];
            var formData = new FormData();
            formData.append("comment", this.$refs.comments.value);

            axios.post("/ta2shera/public/api/requests/accept/" + id, formData).then();
           // window.open("/ta2shera/public/api/requests/accept/" + id);
          // window.open("/PDF/Contract_ar"+ id+".pdf")
          window.location.reload();


        },

    checkForm(e) {


      this.errors = [];

      if (!this.$refs.comments.value) {
        this.errors.push(this.v_factoryName);
        window.scrollTo(0,0);

      }


      e.preventDefault();

       if (this.errors.length == 0) {
        this.add();
      }
    },


        refuseRequest(e) {
            this.errors = [];

                if (!this.$refs.comments.value) {
                    this.errors.push(this.v_comments);
                    window.scrollTo(0,0);

                }
                e.preventDefault();
                 if (this.errors.length == 0) {
                    let route = this.$route;
                    let id = route['params']['id'];
                    var formData = new FormData();
                    formData.append("comment", this.$refs.comments.value);
                    axios.post("/ta2shera/public/api/evaluators/set_refused/" +id , formData).then();
                    window.location.reload();
                }

        },
           returnRequest(e) {
               this.errors = [];

                if (!this.$refs.comments.value) {
                    this.errors.push(this.v_comments);
                    window.scrollTo(0,0);

                }
                e.preventDefault();
                 if (this.errors.length == 0) {
                     let route = this.$route;
                    let id = route['params']['id'];
                    var formData = new FormData();
                    formData.append("comment", this.$refs.comments.value );
                    axios.post("/ta2shera/public/api/evaluators/set_returned/" +id, formData).then();
                    window.location.reload();
                }


        },
          finalAccept(e) {
            this.errors = [];

                if (!this.$refs.accept_number.value) {
                    this.errors.push(this.v_comments);
                    window.scrollTo(0,0);

                }
                e.preventDefault();
                 if (this.errors.length == 0) {
                    let route = this.$route;
                    let id = route['params']['id'];
                    var formData = new FormData();
                    formData.append("accept_number", this.$refs.accept_number.value);
                     formData.append("comment", this.$refs.comments.value);
                    axios.post("/ta2shera/public/api/evaluators/set_final/" +id , formData).then();
                    window.location.reload();
                }

        },
        set_processing(){
               let route = this.$route;
            let id = route['params']['id'];
            axios.get("/ta2shera/public/api/evaluators/set_processing/" +id).then();

        },
        print_ar(){
             let route = this.$route;
            let id = route['params']['id'];
            axios.get("/ta2shera/public/evaluators/print_ar/" +id).then();
            window.open("/ta2shera/public/evaluators/print_ar/" +id)
             window.location.reload();

        }



    },


}

</script>
<style>
.table td, .table th{
    text-align: center !important;
}
.btn-sm, .btn-group-sm > .btn {
    font-size: 16px !important;
}
</style>
