<template>
    <div class="modal" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="text-align:center">
                <div class="modal-header">
                    <h5 class="modal-title">Request #{{ row.id }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
               <div class="modal-body">
                    <h5> {{Order_details }}</h5>
                    <p class="modal_text"> {{title}} : {{row.order.title}} </p>
                    <p class="modal_text"> {{Details}} : {{row.order.details}} </p>
                    <hr style="border-top: 1px solid rgba(255,255,255,.1);">
                    <h5> {{Requester_details}} </h5>
                    <p class="modal_text"> {{Name}} : {{ row.from.name }}</p>
                    <p class="modal_text"> {{Email}}: {{ row.from.email }}</p>
                    <hr style="border-top: 1px solid rgba(255,255,255,.1);">
                    <h5>{{Request_details}} </h5>
                    <p class="modal_text"> {{Price}} : {{ row.price }}</p>
                    <p class="modal_text"> {{Details}}: {{ row.details }}</p>
                    <p class="modal_text"> {{Status}}: {{ row.status }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{Close}}</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
         mounted(){
         this.Order_details = window.transs('Order Detials',localStorage.getItem('locale')),
        this.Requester_details = window.transs('Requester Details',localStorage.getItem('locale')),
        this.Request_details = window.transs('Request Details',localStorage.getItem('locale')),
        this.Close = window.transs('Close',localStorage.getItem('locale')),
        this.Request = window.transs('Request',localStorage.getItem('locale'));
        this.Details = window.transs('Details',localStorage.getItem('locale'));
        this.Name = window.transs('Name',localStorage.getItem('locale'));
        this.Email = window.transs('Email',localStorage.getItem('locale'));
        this.Status = window.transs('Status',localStorage.getItem('locale'));
        this.Price = window.transs('Price',localStorage.getItem('locale'));
        this.title = window.transs('title',localStorage.getItem('locale'));

        },
         data(){
            return{
                Order_details:'',
                Requester_details:'',
                Request_details:'',
                Request:'',
                Close:'',
                title:'',
                Details:'',
                Price:'',
                Name:'',
                Email:'',
                Status:'',          }
        },
        props: {
            row: {
                type: Object,
                default: () => ({}),
            }
        }
    }
</script>
<style>
    .modal-header{
        background: #1AD9C7;
    }
    .modal-title{
        color:#fff;
    }
    .modal-body{
        background: #202B33;
        color: #fff;
    }
    .modal-footer{
        background: #1AD9C7;
    }
</style>
