<template>
  <div>
   <div class="text-center mb-5 mt-5">
        <div class="circle-shape-icon position-relative shadow mx-auto">

                <img class="center-box" src="/ta2shera/public/assets/img/svg/user.svg" alt="logo-user">

        </div>
        <h1 class="h2 mt-4 text-light text-center" style="color:#000 !important; ">{{ userName }}</h1>
        <hr class="mr-4 ml-4 bg-secondary">
    </div>
   <div class="side-menu dash-menu" v-if="meta == 'system_user'">
                            <ul>
                                <li><a href="/ta2shera/public/admin/dashboard">
                                        {{dashboard}}                                 </a>
                                </li>
                                <li>
                                    <a href="/ta2shera/public/admin/admins/list">
                                        {{admnins}}                                                                          </a>
                                </li>
                                <!-- <li><a href="/ta2shera/public/admin/admins/add">
                                        {{add_admin}}                                 </a>
                                </li> -->
                                <li>
                                    <a href="/ta2shera/public/admin/users">
                                        {{users}}                                                                                                                    </a>
                                </li>
                                <li><a href="/ta2shera/public/admin/evaluators/list">
                                        {{evaluators}}                                  </a>
                                </li>
                                 <li><a href="/ta2shera/public/admin/certifiers/list">
                                        {{certifiers}}                                  </a>
                                </li>
                            </ul>
                        </div>


                  <div class="side-menu dash-menu" v-if="meta == 'factory'">
                            <ul>
                                <li><a href="/ta2shera/public/user/dashboard">
                                        {{dashboard}}                                 </a>
                                </li>
                                <li><a href="/ta2shera/public/user/sectors/get_user_sectors">
                                        {{sectors}}                                    </a>
                                </li>
                                <li>
                                    <a href="/ta2shera/public/user/request/my_requests">
                                        {{requests}}                                                                          </a>
                                </li>

                            </ul>
                   </div>

                  <div class="side-menu dash-menu" v-if="meta =='user'">
                            <ul>
                                <li><a href="/ta2shera/public/user/dashboard">
                                        {{dashboard}}                                 </a>
                                </li>
                                <li><a href="/ta2shera/public/user/request/TermsAndConditions">
                                        {{place_request}}                                    </a>
                                </li>
                                <li>
                                    <a href="/ta2shera/public/user/request/my_requests">
                                        {{my_requests}}                                                                          </a>
                                </li>



                            </ul>
                   </div>

                    <div class="side-menu dash-menu" v-if="meta == 'evaluator'">
                            <ul>
                                <li><a href="/ta2shera/public/user/dashboard">
                                        {{dashboard}}                                 </a>
                                </li>

                                <li>
                                    <a href="/ta2shera/public/user/evaluators/requests">
                                        {{requests}}                                                                          </a>
                                </li>

                            </ul>
                   </div>

                    <div class="side-menu dash-menu" v-if="meta == 'super_evaluator'">
                            <ul>
                                <li><a href="/ta2shera/public/user/dashboard">
                                        {{dashboard}}                                 </a>
                                </li>

                                <li>
                                    <a href="/ta2shera/public/user/certifiers/requests">
                                        {{requests}}                                                                          </a>
                                </li>

                            </ul>
                   </div>



  </div>
</template>


<script>


export default {

  data() {
    return {
      show: true,
      dashboard :'',
      admnins:'',
      users:'',
      sectors:'',
      factories:'',
      quarries:'',
      evaluators:'',
      userName:'',
       meta:'',
       requests:'',
       orders:'',
       profile:'',
       place_request:'',
       my_requests:'',
       certifiers:'',

    };
  },
  mounted(){
      this.dashboard = window.transs('Dashboard',localStorage.getItem('locale'));
      this.admnins = window.transs('Admins',localStorage.getItem('locale'));
      this.users = window.transs('Users',localStorage.getItem('locale'));
      this.sectors = window.transs('Sectors',localStorage.getItem('locale'));
      this.factories = window.transs('Factories',localStorage.getItem('locale'));
      this.quarries = window.transs('Quarries',localStorage.getItem('locale'));
      this.evaluators = window.transs('Evaluators',localStorage.getItem('locale'));
      this.userName = localStorage.getItem('username');
      this.requests =  window.transs('Requests',localStorage.getItem('locale'));
      this.orders = window.transs('Orders',localStorage.getItem('locale'));
      this.profile = window.transs('Profile',localStorage.getItem('locale'));
      this.place_request = window.transs('Place Request',localStorage.getItem('locale'));
      this.my_requests = window.transs('My Requests',localStorage.getItem('locale'));
      this.certifiers = window.transs('Certifiers',localStorage.getItem('locale'));

      this.getUser();

  },
  methods: {
    toogle() {
      this.show = !this.show;
    },
      getUser(){
             axios.get("/ta2shera/public/api/user/get_type").then(response=>{
             this.meta=response.data;

                 });
        }
  }
};
</script>


<style>
@import "https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap";

.mobile-open {
  display: none;
}

.sidenav-logo-button-container {
  padding: 0px;
  height: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 20px;
}

.sidenav-logo-container {
  display: block;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  height: 90px;
  width: 90px;
  background-color: black;
  background: url("https://res.cloudinary.com/mycoal90/image/upload/v1570911570/webdev/bgs1a_dngwpr.png");
  background-size: contain;
  padding-bottom: 10px;
  background-repeat: no-repeat;
  background-position: center;
  transition: filter 0.5s;
}

.sidenav-logo-container:hover {
  filter: drop-shadow(0 0 0.75rem rgba(255, 0, 157, 0.822));
}

.sidenav ul {
  position: relative;
  top: 10px;
  width: 100%;
  list-style-type: none;
  padding: 0px;
  margin: 0 auto;
}

.sidenav li {
  background-color: white;
  border-top: 1px solid rgb(121, 121, 121);
  transition: 0.3s;
}

.sidenav {
  height: 1100px;
  width: 290px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  padding-top: 20px;
  font-family: "Josefin Sans", sans-serif;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #000000;
  display: block;
  font-size: 18px;
}

.sidenav a:hover {
  color: #cc912a;
}

.sidenav li:hover {
  background-color: #f0eeee;
}

#app {
  margin-left: 290px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-width: 800px) {
  .sidenav {
    display: block;
    width: 100%;
    height: auto;

    padding: 0px;
  }
  .sidenav ul {
    display: block;
    border-bottom-style: solid;
  }
  #app {
    margin-left: -290px;
  }
  .sidenav-logo-button-container {
    padding: 0px;
  }

  .mobile-open {
    display: block;
    font-size: 22px;
    cursor: pointer;
    color: black;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
</style>
