<template >
<div>
 <sidebar-menu v-if="meta == 'system_user'" :menu="menu" :collapsed=true :rtl="rtl" />
 <sidebar-menu v-if="meta == 'factory'" :menu="factory_menu" :collapsed=true :rtl="rtl" />
 <sidebar-menu v-if="meta == 'trader'" :menu="trader_menu" :collapsed=true :rtl="rtl"/>
 <sidebar-menu v-if="meta == 'quarry'" :menu="quarry_menu" :collapsed=true :rtl="rtl" />
 </div>
</template>
<style>
    @font-face {
    font-family: 'fas';
    src: url('/fonts/fa-regular-400.ttf');
}

.v-sidebar-menu .vsm--toggle-btn:after{

        font-family: 'fas' !important;
        content: '\f35a' !important;

}
.v-sidebar-menu .vsm--arrow:after{
    font-family: 'fas' !important;
    content: '\f150' !important;
}
.v-sidebar-menu{
    width: 230px;
    background: #263238;
    font-family: 'marai';

}
.v-sidebar-menu .vsm--mobile-item  {
    width: 230px !important;

}
.v-sidebar-menu .vsm--link_level-1 .vsm--icon{
    background-color: #1AD9C7;
}
.v-sidebar-menu .vsm--link_level-1 .vsm--icon:hover{
    background-color: #1AD9C7;
}
.v-sidebar-menu .vsm--toggle-btn{
    background-color: #1AD9C7;
}

.v-sidebar-menu .vsm--mobile-bg {
    background-color: #1AD9C7;
    font-family: 'marai';

}

.v-sidebar-menu.vsm_collapsed .vsm--link_level-1.vsm--link_hover .vsm--icon, .v-sidebar-menu.vsm_collapsed .vsm--link_level-1:hover .vsm--icon{
     background: #1AD9C7;
}
.v-sidebar-menu .vsm--dropdown>.vsm--list {
    background: #a38a48;
}
.v-sidebar-menu.vsm_expanded .vsm--item_open .vsm--link_level-1{
    background-color: #1AD9C7;
}
.v-sidebar-menu.vsm_expanded .vsm--item_open .vsm--link_level-1 .vsm--icon{
    background-color: #263238;
}
.v-sidebar-menu .vsm--link_level-1.vsm--link_exact-active, .v-sidebar-menu .vsm--link_level-1.vsm--link_active{
    -webkit-box-shadow: 3px 0px 0px 0px #263238 inset;
    box-shadow: 3px 0px 0px 0px #263238 inset;
}

</style>
<script>
const logoImg = {
    data() {
        return {
            src: '../img/logo_en_wh.png'
        }
    },
    template: '<img :src="src" style=width:50%;>'
}
    export default {
     mounted() {
        this.getUser();
      },

        data() {
            return {
                meta:'',
                rtl:'',
                menu: [
                    {
                        header: true,
                        //component: logoImg,
                        title: 'Menu',
                        hiddenOnCollapse: true
                    },
                    {
                        href: '/admin/dashboard',
                        title:  window.transs('Dashboard',localStorage.getItem('locale')),
                        icon: 'fa fa-delicious',

                    },{
                        href: '/admin/admins/list',
                        title:  window.transs('Admins',localStorage.getItem('locale')),
                        icon: 'fa fa-user',
                        child: [
                            {
                                href: '/admin/admins/add',
                                title: window.transs('Add',localStorage.getItem('locale')),
                            }
                        ]
                    },

                    {
                        href: '/admin/users',
                        title: window.transs('Users',localStorage.getItem('locale')),
                        icon: 'fa fa-user',
                    },

                    {
                        href: '/admin/sectors',
                        title: window.transs('Sectors',localStorage.getItem('locale')),
                        icon: 'fa fa-database',
                        child: [
                            {
                                href: '/admin/sectors/create',
                                title: window.transs('Add',localStorage.getItem('locale')),
                            }
                        ]
                    },
                      {
                        href: '/admin/factory/list',
                        title: window.transs('Factories',localStorage.getItem('locale')),
                        icon: 'fa fa-building',
                        child: [
                            {
                                href: '/admin/factories/create',
                                title: window.transs('Add',localStorage.getItem('locale')),
                            },
                             {
                                href: '/admin/factories/requests',
                                title: window.transs('Requests',localStorage.getItem('locale')),
                            }
                        ]
                    },

                       {
                        href: '/admin/quarries/list',
                        title: window.transs('Quarries',localStorage.getItem('locale')),
                        icon: 'fa fa-gavel',
                        child: [
                            {
                                href: '/admin/quarries/create',
                                title: window.transs('Add',localStorage.getItem('locale')),
                            },
                             {
                                href: '/admin/quarries/requests',
                                title: window.transs('Requests',localStorage.getItem('locale')),
                            }
                        ]
                    },

                       {
                        href: '/admin/traders/list',
                        title: window.transs('Traders',localStorage.getItem('locale')),
                        icon: 'fa fa-briefcase',
                        child: [
                            {
                                href: '/admin/traders/create',
                                title: window.transs('Add',localStorage.getItem('locale')),
                            },
                             {
                                href: '/admin/traders/orders',
                                title: window.transs('Orders',localStorage.getItem('locale')),
                            }
                        ]
                    },
                ],

                 factory_menu: [
                    {
                        header: true,
                        //component: logoImg,
                        title: 'Menu',
                        hiddenOnCollapse: true
                    },
                    {
                        href: '/user/dashboard',
                        title: window.transs('Dashboard',localStorage.getItem('locale')),
                        icon: 'fa fa-delicious',

                    },
                     {
                        href: '/user/sectors/get_user_sectors',
                         title: window.transs('Sectors',localStorage.getItem('locale')),
                        icon: 'fa fa-database',
                    },
                      {
                        href: '#',
                        title: window.transs('Factories',localStorage.getItem('locale')),
                        icon: 'fa fa-list',
                        child: [
                            // {
                            //     href: '/admin/factories/create',
                            //     title: 'Create'
                            // },
                             {
                                href: '/user/request/my_requests',
                               title: window.transs('Requests',localStorage.getItem('locale')),
                            }
                        ]
                    },

                                      ],
                 quarry_menu: [
                    {
                        header: true,
                        //component: logoImg,
                        title: 'Menu',
                        hiddenOnCollapse: true
                    },
                    {
                        href: '/user/dashboard',
                        title: window.transs('Dashboard',localStorage.getItem('locale')),
                        icon: 'fa fa-delicious',

                    },
                     {
                        href: '/user/sectors/get_user_sectors',
                         title: window.transs('Sectors',localStorage.getItem('locale')),
                        icon: 'fa fa-database',
                    },
                      {
                        href: '#',
                        title: window.transs('Quarries',localStorage.getItem('locale')),
                        icon: 'fa fa-list',
                        child: [
                            // {
                            //     href: '/admin/factories/create',
                            //     title: 'Create'
                            // },
                             {
                                href: '/user/request/my_requests',
                               title: window.transs('Requests',localStorage.getItem('locale')),
                            }
                        ]
                    },

                                      ],
                    trader_menu: [
                    {
                        header: true,
                        //component: logoImg,
                        title: 'Menu',
                        hiddenOnCollapse: true
                    },
                    {
                        href: '/user/dashboard',
                        title: window.transs('Dashboard',localStorage.getItem('locale')),
                        icon: 'fa fa-delicious',

                    },
                    {
                        href: '/user/sectors',
                         title: window.transs('Sectors',localStorage.getItem('locale')),
                        icon: 'fa fa-database',
                    },
                       {
                        href: '#',
                        title: window.transs('Traders',localStorage.getItem('locale')),
                        icon: 'fa fa-briefcase',
                        child: [
                             {
                                href: '/user/traders/my_orders',
                               title: window.transs('Orders',localStorage.getItem('locale')),
                            }
                        ]
                    },
                ],


            }
        },
            methods: {
                getUser(){
                 axios.get("/ta2shera/public/api/user/get_type").then(response=>{
                     this.meta=response.data;
                 });

                  if (localStorage.getItem('locale')) {
                      if(localStorage.getItem('locale')=='ar'){
                          this.rtl=true;
                      }else{
                          this.rtl=false;
                      }
                } else {
                this.$lang.setLocale('ar');
                    this.rtl=true;
                }

                },

            }
    }
</script>

